{% extends 'templates/app.twig' %}

{% block main %}
	<form action="{{path_for('auth.reset-password')}}" method="post">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<h3><img src="https://png.icons8.com/windows/35/333333/synchronize.png"> RESET PASSWORD</h3>
				<hr>
				<h4><span class="green-text">Don't you worry. We will reset your password in a very moment.</span></h4>
				<div class="form-group {{ errors.email_address ? 'has-error' : '' }}">
					<label for="email">Email Address</label>
					<div class="input-group">
						<span class="input-group-addon">
							<img src="https://png.icons8.com/windows/20/333333/secured-letter.png">
						</span>
						<input class="form-control input-lg" id="email" type="text" name="email_address" placeholder="Enter email address" value="{{ old.email_address }}">
					</div>
					{% if errors.email_address %}
						<span class="help-block">{{ errors.email_address | first }}</span>
					{% endif %}
				</div>
				<button class="btn btn-info btn-custom btn-block" type="submit">Send Reset Link</button>
				<br>
				<button class="btn btn-danger btn-custom1 btn-block" type="reset">Reset</button>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="gspace-check-wrapper">
					<img class="img-responsive gspace-img" src="{{base_url()}}/img/gspace_reset.png" alt="Galaspace Reset">
					<p class="text-center">We are always helping you in times like this.</p>
				</div>
			</div>
		</div>
		{{ csrf.field | raw }}
	</form>
{% endblock %}
