{% extends 'templates/app.twig' %}

{% block main %}
	<form action="{{path_for('auth.signin')}}" method="post">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<h3><img src="https://png.icons8.com/windows/35/333333/enter-2.png"> SIGN IN</h3>
				<hr>
				<h4><span class="green-text">Enter the world of Galaspace and be awesome.</span></h4>
				<div class="form-group {{ errors.username ? 'has-error' : '' }}">
					<label for="username">Username</label>
					<div class="input-group">
						<span class="input-group-addon">
							<img src="https://png.icons8.com/windows/20/333333/gender-neutral-user.png">
						</span>
						<input class="form-control input-lg" id="username" type="text" name="username" placeholder="Enter username" value="{{ old.username }}">
					</div>
					{% if errors.username %}
						<span class="help-block">{{ errors.username | first }}</span>
					{% endif %}
				</div>
				<div class="form-group {{ errors.password ? 'has-error' : '' }}">
					<label for="password">Password</label>
					<div class="input-group">
						<span class="input-group-addon">
							<img src="https://png.icons8.com/windows/20/333333/password.png">
						</span>
						<input class="form-control input-lg" id="password" type="password" name="password" placeholder="Enter password">
					</div>
					{% if errors.password %}
						<span class="help-block">{{ errors.password | first }}</span>
					{% endif %}
				</div>
				<p class="text-justify">Forget your password? <a href="{{base_url()}}/reset-password">Click here.</a></p>
				<p class="text-justify">Don't have an account yet? <a href="{{base_url()}}/signup">Create now!</a></p>
				<button class="btn btn-info btn-custom btn-block" type="submit">Signin</button>
				<br>
				<button class="btn btn-danger btn-custom1 btn-block" type="reset">Reset</button>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="gspace-check-wrapper">
					<img class="img-responsive gspace-img" src="{{base_url()}}/img/gspace_door.png" alt="Galaspace Door">
					<p class="text-center">The door is always open to you! That's what Galaspace are for.</p>
				</div>
			</div>
		</div>
		{{ csrf.field | raw }}
	</form>
	<!-- Modal -->
	{#<div class="modal fade" id="myModal" role="dialog">#}
		{#<div class="modal-dialog">#}

			{#<!-- Modal content-->#}
			{#<div class="modal-content">#}
				{#<div class="modal-header">#}
					{#<button type="button" class="close" data-dismiss="modal">&times;</button>#}
					{#<h4 class="modal-title">Modal Header</h4>#}
				{#</div>#}
				{#<div class="modal-body">#}
					{#<p>Some text in the modal.</p>#}
				{#</div>#}
				{#<div class="modal-footer">#}
					{#<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
				{#</div>#}
			{#</div>#}

		{#</div>#}
	{#</div>#}
{% endblock %}
