@charset "UTF-8";

html {
	overflow-x: hidden !important;
}

body {
	margin: 0 !important;
	padding: 0 !important;
	height: 100%;
	overflow-x: hidden !important;
	font-family: 'Roboto', sans-serif;
}

.grey-heading{
	color: darkgrey;
}

.bold-heading{
	font-weight: bold;
	font-size: 31px;
}
.navbar {
	border-radius: 0;
	background: #00a99d !important;
	min-height: 70px !important;
	border: none;
}

.navbar li > a {
	color: #fff !important;
}

.navbar-brand {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	text-align: center;
	margin:auto;
}
.navbar-inverse .navbar-toggle{
	margin-top:19px;
	z-index: 1;
}
.navbar-nav{
	font-size: 15px;
}

.dropdown-toggle {
	background-color: transparent !important;
}
.dropdown-menu {
	background-color: #00a99d !important;
}

.galaspace-logo {
	margin: auto;
	width: auto;
	display: block;
	height:40px;
	margin-top: 0px;
}

.avatar {
	position: relative;
	top: -10px;
	float: left;
	left: -5px;
	width: 40px;
	height:40px;
}

.green-text {
	color: #00a99d;
}

.red-text {
	color: #d32f2f;
}

.gray-text {
	color: #678;
}

.welcome-desc {
	text-align: justify;
}

.btn-custom {
	background: #00a99d !important;
	border: none;
}

.btn-custom1 {
	background: #e44447 !important;
	border: none;
}
.hover{
	width:100%;
	height:100%;
	padding: 0px !important;
	background-color:#00a99d;
	color:#fff;
}
.hover:hover{
	cursor: pointer;
}

.space-overview-carousel,
.service-overview-carousel {
	margin-top: -20px !important;
}

.space-overview-carousel img,
.service-overview-carousel img {
	width: 500px !important;
	height: 350px !important;
	overflow-x: hidden !important;
}

.btn {
	padding: 15px !important;
}

.btn-custom:hover, .btn-custom1:hover {
	background: #333 !important;
}

.link-color {
	color: #00a99d;
}

.container {
	overflow-x: hidden !important;
	min-height: 100%;
	margin-bottom: -40px;
}

.container:after {
	content: "";
	display: block;
	height: 40px;
}


.search-container button {
	padding: 0px 10px;
	margin-top: 8px;
	margin-right: 11px;
	background: #ddd;
	font-size: 17px;
	border: #212121;
	cursor: pointer;
}

.search-container button:hover {
	background: #ccc;
}

@media screen and (max-width: 600px) {
	.search-container {
		float: none;
	}
	.search-container button {
		float: none;
		display: block;
		text-align: left;
		margin: 0;
		padding: 14px;
	}
}

footer {
	/*margin-top: 100px !important;*/
	height: 80px;
	width: 100%;
}

.mf {
	position: static;
	left: 0;
	bottom: 20px;
	width: 100%;
	padding:20px;
	background-color:#f2f2f2;
	overflow:hidden;
}

.foot-col {
	width:auto;
	float:left;
	color:#6d6d6d;
	min-width:250px;
	padding:10px;
	list-style-type: none;
}

.foot-title {
	font-size:20px;
	font-weight: bold;
	padding-bottom:10px;
}

.foot-rights {
	background-color:#f2f2f2;
	padding:10px;
	margin-top:100px !important;
}

.foot-rights-message {
	text-align:center;
}

.bodyBlur{
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	background-color: #ccc;
}

.foot-col > ul {
	text-decoration: none;
	list-style-type: none;
	text-align:left;
	padding:0;
	color:#00a99d;
}

.foot-col > ul > li {
	padding:4px;
}

.foot-col > ul > a > li {
	padding:4px;
}

.foot-col > ul > a {
	color:#00a99d;
	text-decoration: none;
}
.foot-col > ul > a:hover {
	color:#024e49;
}

.sm {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom:10px;
}
.sm-title {
	text-align:center;
	padding-bottom:15px;
}

.s-icon {
	float:left;
	height:40px;
	width:40px;
	margin-top:-10px;
	margin-left: 10px;
}

.fc-cntr {
	padding-top: 30px;
	background-color:#f2f2f2;
	display: flex;
	justify-content: center;
}

@media only screen and (max-width: 1000px) {
	.fc-cntr {
		background-color:#f2f2f2;
		display: block;
		align-items: center;
	}
	.foot-col {

		width: 100%;
	}
}

.fb {
	background: url('../img/sm-icons/fb1.png') no-repeat center center;
	background-size: cover;
}

.lkin {
	background: url('../img/sm-icons/linkd1.png') no-repeat center center;
	background-size: cover;
}

.insta {
	background: url('../img/sm-icons/inst1.png') no-repeat center center;
	background-size: cover;
}

.twtr {
	background: url('../img/sm-icons/twt1.png') no-repeat center center;
	background-size: cover;
}

/* Custom Radio Button */
.ui-radio {
	display: none;
}

.ui-radio:hover + label:before {
	background: #ddd;
}

.ui-radio + label{
	position: relative;
	padding-left: 50px;
	padding-top: 8px;
	margin-bottom: 10px;
	display: inline-block;
}

.ui-radio + label:before {
	background-color: #eee;
	border-radius: 50px;
	display: inline-block;
	position: absolute;
	content: ' ';
	width: 40px;
	height: 40px;
	top:0px;
	left:0px;
	cursor: pointer;
}

.ui-radio:checked + label:after {
	content: ' ';
	width: 40px;
	height: 40px;
	border-radius: 50px;
	position: absolute;
	background: #40e0d0;
	top: 0px;
	left: 0px;
	cursor: pointer;
}

.ui-radio:checked + label:before {
	color: #99a1a7;
}

/* Custom Checkbox Button*/
.ui-checkbox {
	display: none;
}

.ui-checkbox + label {
	position: relative;
	padding: 10px 10px 10px 40px;
	display: inline-block;
	margin-bottom: 5px;
}

.ui-checkbox + label:before {
	background-color: #fff;
	border: 1px solid #40e0d0;
	padding: 15px;
	border-radius: 3px;
	display: block;
	position: absolute;
	margin-bottom: 5px;
	top: 0;
	left:0;
	content: "";
}

.ui-checkbox:checked + label:before {
	border: 1px solid #40e0d0;
	color: #99a1a7;
}

.ui-checkbox:checked + label:after {
	content: '\2714';
	position: absolute;
	top: -5px;
	left: 3px;
	font-size: 30px;
	color: #40e0d0;
}

.gspace-check-wrapper {
	margin-top: 20%;
}

.gspace-img {
	margin: auto;
	display: block;
	width: 200px;
}

.nav > li {
	display: block !important;
	margin-top: 8px !important;
}

/* Custom Flash Messages */
.flash-info {
	background: #4fc3f7;
	color: #fff;
}

.flash-success {
	background: #81c784;
	color: #fff;
}

.flash-warning {
	background: #ffd54f;
	color: #333;
}

.flash-error {
	background: #e57373;
	color: #fff;
}

#map {
	max-height: 100%;
	border-radius: 5px;
	height: 450px;
	width: 100%;
}

.profile-img {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	border: 5px solid #ddd;
	padding: 5px;
	background: #fff;
	margin: auto;
	display: block;
}

.space-img,
.menu-img,
.menuN-img,
.service-img {
	border-radius: 5px;
	width: 200px;
	height: 200px;
	border: 5px solid #ddd;
	padding: 5px;
	background: #fff;
	margin: auto !important;
	display: block !important;
}

.overview-img{
	width: 250px;
	height: 250px;
	border: 5px solid #ddd;
	padding: 5px;
	border-radius: 5px;
	background: #fff;
}

.profile-upload-btn,
.space-upload-btn,
.menu-upload-btn,
.menuN-upload-btn,
.service-upload-btn {
	margin: auto !important;
	display: block !important;
	margin-top: -40px !important;
	margin-bottom: 50px !important;
}

.profile-cancel-btn,
.space-cancel-btn,
.menu-cancel-btn,
.menuN-cancel-btn,
.service-cancel-btn{
	margin:auto !important;
	display:block !important;
	margin-top: -189px !important;
	margin-bottom: 159px !important;
}

.profile-upload-btn:hover,
.space-upload-btn:hover,
.menu-upload-btn:hover,
.menuN-upload-btn:hover,
.service-upload-btn:hover{
	transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
	color: #999;
	cursor: pointer;
}
.profile-cancel-btn:hover,
.space-cancel-btn:hover,
.menu-cancel-btn:hover,
.menN-cancel-btn:hover,
.service-cancel-btn:hover {
	transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
	color: #999;
	cursor: pointer;
}

.profile-photo,
.space-photo,
.menu-photo,
.menuN-photo,
.service-photo {
	display: none !important;
}

.intl-tel-input {
	width: 100% !important;
}

.iti-flag {
	background-image: url("../node_modules/intl-tel-input/build/img/flags.png");
}

#space-description,
#about-me,
#service-details,
#menu-decription {
	resize: vertical;
}

/*only for timepicker on space-availability*/
input.timepicki-input {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 5px 5px 5px 5px;
	float: none;
	margin: 0;
	text-align: center;
	width: 70%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	.iti-flag {background-image: url("../node_modules/intl-tel-input/build/img/flags.png");}
}

.dtp > .dtp-content > .dtp-date-view > header.dtp-header,
.dtp table.dtp-picker-days tr > td > a.selected {
	background: #00a99d !important;
}

.dtp .p10 > a {
	color: #00a99d !important;
}

.dtp div.dtp-time,
.dtp div.dtp-date {
	background: #80cbc4 !important;
}

.year-picker-item.active {
	color: #80cbc4 !important;
}

.dtp-select-year-range {
	height: 50px;
}

.dtp-select-year-range, .after {
	margin-top: -10px !important;
}

.dtp-btn-ok {
	margin-left: 5px;
}
.jumbotronGSeo {
	position: relative;
	margin-top: -20px;
	overflow: hidden !important;
	height: 400px;
	background-image: url('../img/bg-img/e-org.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	background-size: cover;
	opacity: 0.9;
}
.jumbotronComFeed {
	position: relative;
	margin-top: -20px;
	overflow: hidden !important;
	height: 400px;
	background-image: url('../img/bg-img/circus.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	background-size: cover;
	opacity: 0.9;
}
.jumbotronReqSpace {
	position: relative;
	margin-top: -20px;
	overflow: hidden !important;
	height: 400px;
	background-image: url('../img/bg-img/holi.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	background-size: cover;
	opacity: 0.9;
}
.jumbotronGSh2 {
	position: relative;
	margin-top: -20px;
	overflow: hidden !important;
	height: 400px;
	background-image: url('../img/bg-img/background2.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	background-size: cover;
	opacity: 0.9;
}
@media only screen and (max-width:767px) {
	.jumbotronGSh2 img {
		width:70% !important;
	}
}
@media only screen and (min-width:768px) {
	.jumbotronGSh2 img {
		width:30% !important;
	}
	.jGSH2 {
		margin-top:-40px !important;
	}
}
.jumbotron {
	position: relative;
	margin-top: -20px;
	overflow: hidden !important;
	height: auto;
	background-image: url('../img/bg-img/event_bg4.jpeg');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	background-size: cover;
	opacity: 0.9;
}

.jumbotronGSso {
	position: relative;
	margin-top: -20px;
	overflow: hidden !important;
	height: 400px;
	background-image: url('../img/bg-img/get_started.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	background-size: cover;
	opacity: 0.9;
}

.jumbotronGSsp {
	position: relative;
	margin-top: -20px;
	overflow: hidden !important;
	height: 400px;
	background-image: url('../img/bg-img/serv-provider.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	background-size: cover;
	opacity: 0.9;
}

.about-header {
	position: relative;
	margin-top: -20px;
	overflow: hidden !important;
	height: 400px;
	background-image: url('../img/bg-img/building.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	background-size: cover;
	opacity: 0.9;
}

.press-header {
	position: relative;
	margin-top: -20px;
	overflow: hidden !important;
	height: 500px;
	background-image: url('../img/bg-img/press_header.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	background-size: cover;
	opacity: 0.9;
}

.home-header-text,
.about-header-text,
.press-header-text{
	font-size: 50px !important;
}

.about-header-text {
	margin-top: 140px;
}

.press-header-text {
	margin-top: 140px;
}

.home-footer-info {
	list-style-type: none;
}

.home-footer-info > li{
	display: inline;
	margin-right: 15px;
}

.event-img {
	width: 300px;
	height: 200px;
	border-radius: 5px 0px 0px 5px;

	margin: auto;
	display: block;
	transition: transform .2s;
}

.event-img:hover {
	cursor: pointer;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	transform: scale(1.2);
}


.aboutus-profile {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	/*border-left: 10px solid #00a99d;*/
	margin: auto;
	display: block;
	transition: transform .2s;
}

/*.aboutus-profile:hover {
	cursor: pointer;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	transform: scale(1.2);
}*/


@media only screen and (max-width: 1199px) {
	.selectBox {
		display: block;
		width: 100% !important;
		margin-bottom: 10px;
	}
}

/* Dashboard Styles */
.dashboard-content {
	width: 100%;
	border-radius: 10px;
	padding: 15px;
	min-height: 500px;
	height:auto;
	border: 2px solid #00a99d;
	border-left: 10px solid #00a99d;
}

.operating-hrs{
	border: 1px dotted grey;
	border-radius: 5px;
	padding:10px;
	margin-bottom:10px;
	height:100px;
}

.dashboard-event-img {
	width: 150px;
	height: 150px;
	border-radius: 5px;
	transition: transform .2s;
	margin-bottom: 20px;
}

.dashboard-event-img:hover {
	cursor: pointer;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	transform: scale(1.2);
}

.dashboard-event-details {
	margin-top: -160px;
	margin-left: 170px;
}

.space-overview-nav,
.service-overview-nav {
	list-style-type: none;
	text-align: center !important;
}

.space-overview-nav > li,
.service-overview-nav > li {
	display: inline;
	margin-right: 20px;
}

.space-overview-nav a,
.service-overview-nav a {
	color: #00a99d;
	text-decoration: none;
	padding-bottom: 15px;
}

.space-overview-nav a:hover,
.service-overview-nav a:hover {
	border-bottom: 3px solid #00a99d;
}

.overview-content {
	width: 100%;
	border-radius: 10px;
	padding-top: 5px !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
	min-height: 500px;
	/*height:auto;*/
	/*display: block;*/
}

.overview-details {
	margin-right: 20px;
	margin-left: 20px;
}

.fa-star, .fa-star-o {
	font-size: 20px !important;
}

.user-review {
	border-bottom: 2px dashed #ddd;
	margin-top: 20px;
}

.user-review > img {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background: #fff;
}

.user-fullname {
	margin-top: -40px;
	margin-left: 60px;
}

.user-rating {
	margin-left: 60px;
}

.user-review-comment {
	margin-top: 20px;
}

.panel-heading {
	background: #00a99d !important;
	color: #fff !important;
	height:93px;
}

.panel-heading-service {
	background: #00a99d !important;
	color: #fff !important;
	padding:10px;
}

.myprofile-form .form-group .help-block {
	color: #a94442 !important;
}

.dashed-border {
	border: 2px dashed #ddd;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
	background: #00a99d !important;
	color: #fff !important;
}

.inbox-profile {
	min-height: 100px;
}

.inbox-profile-img {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	border: 2px solid #ddd;
	padding: 5px;
	background: #fff;
}

.profile-name {
	margin-top: -50px;
	margin-left: 60px;
}

.chat-time {
	margin-top: -30px;
}

.chat-content {
	margin-top: 0px;
	margin-left: 60px;
}

.chat-modal {
	overflow: scroll;
}

.modal-body > .chat-history {
	padding: 5px;
	overflow-y: scroll;
	overflow: hidden;
}

.edit-overview-btn,
.edit-amenities-btn {
	margin-right: 20px;
	margin-bottom: 20px;
}

.menu-container {
	height: auto;
	border-radius: 5px;
	border: 1px solid #333;
	padding: 10px;
}

.catering-food-img1 {
	width: 250px;
	display: block;
	height: auto;
	border-radius: 5px;
	border: 2px solid #ddd;
	margin: auto;
}

.catering-food-img2 {
	width: 100px;
	height: 120px !important;
	border-radius: 5px;
	border: 1px solid #ddd;
	margin: auto;
	margin-top: 20px;
	display: block;
}

.menu-overview-photo {
	width:auto;
	height: auto;
	margin-top:55px;
	margin-bottom: 10px !important;
	display: block !important;
	border-radius: 5px;
}

.menu-overview-subphoto {
	width: 200px;
	height: 200px;
	float:right;
	padding:10px;
	margin-bottom: 10px !important;
	display: block !important;
	border-radius: 5px;
}

.menu-overview-photo:hover {
	cursor: pointer;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	transform: scale(1.2);
}
.event-info {
	margin-top: 43px;
	padding-left: 72px;
}

.service-logo {
	width: 150px;
	height: 150px;
	margin-bottom: 10px !important;
	border-radius: 50%;
	border: 2px solid #ddd;
}

.service-company {
	margin-top: -120px;
	margin-left: 160px;
	margin-bottom: 70px;
}

.career-benfits {
	width:100%;
	margin:10px;
	background-color:#fdfdfd;
	padding:0;
}

.careers-bd {
	padding-bottom:10px;
}
.career-bd-item {
	background-color:#f2f2f2;
	cursor:pointer;
}

.career-bd-item-empty {
	background-color:#f2f2f2;
	color:#f2f2f2;
	cursor: default;
}
.career-bd-item:hover {
	background-color:#31b0d5;
}

.careers-message {
	text-align: center;
}

.careers-beneifts-title {
	text-align: center;
}

.careers-image {
	width: 400px;
	border-radius: 5px 0px 0px 5px;
	margin: auto;
	display: block;
	float: right;
	transition: transform .2s;

}

.careers-right {
	float:right;
}

.careers-left {
	float:left;
}

.faq-list {
	text-decoration: none;
	list-style-type: none;
	padding:0;
}

.faq-col {
	padding-bottom:5px;
}

.faq-list > li {
	cursor:pointer;
	padding-bottom: 5px;
	color:#00a99d;
}

.faq-jumbotron {
	position: relative;
	margin-top: -20px;
	overflow: hidden !important;
	height: 400px;
	background-color:#00a99d;
}

.s-overview {
	margin-left: 26.666667%;
}

.sub-cater-images {
	float:left;
}

.cater-menu {
	padding-bottom:10px;
}

.cater-menu-info {
	font-weight:bold;
}

.menu-border {
	border-style: dashed;
	border-color: #eeeeee;
	padding: 15px;
}

.border-seperate{
	border-collapse: separate;
	border-spacing: 10px;
}

/* FAQ accordion */

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
	background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panelAccordion {
	padding: 0 18px;
	background-color: white;
	display: none; /*this might be clashed with space overview*/
	overflow: hidden;
}

.accordion:after {
	content: '\02795'; /* Unicode character for "plus" sign (+) */
	font-size: 13px;
	color: #777;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\2796"; /* Unicode character for "minus" sign (-) */
}

#howGetStarted{
	padding:30px;
}

/* spaces display */
.event-space {
	width:100%;
	float:left;
}

.event-map {
	width:50%;
	float:right;
	height: auto;
}

.event-space-image {
	/*width:50%;*/
	padding-bottom: 30px;
	padding:10px;
	border:1px lightgrey dotted;
	border-radius:5px;
}

@media only screen and (min-width: 768px) {
	.event-space-image img {
		height: 250px;
		width: 300px;
	}
}
.event-space-image:hover {
	cursor: pointer;
	/*-webkit-filter: grayscale(100%);*/
	/*filter: grayscale(100%);*/
	transform: scale(1.1);
}

.event-capacity {
	color:#828282;
	float:right;
}

.event-space-det {
	font-size:10px;
}

.event-space-info {
	padding-left: 8px;
}

.event-stars {
	color: #00a99d;
}

.search-event{
	padding:10px;
}
.tbAdmin {
	display: block;
	height: 500px;
	width: 100% !important;
	overflow-y: auto;    /* Trigger vertical scroll    */
	padding:0 !important;
	margin: 0 !important;
}

.tbAdmin tbody tr:hover {
	cursor: pointer;
	background: #00a99d !important;
	opacity: 0.8;
}

@media only screen and (min-width: 1200px) {
	#eSze{
		margin-left:20px;
	}
	#btnSc{
		margin-left: 50px;
	}
	.srcBox{
		padding: 0px 40px 0px 0px;
		width:350px !important;
	}
	#goBtn{
		width:100px !important;
	}
}
.btn-booking{
	padding: 5px 10px;
}