<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Error 404</title>
	<link rel="shortcut icon" href="{{base_url()}}/img/galaspace_logo.jpg">
	<!-- CSSPlugins -->
	<link rel="stylesheet" href="{{base_url()}}/node_modules/bootstrap/dist/css/bootstrap.min.css">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="{{base_url()}}/css/styles.css">
	<style>
		.random-notfound > div {
			display: inline-flex;
			margin-top: 300px;
		}

		img {
			margin: auto;
			display: block;
			margin-top: 100px;
		}

		.btn-container {
			text-align: center;
		}
	</style>
</head>
<body>
	<img class="img-responsive" src="{{base_url()}}/img/sad.png" alt="">
	<h1 class="text-center">ERROR 404 - PAGE NOT FOUND</h1>
	<p class="text-center">We're really sorry. The page you're looking for doesn't exist in the world of Galaspace.</p>
	<div class="btn-container">
		<a class="btn btn-info btn-custom text-center" href="{{base_url()}}">Go Back Home</a>
	</div>
	<footer>
		<p class="text-center"> &copy; Galaspace <span class="current_year"></span>. All Rights Reserved.</p>
	</footer>
	<!-- JS Plugins -->
	<script src="{{base_url()}}/node_modules/jquery/dist/jquery.min.js"></script>
	<script src="{{base_url()}}/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script>
			$('.current_year').text(new Date().getFullYear());
	</script>
</body>
</html>
