{% extends 'templates/main_container.twig' %}

{% block main %}
	<div class="about-header img-responsive">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h3 class="text-center about-header-text" style="color:#fff;text-shadow:1px 0px 10px #333">Galaspace is build by this awesome group of people.</h3>
					<br>
					<p class="text-center" style="color:#fff;text-shadow:1px 0px 10px #333">We don't just build event space, We build community. <br> Get to know everyone of us below.</p>
				</div>					
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h3 class="text-center"> <img src="https://png.icons8.com/windows/35/333333/groups.png" alt=""> About Us</h3>
			</div><br>
			<section class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<img src="{{base_url()}}/img/about_us/harithbakri.png" class="aboutus-profile img-responsive"/><br>
				<p class="text-center"><b>Harith Bakri</b> <br> <span>Vice President Product</span></p>
			</section>
			<section class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<img src="{{base_url()}}/img/about_us/kenzo.jpg" class="aboutus-profile img-responsive"/><br>
				<p class="text-center"><b>Kenzo Tan Jun Yong </b> <br> <span>Business Development</span></p>
			</section>
			<section class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<img src="{{base_url()}}/img/about_us/aimanidris.jpg" class="aboutus-profile img-responsive"/><br>
				<p class="text-center"><b>Aiman Idris</b> <br> <span>Backend Engineer / Analyst Programmer</span></p>
			</section>
			<section class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<img src="{{base_url()}}/img/about_us/andykoranteng.jpg" class="aboutus-profile img-responsive"/><br>
				<p class="text-center"><b>Andrew Koranteng</b> <br> <span>Software Development Analyst</span></p>
			</section>
		</div>
	</div>

{% endblock %}
