{% extends 'templates/main_container.twig' %}

{% block main %}
	<div class="jumbotron img-responsive">
		<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<h4 class="text-left home-header-text" style="color:#fff;text-shadow:1px 0px 10px #333;margin-top:120px;">Cancellation Policy</h4>
					</div>
				</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
						<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
							<br/>
							    <h3> <img src="https://png.icons8.com/windows/50/000000/book.png"> Cancellation Policy </h3> 
							<hr>
							<br/>
							<p>
Last Updated May 2019 <br/><br/>

								Galaspace are giving Event Space Owners options among these three cancellation
								policies(Flexible,Moderate, and Strict). This cancellation policies is to protect Event Organizer, Event
								Service Provider and Event Space Owners.
 <br/><br/>
<b>Cancellation Policy For Event Organizer</b><br/><br/>
								Event Organizer may cancel its reservation in accordance with the following terms, according to the
								cancellation policy chosen by the Event Space Owners.<br/><br/>
<b>1. Processing Fee​: </b> Galaspace as of now charges a processing fee of 5% for transaction, in addition
								to any commission Galaspace may take from payments made for reservations. The Processing fee
								of 5% is non-refundable.
								<br/><br/>
<b> 2. How to Provide Notification of Cancellation Request:​ </b>  A Cancellation is officially cancelled when
								Galaspace received a cancellation request. You may request a cancellation request by contacting to
								<a href="mailto:contact@galapspace.com">contact@galaspace.com</a>.<br/><br/>

								<b>3. Cancellation Policy:​ </b> Galaspace Gives the opportunity for Event Space Owner & Event to choose
									these three cancellation policies.
									<br/><br/>
 <b>Flexible:​ </b> Cancellations may be made by Creator up to 2 days prior to the Event Date. Event Space
									Owners shall refund the entire Usage Fee if cancellation is made by Event Organizer during the
									foregoing period, Except for Galaspace processing fees of 5% which are non-refundable; or <br/><br/>
 <b>Moderate:​</b> Cancellations may be made by Event Organizer up to 6 days prior to the Event Date. Event
									Space Owners shall refund the entire Usage Fee if cancellation is made by Event Organizer during
									the foregoing period, except for Galaspace processing fees of 5% which are non-refundable; or
									<br/><br/>
<b>Strict:​</b> Cancellations may be made by Event Organizer up to 1 week prior to the Event Date. Event
									Space Owners shall refund the 50% of the Usage Fee if cancellation is made by Event Organizer
									during the foregoing period, except for Galaspace processing fees of 5% which are non-refundable.<br/><br/>
<b>4. Dispute Resolution: </b> ​Any dispute, controversy or claim arising out of or relating to this cancellation
									including the formation, interpretation, breach or termination thereof, including whether the claims
									are asserted are arbitrable, will be referred to and finally determined by arbitration in accordance
									with the JAMS International Arbitration Rules. The tribunal will consist of one arbitrator. The place of
									arbitration will take place in Malaysia. The language to be used in the arbitral proceedings will be
									English. Judgment upon the award rendered by arbitrator(s) may be entered in any court having
									jurisdiction thereof.
									<br/><br/>
									Event Organizer WILL NOT BE ENTITLED TO ANY REFUND IN HONOUR OF CANCELLATIONS MADE
									NOT IN ACCORDANCE WITH THE CHOSEN CANCELLATION POLICY
 <br/><br/>
<b>Cancellation Policy For Event Space Owner and Event Service Provider</b>
<br/><br/>
									Event Organizer may cancel its reservation in accordance with the following terms, according to the
									cancellation policy chosen by the Event Space Owners.
<br/><br/>
<b>1. Processing Fee​: </b> Galaspace as of now charges a processing fee of 5% for transaction, in addition
									to any commission Galaspace may take from payments made for reservations. The Processing fee
									of 5% is non-refundable.
									<br/><br/>
<b>2. How to Provide Notification of Cancellation Request:​ </b>  A Cancellation is officially cancelled when
									Galaspace received a cancellation request. You may request a cancellation request by contacting to
								<a href="mailto:contact@galapspace.com">contact@galaspace.com</a>.
									<br/><br/>
<b>3. Cancellation Fee:​ </b> Event Space Owner and Event Service Provider who cancels a reservation less
										than 20 days prior to the Event Date will be charged a $100 cancellation fee in addition to the
										amount of the processing fee paid by the Galaspace (which Galaspace may refund to the Event
										Organizer in its discretion). Event Space Owner or Event Service Provider can only cancel any Event
										or booking three times in any six month period. We will automatically deduct any applicable
										cancellation fee or processing fee for which you are responsible, from the next payout.
										<br/><br/>
<b>4. Dispute Resolution: </b> ​Any dispute, controversy or claim arising out of or relating to this cancellation
										including the formation, interpretation, breach or termination thereof, including whether the claims
										are asserted are arbitrable, will be referred to and finally determined by arbitration in accordance
										with the JAMS International Arbitration Rules. The tribunal will consist of one arbitrator. The place of
										arbitration will take place in Malaysia. The language to be used in the arbitral proceedings will be
										English. Judgment upon the award rendered by arbitrator(s) may be entered in any court having
										jurisdiction thereof.<br/><br/>
							</p>
						    <br/>
							
						</div>
				</div>
		</div>
	</div>

{% endblock %}
