{% extends 'templates/main_container.twig' %}

{% block main %}
	<div class="jumbotron img-responsive">
		<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h4 class="text-center home-header-text" style="color:#fff;text-shadow:1px 0px 10px #333">Galaspace Careers</h4>
					</div>
					<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 text-center">
						<br/><br/>
						<a href="https://www.linkedin.com/company/galaspace"><button class="btn btn-info btn-custom" id="password_security-submit" type="submit">Apply Now</button></a>
					</div>
				</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h3>Become a part of something great</h3>
			</div>
			<br><br>
			<hr class="dashed-border">
			<div class="careers-bd">
				<section class="col-lg-4 col-md-4 col-sm-6 col-xs-12 career-bd-item" data-toggle="modal" data-target="#chat-modal" role-bd="
                    <h3>  Product Designer</h3><br/><br/>
				     <b>What we are looking for</b>  <br/><br/>
                     
                     We are looking for a Product to join our team! Your job will be an integral part of growing and
                     evolving our digital experience on galaspace and our custom software. You will work hand in
                     hand with design and engineering to create market-defining products. You will work on mostly
                     product-focused features, but must care deeply about the visual details and executing our brand
                     vision across many touch points. This role is best suited for a hands-on, thoughtful and curious
                     designer who desires to be on fast pace environment and values user-centric design.
                     <br/><br/>
                     <b>Responsibilities</b>
                     <br/><br/>
                     <ul>
                     	<li>Work collaboratively across the company to create a product design process that balances speed of execution with thoughtful, intuitive design </li>
                     	<li> Practice what you preach, working with engineers, company leadership, and other designers to iteratively improve the product and add new features.</li>
                     	<li> Oversee the product management function.</li>
                     	<li> Get out into the field to interview users, customers, and partners to better understand their needs and inform the future direction of the product.</li>
                     	<li> Produce design assets as needed to advance the product - whether directly or in
                             collaboration with internal or external UI Designers </li>
                        <li> Evaluate existing user experiences and data to identify areas for improvement</li>
                     </ul>
                     <br/><br/>
                     <b>Requirements</b>
                     <br/><br/>
                     <ul>
                     	<li>Minimum 2-3 years of design experience or Bachelor Degree in a design related
                             discipline, such as graphic design.</li>
                     	<li> Expertise in Adobe Creative Suite, Sketch and Keynote</li>
                     	<li>  A portfolio demonstrating your conceptual design thinking and execution across various touch points including web and mobile</li>
                     	<li> Highly organized; able to multi-task and work efficiently with focus</li>
                     	<li> Willingness to accept feedback and incorporate insights into design </li>
                     	<li> Ability to collaborate with teammates and work independently </li>
                     	<li> Embrace Galaspace Culture and lifestyle </li>
                     	<li> Thoughtful, honest and kind with a healthy sense of humour </li>
                     </ul>
                     ">
				<div class="careers-message">
				   <h1 class="careers-beneifts-title">Product Designer</h1><br/>
			    </div>
			   </section>
			    <section class="col-lg-4 col-md-4 col-sm-6 col-xs-12 career-bd-item" data-toggle="modal" data-target="#chat-modal" role-bd="
			   <h3>  Product Manager </h3><br/><br/>
				     <b>What we are looking for</b>  <br/><br/>
                     
                     As a Product Manager at Galaspace, you will help map and implement the product vision and strategy to continually drive value and customer success. You will work closely with Engineering, Marketing and Sales as well as customers to compile product requirements, manage the product roadmap, manage the delivery of product features, and assess impact.


                     <br/><br/>
                     <b>Responsibilities</b>
                     <br/><br/>
                     <ul>
                     	<li>Assemble product from multiple sources (e.g. research,usability, consumer feedback, competitive assessment) understanding current and future customer needs </li>
                     	<li> Define the strategy and implement it</li>
                     	<li> Drive the product from inception to completion </li>
                     	<li> Prototype workflow diagrams, storyboards, and wireframes.</li>
                     	<li> Collaborate with engineering to create timelines and work towards them </li>
                        <li> Write support documentation</li>
                        <li> Brief and train the sales team, support teams on key new products and enhancements</li>
                     	<li> Architect and build experiences across both users ends </li>
                     	<li> Define and maintain key KPIs to monitor and steer product performance and growth </li>
                     </ul>
                     <br/><br/>
                     <b>Requirements</b>
                     <br/><br/>
                     <ul>
                     	<li>Has 3-5 years of product management experience</li>
                     	<li> Strong technical knowledge and ability to effectively communicate and discuss technical requirements with engineers</li>
                     	<li> Experience with reporting and analytics solutions</li>
                     	<li> Experience with A/B or multi-variate testing</li>
                     	<li> Experience prototyping using InVision, or Sketch </li>
                     	<li> Ability to lead the team </li>
                     	<li> Embrace Galaspace culture and lifestyle </li>
                     	<li> Thoughtful, honest and kind with a healthy sense of humour </li>
                     </ul>">
				<div class="careers-message">
				   <h1 class="careers-beneifts-title">Product Manager</h1><br/>
			    </div>
			   </section>
			   <section class="col-lg-4 col-md-4 col-sm-6 col-xs-12 career-bd-item" data-toggle="modal" data-target="#chat-modal" role-bd="
			   <h3> iOS Engineer </h3><br/><br/>
				     <b>What we are looking for</b>  <br/><br/>
                     
                     As a iOS Engineer at Galaspace, You will develop the iOS Galaspace (obviously). That means you will design, debug and everything in between. You also care deeply about user experience, thrive in a fast-paced Startup culture, and value elegant, efficient code.

                     <br/><br/>
                     <b>Responsibilities</b>
                     <br/><br/>
                     <ul>
                     	<li>Lead app development for our products </li>
                     	<li> Push code everyday and iterate on features</li>
                     	<li> Work with third party iOS Libraries and API Integration</li>
                     	<li> Building apps from Scratch </li>
                     	<li> Executing the tasks that is being assigned </li>
                        <li> Set and hold a high bar for quality, well-tasted code</li>
                        <li> Work with the Design and Product teams to understand priorities and user pain points, and build, iterate and release software to solve them </li>
                     	<li> Architect and build experiences across both users ends </li>
                     	<li> Write safe, reliable code </li>
                        <li> Understand data modeling and application architecture </li>
                     </ul>
                     <br/><br/>
                     <b>Requirements</b>
                     <br/><br/>
                     <ul>
                     	<li>Significant experience with mobile development in iOS platform creating beautiful experiences </li>
                     	<li> A computer science Bachelor degree or any related discipline with 2 years of experience building iOS apps OR at least 4 years of experience professionally iOS apps</li>
                     	<li> Experience with reporting and analytics solutions</li>
                     	<li> Ability to collaborate with teammates and work independently </li>
                     	<li> Embrace Galaspace culture and lifestyle </li>
                     	<li> Thoughtful, honest and kind with a healthy sense of humour </li>
                     	<li> Expert in Swift, with an excellent knowledge of its ecosystem </li>
                     	<li> Familiarity with continuous integration </li>
                     	<li> Proficient understanding of code versioning tools </li>
                     </ul>">
				<div class="careers-message">
				   <h1 class="careers-beneifts-title">iOS Engineer</h1><br/>
			    </div>
			   </section>
			   <section class="col-lg-4 col-md-4 col-sm-6 col-xs-12 career-bd-item" data-toggle="modal" data-target="#chat-modal" role-bd="<h3> Android Engineer</h3><br/><br/>
				     <b>What we are looking for</b>  <br/><br/>
                     
                    As an Android Engineer, You will develop the Android Galaspace (obviously). That means, you will design, debug and everything in between. You also care deeply about user experience, thrive in a fast-paced Startup culture, and value elegant, efficient code.


                     <br/><br/>
                     <b>Responsibilities</b>
                     <br/><br/>
                     <ul>
                     	<li> Design and develop a delightful Android application for users with java, with a focus on simplicity of use and high-performance</li>
                     	<li> Write product-independent code and design modular APIs to be used across all of products</li>
                     	<li> Work across disciplines with team members from front-end,backend,design and product</li>
                     	<li> Help ensure we’re bug-free by writing unit-tests, and regularly communicating with our QA team </li>
                     	<li> Actively participate in product decisions, ensuring we set reasonable development deadlines </li>
                        <li>Understand data modeling and application architecture</li>
                     </ul>
                     <br/><br/>
                     <b>Requirements</b>
                     <br/><br/>
                     <ul>
                     	<li>  Significant experience with mobile development in Android platform creating beautiful experiences </li>
                     	<li> A Computer Science Bachelor Degree or any related discipline with 2 years of experiences building Android Apps or at-least 4 years of experience professionally Android Apps</li>
                     	<li> Experience with reporting analytics solutions</li>
                     	<li> Ability to collaborate with teammates and work independently </li>
                     	<li> Embrace Galaspace culture and lifestyle </li>
                     	<li> Acquire fundamentals in data structures, and problem solving </li>
                     	<li> Team player </li>
                     	<li> Strong development skills with Java and the Android SDK </li>
                     	<li> Great understanding of MVP and / or MVVM </li>
                     </ul>">
				<div class="careers-message">
				   <h1 class="careers-beneifts-title">Android Engineer</h1><br/>
			    </div>
			   </section>
			    <section class="col-lg-4 col-md-4 col-sm-6 col-xs-12 career-bd-item" data-toggle="modal" data-target="#chat-modal" role-bd="<h3> Marketing Manager</h3><br/><br/>
				     <b>What we are looking for</b>  <br/><br/>
                     
                    As a Marketing Manager, you need to be creative, innovative and passionate about driving awareness and building our business. The leader of this team is a strategically and tactically strong executor committed to driving aggressive revenue growth by expanding on and executing our digital and product marketing strategies


                     <br/><br/>
                     <b>Responsibilities</b>
                     <br/><br/>
                     <ul>
                     	<li> Develop buyer personas, segmentation, and go-2-market plans for inbound and outbound segments of business</li>
                     	<li> Drive our content strategy, assets creation and delivery </li>
                     	<li> Create and implement strategies to increase lead velocity </li>
                     	<li> Develop conference and convention strategize</li>
                     	<li> Refine and optimize our PR Strategy </li>
                        <li> A forward-thinking attitude that allows you to succeed today and innovate for the future</li>
                        <li> Design and manage effective marketing campaigns to drive qualified leads</li>
                        <li> Collaborate with every Head of Department ( VP Business Development, VP Product and others)</li>
                        <li> Build a pipeline of potential clients by providing strategy, creative direction, and campaign objectives; success will be measured by results/ROI</li>
                     </ul>
                     <br/><br/>
                     <b>Requirements</b>
                     <br/><br/>
                     <ul>
                     	<li>  A seasoned marketing leader in this industry with 6+ years of professional experience </li>
                     	<li> Experience writing, presenting and executing ROI-driven marketing</li>
                     	<li> Experienced with CRM and marketing automation including list management, segmentation and custom report creation.</li>
                     	<li> Salesforce experience is highly preferred </li>
                     	<li> A thoughtful,honest and kind with healthy sense of humour </li>
                     	<li> Embrace Galaspace culture and lifestyle </li>
                     	<li> Metrics-driven with a focus on continuous improvement </li>
                     	<li> Kaizen-Minded </li>
                     	<li> Excellent communication skills, an attitude to get things done </li>
                     	<li> Willingness to work in a fast paced environment </li>
                     	<li> Excellent Relationship Management Skills </li>
                     </ul>">
				<div class="careers-message">
				   <h1 class="careers-beneifts-title">Marketing Manager</h1><br/>
			    </div>
			   </section>
			    <section class="col-lg-4 col-md-4 col-sm-6 col-xs-12 career-bd-item" data-toggle="modal" data-target="#chat-modal" role-bd="<h3> Frontend Engineer</h3><br/><br/>
				     <b>What we are looking for</b>  <br/><br/>
                     
                    As a Frontend Engineer, You will develop the Galaspace web-platform (obviously). That means, you will design, debug and everything in between. You also care deeply about user experience, thrive in a fast-paced Startup culture, and value elegant, efficient code.



                     <br/><br/>
                     <b>Responsibilities</b>
                     <br/><br/>
                     <ul>
                     	<li> Write front-end and server side code for the platform with focus on searching, displaying and analyzing materials data in a browser</li>
                     	<li> Create enterprise-ready, robust, secure and scalable production infrastructure and services</li>
                     	<li> Manage individual project priorities, deadlines, and deliverables </li>
                     	<li> Work with materials and chemicals subject matter to define and implement product roadmap</li>
                     	<li> Maintain and scale enormous clusters of materials data </li>
                        <li> Drive new features on our code product, as well as maintain existing code.</li>
                        <li> Understand the business well enough to align your development with company goals </li>
                        <li> Create and share dev best practices and standards. Always be learning</li>
                     </ul>
                     <br/><br/>
                     <b>Requirements</b>
                     <br/><br/>
                     <ul>
                     	<li>Bachelor Degree in Computer Science or related field discipline with at least 1 year of experience being Frontend Engineer OR at least 3 years of professional experience being Frontend Engineer</li>
                     	<li> Strong focus on user experiences </li>
                     	<li> Experience with AJAX based websites, Javascript, JSON and Angular</li>
                     	<li> Experience building large-scale server applications with Node.js or PHP, MySQL, MongoDB and others </li>
                     	<li> Experience with MVC framework </li>
                     	<li> Comfortable with a fast paced environment and tight deadlines </li>
                     	<li> Embrace Galaspace culture and lifestyle </li>
                     	<li> A thoughtful,honest and kind with healthy sense of humour </li>
                     	<li> Collaborative with teammates and able to work independently </li>
                     </ul>">
				<div class="careers-message">
				   <h1 class="careers-beneifts-title">Frontend Engineer</h1><br/>
			    </div>
			   </section>
			    <section class="col-lg-4 col-md-4 col-sm-6 col-xs-12 career-bd-item" data-toggle="modal" data-target="#chat-modal" role-bd="<h3> Backend Engineer</h3><br/><br/>
				     <b>What we are looking for</b>  <br/><br/>
                     
                    As a Backend Engineer, You will develop the Galaspace server side (obviously). We are looking for a data-focused backend engineer who can sculpt innovate strategies from a mountain of data and make our platform more personalized to individual users. You will work closely with product team and other engineers to integrate your designs and algorithms into our product systems.

                     <br/><br/>
                     <b>Responsibilities</b>
                     <br/><br/>
                     <ul>
                     	<li> Develop in-house solutions for large-scale data problems</li>
                     	<li> Design and build systems that we can easily test, verify, and monitor via internal and 3rd party systems</li>
                     	<li> Design and build clear APIs for our systems to communicate with each other </li>
                     	<li> Write code to interact with 3rd party APIs as well as tools and services across the web </li>
                     	<li> Ensure machines are up to date, secure </li>
                        <li> Maintain security, performance and scalability</li>
                        <li> QA and code review other engineer’s work </li>
                        <li> Keep up with latest development trends in server-side technologies</li>
                     </ul>
                     <br/><br/>
                     <b>Requirements</b>
                     <br/><br/>
                     <ul>
                     	<li>3+ years development experience</li>
                     	<li> You’ve built, maintained, or architectured one or more production web applications</li>
                     	<li> Has a strong sense for API design, database design, naming and simplifying complex services </li>
                     	<li> Is familiar with ops concerns such as deployment, migrations, configuration and provisioning </li>
                     	<li> Experience in a test driven environment</li>
                     	<li> Willingness to work in fast paced environment and tight deadlines </li>
                     	<li> Experience in MVC Framework is an additional skill </li>
                     	<li> Experience designing and monitoring reliable and highly available systems </li>
                     	<li> Commitment to quality as a top priority, including security and performance</li>
                     	<li> Familiar with Javascript Server-side framework </li>
                     	<li> Embrace Galaspace culture and lifestyle </li>
                     	<li> Ability to collaborate with teammates and work indepedently </li>
                     </ul>">
				<div class="careers-message">
				   <h1 class="careers-beneifts-title">Backend Engineer</h1><br/>
			    </div>
			   </section>
			</div>
		</div>
		<div class="row">
			
			<hr class="dashed-border">
			<div class="careers-section">
			<section class="col-lg-4 col-md-4 col-sm-6 col-xs-12 career-benfits">
				<div class="careers-image">
				    
			    </div><br>
				<div class="careers-message">
				   <h1 class="careers-beneifts-title">How we work</h1><br/>
				   <p class="text-center">We're constantly trying to improve and innovate and learn, <br>this is experience is shared with others all around the globe.</p>
			    </div>
			    <br><br>
			</section>
			<section class="col-lg-4 col-md-4 col-sm-6 col-xs-12 career-benfits">
				<div class="careers-image careers-left">
				    
				</div><br>
				<div class="careers-message">
				   <h1 class="careers-beneifts-title"> Our Views</h1><br/>
				   <p class="text-center">We value passion and creativity, <br/>these are some of the key values we cherish and are very important. </p>
			    </div>
			    <br><br>
			</section>
			<section class="col-lg-4 col-md-4 col-sm-6 col-xs-12 career-benfits">
				<div class="careers-image">
				   
				</div><br>
				<div class="careers-message">
				   <h1 class="careers-beneifts-title">Our intention</h1><br/>
				   <p class="text-center">We always aim to provide an outstanding event space marketplace.</p>
			    </div>
			    <br><br>
			</section>
		</div>
		</div>
		<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
			<div id="chat-modal" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Role Information</h4>
						</div>
						<div class="modal-body">
							<div class="role-info">

							</div>
						</div>
						<div class="modal-footer">
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

{% endblock %}
