{% extends 'templates/main_container.twig' %} {% block main %}

    <div class="jumbotronComFeed img-responsive">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h4 class="text-left home-header-text" style="color:#fff;text-shadow:1px 0px 10px #333;margin-top:120px;"> Are you searching for a unique space?</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <button class="btn btn-info btn-custom btn-block" type="submit" onclick="window.location.href='{{ base_url() }}/request-space'"><i class="glyphicon glyphicon-bullhorn"></i> Request a Space</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6" style="padding: 10px">
                <div class="grey-heading" style="font-size: 40px;">Community feed</div>
                <p style="font-style: italic; font-size: 20px;">Our awesome community is here to help. you're in great hands.</p>
            </div>

            <div class="col-sm-6" style="padding: 10px">
                <img src="img/bg-img/Collage.png" width="400" height="300">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6" style="padding: 10px">
                <div class="bold-heading" style="font-size: 26px;"> Recent Requests </div>
                <div class="grey-heading" style="font-style: italic; font-size: 15px;"> Filter Request By</div>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
        <div class="row">
            <div class="col-sm-6" style="padding: 10px">
                <div class="search-container">
                    <!--Search query goes below-->
                    <form action="">
                        <input type="text" placeholder="Search by Location" name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>

            <br>
            <div class="col-sm-6" style="padding: 10px">
                <!--Search query goes below-->
                <form action="">
                    <select name="Space Type">
                        <option value="" disabled selected hidden>Space Type</option>
                        <option value="???">???</option>
                        <option value="???">???</option>
                        <option value="???">???</option>
                        <option value="???">???</option>
                    </select>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6" style="padding: 10px">
                <!--Search query goes below-->
                <form action="">
                    <select name="Capacity">
                        <option value="" disabled selected hidden>Capacity</option>
                        <option value="???">???</option>
                        <option value="???">???</option>
                        <option value="???">???</option>
                        <option value="???">???</option>
                    </select>
            </div>
            <div class="col-sm-6" style="padding: 10px">
                <!--Search query goes below-->
                <form action="">
                    Date:
                    <input placeholder="Date" class="textbox-n" type="text" onfocus="(this.type='date')" id="date">
                    <input type="submit">
            </div>
        </div>
            </div>

    </div>
    </div>


{% endblock %}