<h1>Galaspace Reset Password Confirmation</h1>
<p>Hey {{ full_name }}, you're about to reset your password. Simply click the link below to continue.</p>
<a href="{{ base_url() }}/verify-reset/{{ token }}">Click Here</a>
<p>If you're not aware of this message, simply ignore. Thank you.</p>
