{% extends 'templates/main_container.twig' %}

{% block main %}
	<div id="js">
        {% if contact_success == "true" %}
			<script>
                swal({
                    type: 'success',
                    title: 'Message Sent',
                    text: 'Your message were sent and we will reply you as soon',
                });
			</script>
        {% elseif contact_success == "false" %}
			<script>
                swal({
                    type: 'error',
                    title: 'Message Error',
                    text: 'Your message were unsuccessfully sent. Please try again later or you may email us straight to contact@galaspace.com',
                });
			</script>
            {% elseif contact_success == "falseVerify" %}
			<script>
                swal({
                    type: 'error',
                    title: 'Captcha Validation Error',
                    text: 'Please verify the captcha by clicking on the captcha checkbox',
                });
			</script>
        {% endif %}
	</div>
	<div class="jumbotron img-responsive">
		<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<h4 class="text-left home-header-text" style="color:#fff;text-shadow:1px 0px 10px #333;margin-top:120px;">Contact Galaspace</h4>
					</div>
				</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<form class="contact" method="POST">
				<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
					<br/>
					<p class="text-justify">Be sure to check out the <a href="{{base_url()}}/faq">help centre</a> if you have any issues.</p>
					<hr>
					<div class="form-group {{ errors.name ? 'has-error' : '' }}">
						<label for="full-name">Your Name</label><br>
						<input class="form-control input-lg" id="full-name" type="text" placeholder="Enter your name" name="full_name" value="{{ old.name }}">
                        {% if errors.name %}
							<span class="help-block">{{ errors.name | first }}</span>
                        {% endif %}
					</div>
					<div class="form-group email-fg {{ errors.email ? 'has-error' : '' }}">
						<label for="email_address">Email</label><br>
						<input class="form-control input-lg" id="email_address" type="text" placeholder="Enter your email" name="email_address" value="{{ old.email }}">
                        {% if errors.email %}
							<span class="help-block">{{ errors.email | first }}</span>
                        {% endif %}
					</div>
					<div class="form-group about-me-fg {{ errors.about ? 'has-error' : '' }}">
						<label for="about-me">Information</label>
						<textarea class="form-control input-lg" id="user-info" name="user_info" placeholder="Any Information related to your issue" rows="8" cols="80">{{ old.about }}</textarea>
                        {% if errors.about %}
							<span class="help-block">{{ errors.about | first }}</span>
                        {% endif %}
					</div>
					<div class="g-recaptcha" data-sitekey="6Leac2QUAAAAACSe1v-Rp7p5cAEgb8nsQF3QdZ2M" data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback"></div>
					<button class="btn btn-info btn-custom" id="profile-submit" type="submit">Submit</button>
					<br><br>
				</div>
				{{ csrf.field | raw }}
			</form>
		</div>
		</div>
	</div>

{% endblock %}
