{% extends 'templates/main_container.twig' %}

{% block main %}
	<div class="container">
		<div class="row">
            <form class="search-event form-horizontal" id="frmSrc">
                <div class="col-lg-4 col-lg-push-2">
                    <div class="form-group">
                        <label for="eType">Event Type </label>
                        <select name="eType[]" id="eType" class="selectpicker selectBox" multiple data-live-search="false">
                            {#{% if eType == "allTypes" %}#}
                            {#<option value="allTypes" selected="selected">All types</option>#}
                            {#{% else %}<option value="allTypes">All types</option>{% endif %}#}
                            {% if eType == "restaurant" %}
                                <option value="restaurant" selected="selected">Restaurant</option>
                            {% else %}<option value="restaurant">Restaurant</option>{% endif %}
                            {% if eType == "office" %}
                            <option value="office" selected="selected">Office</option>
                            {% else %}<option value="office">Office</option>{% endif %}
                            {% if eType == "warehouse" %}
                            <option value="warehouse" selected="selected">Warehouse</option>
                            {% else %}<option value="warehouse">Warehouse</option>{% endif %}
                            {% if eType == "personal space" %}
                            <option value="personal space" selected="selected">Personal Space</option>
                            {% else %}<option value="personal space">Personal Space</option>{% endif %}
                            {% if eType == "studio" %}
                            <option value="studio" selected="selected">Studio</option>
                            {% else %}<option value="studio">Studio</option>{% endif %}
                            {% if eType == "conference room" %}
                            <option value="conference room" selected="selected">Conference Room</option>
                            {% else %}<option value="conference room">Conference Room</option>{% endif %}
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-push-1" id="eSze">
                    <div class="form-group">
                        <label for="eLocation">Event Location </label>
                        <select name="eLocation[]" id="eLocation" class="selectpicker selectBox" multiple data-live-search="false">
                            {% if eLocation == "Singapore" %}
                                <option value="Singapore" selected>Singapore</option>
                            {% else %}
                                <option value="Singapore">Singapore</option>
                            {% endif %}
                            <optgroup label="Malaysia">
                                {% if eLocation == "Sarawak" %}
                                    <option value="Sarawak" selected>Sarawak</option>
                                {% else %}
                                    <option value="Sarawak">Sarawak</option>
                                {% endif %}
                            </optgroup>
                        </select>
                    </div>
                </div>
                <div class="col-lg-2" id="btnSc">
                    <div class="form-group">
                        <button class="btn btn-info btn-custom btn-block" id="btnSrc" type="submit"><i class="fa fa-search"></i> GO</button>
                    </div>
                </div>
                {{ csrf.field | raw }}
            </form>
		</div>
		<hr>
        <div class="dtLoad text-center"><img src="{{ base_url() }}/img/icons/Spinner-1s-200px.gif"/></div>
        <div class="dtAvailable">
            <div class="row event-space">
                <div class="spLoop">{% for space in spaces %}
                <a href="{{ base_url() }}/space-overview/{{ space.space_id }}" style="color: black;"><div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-bottom: 25px;">
                    <div class="col-lg-11 event-space-image">
                        {% if space.space_main_image == "" %}
                            <img src="{{base_url()}}/img/bg-img/event_organizer.jpg" class="img-responsive"/><br>
                        {% else %}
                            <img src="{{base_url()}}{{ space.space_main_image }}" class="img-responsive"/><br>
                        {% endif %}
                        <div class="event-space-info">
                            <p class=""><b>{{ space.space_currency }}{{ space.space_pricing }} {{ space.space_name }}</b><br>{{ space.space_area }}</p>
                            <div class="event-space-det">
                                {#<span class="event-stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span> 43 Reviews <span class="event-capacity"> {{ space.space_guest }} <i class="fa fa-users"></i></span>#}
                            </div>
                        </div>
                    </div>
                    </div></a>
                {% endfor %}</div>
            </div>
            {#<div class="row event-map">#}
                {#<div id="map-canvas"></div>#}
            {#</div>#}
        </div>
	</div>
{% endblock %}


