{% extends 'templates/main_container.twig' %}

{% block main %}
<div class="faq-jumbotron img-responsive">
	<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<br><br><br><br>
					<h3 class="home-header-text" style="color:#fff;">Help Centre</h3>
					<br>
					<p style="color:#fff;font-size:15px;">Welcome to Galaspace Help Centre. if you have any enquiries or any personalised help, <br/>you may contact us directly by email of through a phone call<br/><br/> <b>Email: support@galaspace.com Phone Number: +65 8476 1695</b></p>
				</div>
			</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<br><br>
		<div class="col-lg-12">
			<h3>Event Space Owners</h3>
		</div><br><br><br><br>
		<section class="col-lg-4 col-md-4 col-sm-6 col-xs-12 faq-col">
			<h4> Fees & Payments </h4>
			<ul class="faq-list" id="faq-option">
				<li faq-answer="Galaspace are in partnership Nets (Strip Inc.) to process payments. Galaspace collects the full amount from the organizer upfront. The money is held in “On Hold” Account until the day of your event.<br/> Once the event has happened, the payment will be processed and transferred directly to your account. We will prompt your banking account in order for you to receive the payment." data-toggle="modal" data-target="#chat-modal"> How/When Do I Get Paid?  </li>
				<li faq-answer="Event Space owners get paid according to their option of Cancellation Policy. Galaspace will issue a refund to the event organizer in an appropriate amount." data-toggle="modal" data-target="#chat-modal"> Do I get paid if an event was cancelled after it was booked?  </li>
				<li faq-answer="Galaspace charged 10% commission for the first time transaction. The second transaction and after will be charged at a fixed rate of 7%. <br/><br/>
				If your event's space rate is $150 per hour, we will take 10% of the $150 on the first transaction, further transactions will be fixed at 7% only." data-toggle="modal" data-target="#chat-modal"> Does Galaspace charge a commission? How is it calculated?   </li>
				<li faq-answer="Galaspace provides the autonomy of Event Space Owners (Hosts) and Event Services Providers (Sub-Hosts).<br/> That said, you may charge the rate hourly according to your preferences or by the standard of event space. If the event space yield a great amenities to satisfy the guests, the pricing of the event space will be pricey." data-toggle="modal" data-target="#chat-modal"> How should i set the rates? </li>
				<li faq-answer="Galaspace does not charge any event space owners to list their event space. <br/> However event space owners can only list their event space up to four event space as it is to ensure Galaspace community to have a safe and trusted community." data-toggle="modal" data-target="#chat-modal"> Do I get charged for listing my event space on galaspace? </li>
			</ul>
		</section>
		<section class="col-lg-4 col-md-4 col-sm-6 col-xs-12 faq-col">
			<h4> Listing An Event Space  </h4>
			<ul class="faq-list" id="faq-option">
				
				<li faq-answer="You may cancel in the event management dashboard and we highly suggest that should you inform the event organizer of the reasons why you wish to cancel.In Spite of that,  That is entirely depends on which cancellation policy you enforced.<br/><br/> According to the cancellation policy, the penalty will be not charged if it does not against the policy. You will be charged $15 on your next transaction as penalty if you breached the policy. " data-toggle="modal" data-target="#chat-modal"> How Do I Cancel the event space? Do I get penalty? </li>
				<li faq-answer="Super Spaceowner is defined as event space owner who provide an excellent service and efforts to their clients and event guests. <br/>That said, it is earned by the effort and commitment. That mentioned, we give substantial priorities to super spaceowner who dedicate their and effort to provide their services with excellence. <br/> Super spaceowner are cordially invited to Galaspace special event and able to try out pre-release version of our products. Other than that, we also provide a betters tools for super spaceowner to manage their event plannings better with free of charge. <br/>Super spaceowner also get the opportunity to be featured on top page listings in the marketplace." data-toggle="modal" data-target="#chat-modal"> What Are Benefits of being superhosts? </li>
			</ul>
		</section>
		<div class="col-lg-12" style="float:left;">
			<h3>Event Services Providers</h3>
		</div><br><br><br><br>
		<section class="col-lg-4 col-md-4 col-sm-6 col-xs-12 faq-col">
			<ul class="faq-list" id="faq-option">
				<li faq-answer="Certainly the chances of you being event service provider must meet our minimum criteria and our quality standards’ policy.<br/> Photographers, Event Decorators and Food & Beverage Caterers should have their business license to conduct their legal business activities within the local law." data-toggle="modal" data-target="#chat-modal"> Is it a requirement to have permit / license to be event service provider?   </li>
				<li faq-answer="Galaspace does not charge any event service provider to list their event service. However, event service provider can only list one event service on the marketplace to ensure Galaspace community to have fair and trusted community." data-toggle="modal" data-target="#chat-modal"> Do I get charged for listing my Event Service On Galaspace?
			   </li>
			   <li faq-answer="Event Service Provider get paid according to their option of Cancellation Policy. Galaspace issue a refund to the event organizer in an appropriate amount." data-toggle="modal" data-target="#chat-modal"> Do I Get Paid If An Event Was Cancelled after it was booked?
			   </li>
			</ul>
		</section>
	</div>
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
			<div id="chat-modal" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Answer</h4>
						</div>
						<div class="modal-body">
							<h3 class="fq-ques"> </h3> <br/>
							<div class="fq-ans">


							</div>
						</div>
						<div class="modal-footer">
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
