{% extends 'templates/main_container.twig' %}

{% block main %}
	<div class="jumbotronGSso img-responsive">
		<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<h4 class="text-left home-header-text" style="color:#fff;text-shadow:1px 0px 10px #333;margin-top:120px;">Expand your reach by listing on Galaspace</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-5">
						<button class="btn btn-info btn-custom btn-block" type="button" onclick="window.location.href='{{ base_url() }}/signup'" >Get Started</button>
					</div>
				</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="col-lg-4">
					<h3>Why List on Galaspace?</h3>
					<p class="text-justify">It's free and easy to create a listing on Galaspace.You just have to provide details of your event space.
					Galaspace also provide simple and conveniences interacting with your client</p>
				</div>
				<div class="col-lg-4">
					<h3>Your space, Your way?</h3>
					<p class="text-justify">You have an ability to determine your pricing, bookings and what type of events to host</p>
				</div>
				<div class="col-lg-4">
					<h3>24/7 World Class Support</h3>
					<p class="text-justify">We take no rest of trying to help you and answer any question you may have</p>
				</div>
			</div>
		</div>
		<div class="row">
			<br>
			<div class="col-lg-7">
				<h3>Perks of Listing Your Event Space</h3>
				<h4>Bring Your Space to the next level</h4>
				<p>Event Organizer will utilize your event space in a creative way and makes the most of it.</p>
				<br>
				<h4>Expanding the Reach</h4>
				<p class="text-justify">Your event space will be reached by many others. Hence, that will increase your income by booking your event space.
				Definitely, increment rate of prospects that may be interested rent your event space.</p>
				<br><br>
				<h2>F.A.Q. (Frequently Asked Questions)</h2>
 <br/><br/>
				<button class="accordion">How Should I set the rates?</button>
<div class="panelAccordion">
  <p>Galaspace provide the autonomy of Event Space Owners to set the pricing based on their will.
					That said, you may charge the rate hourly according to competitive or other pricing strategy. If
					the event space provide great amenities to provide exclusivity to the guests, the event space’s
					price would be more expensive.</p>
</div>

<button class="accordion">Is it Compulsory to accept every bookings?</button>
<div class="panelAccordion">
  <p>Galaspace give the ability for Event Space Owners and Event Service Providers to decide
					whether to accept or cancel bookings. However, you may cancel reservation provided that you
					provide a legitimate reasons to event organizer of why you have to cancel to ensure that event
					organizer is fully informed and aware with unforeseen circumstances.</p>
</div>

<button class="accordion">Do I get paid if an event was cancelled after it was booked?</button>
<div class="panelAccordion">
  <p>Event Space Owners get paid according to their option of Cancellation Policy.Galaspace will
					issue a refund to the event organizer in an appropriate amount</p>
</div>
<br/><br/><br/>

				<script>
                 var acc = document.getElementsByClassName("accordion");
                 var i;

                 for (i = 0; i < acc.length; i++) {
                    acc[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.display === "block") {
                       panel.style.display = "none";
                     } else {
                       panel.style.display = "block";
                     }
                  });
                }
              </script>
			</div>
			<div class="col-lg-4 col-lg-push-1">
				<h3><img src="https://png.icons8.com/color/40/16a085/checkmark.png"/>  Free Listing</h3>
				<h3><img src="https://png.icons8.com/color/40/16a085/checkmark.png"/>  24 Hours Support</h3>
				<h3><img src="https://png.icons8.com/color/40/16a085/checkmark.png"/>  Fast & Easy</h3>
			</div>
		</div>
	</div>

{% endblock %}
