{% extends 'templates/main_container.twig' %}

{% block main %}
	<div class="jumbotronGSeo img-responsive">
		<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<h4 class="text-left home-header-text" style="color:#fff;text-shadow:1px 0px 10px #333;margin-top:120px;">Creating an event is easier than ever in Galaspace</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-5">
						<button class="btn btn-info btn-custom btn-block" type="submit" onclick="window.location.href='{{ base_url() }}/signup'" >Get Started</button>
					</div>
				</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h3>How It Works</h3>
				<p class="text-justify">Begin by discover and plan which event space is suitable for the event. Once the event space is selected
				according to your preferences, you can begin to discuss further details with event space owner to make full use of
				the event space</p>
				<p class="text-justify">With Galaspace, there's more than just finding an event space. We allow curated Event Service Provider to provide
				their amazing hospitality and services with their specialization. You can find out which Food Caterers that able to
				cater your guest in the event. That doesn't stop there, you can hire photographers to capture decent memories for the event</p>
			</div>
		</div>
		<div class="row">
			<br>
			<div class="col-lg-7">
				<h2>F.A.Q. (Frequently Asked Questions)</h2>
 				<br/><br/>
				<button class="accordion">I'm organising charity events, do I get discounts?</button>
				<div class="panelAccordion">
  				<p>With Galaspace, we highly welcome to organise charity events and offer discounts of 5%. To obtain
				the discount, you may directly contact us and how we can assist you to organize the event.</p>
				</div>

				<button class="accordion">Who can be Event Organizer?</button>
				<div class="panelAccordion">
				<p>Anyone actually can be Event Organizer. If this might be your first time, we highly suggest to seek our
				experienced event coordinator to guide and brief guidelines on how you can organise your event as planned.</p>
				</div>

				<button class="accordion">Do repeated customers get discounts?</button>
				<div class="panelAccordion">
				  <p>Yes, Galaspace offers a special programme for repeat customers. Please contact us to find out
				  more which programme that suits best for you.</p>
				</div>
				<br/><br/><br/>

				<script>
                 var acc = document.getElementsByClassName("accordion");
                 var i;

                 for (i = 0; i < acc.length; i++) {
                    acc[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.display === "block") {
                       panel.style.display = "none";
                     } else {
                       panel.style.display = "block";
                     }
                  });
                }
              </script>
			</div>
		</div>
	</div>

{% endblock %}
