{% extends 'templates/main_container.twig' %}

{% block main %}
	<div class="jumbotronGSsp img-responsive">
		<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<h4 class="text-left home-header-text" style="color:#fff;text-shadow:1px 0px 10px #333;margin-top:120px;">Make the event memorable with your Hospitality</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-5">
						<button class="btn btn-info btn-custom btn-block" type="submit" onclick="window.location.href='{{ base_url() }}/signup'" >Get Started</button>
					</div>
				</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h3>Who Are Event Service Provider?</h3>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-lg-6 col-sm-12">
				<div class="col-lg-2 col-sm-2 col-xs-3">
					<img src="{{ base_url() }}/img/icons/catering.png"/>
				</div>
				<div class="col-lg-10 col-sm-10 col-xs-9">
					<h4>Food & Beverage Caterers</h4>
					<p>Serve any cuisine that would experience and indulge your finest cook for your clients.</p>
				</div>
			</div>
			<div class="col-lg-6 col-sm-12">
				<div class="col-lg-2 col-sm-2 col-xs-3">
					<img src="{{ base_url() }}/img/icons/photo-camera.png"/>
				</div>
				<div class="col-lg-10 col-sm-10 col-xs-9">
					<h4>Photographers & Videographers</h4>
					<p>Capture the amazing moments of the events.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-lg-6 col-sm-12">
				<div class="col-lg-2 col-sm-2 col-xs-3">
					<img src="{{ base_url() }}/img/icons/home.png"/>
				</div>
				<div class="col-lg-10 col-sm-10 col-xs-9">
					<h4>Event Decorators</h4>
					<p>Makeover the event space by allowing new theme and creativity into reality</p>
				</div>
			</div>
			<div class="col-lg-6 col-sm-12">
				<div class="col-lg-2 col-sm-2 col-xs-3">
					<img src="{{ base_url() }}/img/icons/music-player.png"/>
				</div>
				<div class="col-lg-10 col-sm-10 col-xs-9">
					<h4>Entertainment</h4>
					<p>Cherish the joy and laughter through comedy or by allowing to experience the finest tunes
					from talented musicians</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<h3>How To Get Started?</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 text-justify" id="howGetStarted">
				<div class="col-lg-4 text-center">
					<div class="row center-block">
						<img src="{{ base_url() }}/img/icons/number-one-in-a-circle.png"/>
					</div>
					<div class="row">
						<h4>Fill out the details</h4>
						<p>Provide the details of your service that you provide descriptions, photos, schedule and others.</p>
					</div>
				</div>
				<div class="col-lg-4 text-center">
					<div class="row center-block">
						<img src="{{ base_url() }}/img/icons/number-two-in-a-circle.png"/>
					</div>
					<div class="row">
						<h4>Submit for review</h4>
						<p>Your details will be reviewed by our curated support team to ensure your service meets our quality standards.</p>
					</div>
				</div>
				<div class="col-lg-4 text-center">
					<div class="row center-block">
						<img src="{{ base_url() }}/img/icons/number-three-in-a-circle.png"/>
					</div>
					<div class="row">
						<h4>Begin the action</h4>
						<p>Start by collaborating with event space owner and your client to provide the experience that wished for.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<h4>Expand Your Brand</h4>
				<p>Improve your brand name by providing frequent services on multiple events.<br> That would most
				likely increase your brand</p>
			</div>
			<div class="col-lg-6">
				<h4>The Higher Rating, The Better</h4>
				<p>With the option of guest rate your services and reviews,<br> you will be one of the first marketplace.</p>
			</div>
		</div>
	</div>

{% endblock %}
