{% extends 'templates/main_container.twig' %}

{% block main %}
	<div class="jumbotron img-responsive">
		<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h3 class="text-center home-header-text" style="color:#fff;text-shadow:1px 0px 10px #333">Creating your Awesome event is just a click away!</h3>
						<br>
						<p class="text-center" style="color:#fff;font-size:15px;text-shadow:1px 0px 10px #333">With Galaspace you will simplify your event planning.</p>
						<br>
						<br>
					</div>
					<form class="form-horizontal" method="get" action="/event-spaces" style="padding:10px;">
						<div class="col-lg-4 col-lg-push-2 srcBox">
							<div class="form-group">
								<select name="eType" class="form-control" style="height: 50px;">
									<option selected="selected" disabled>Event Type</option>
									<option value="allTypes">All types</option>
									<option value="restaurant">Restaurant</option>
									<option value="office">Office</option>
									<option value="warehouse">Warehouse</option>
									<option value="personal space">Personal Space</option>
									<option value="studio">Studio</option>
									<option value="conference room">Conference Room</option>
								</select>
							</div>
						</div>
						<div class="col-lg-4 col-lg-push-2 srcBox">
							<div class="form-group">
								<select name="eLocation" class="form-control" style="height: 50px;">
									<option selected="selected" disabled>Event Location</option>
									<option value="Singapore">Singapore</option>
									<optgroup label="Malaysia">
										<option value="Sarawak">Sarawak</option>
									</optgroup>
								</select>
							</div>
						</div>
						<div class="col-lg-2 col-lg-push-2 srcBox" id="goBtn">
							<div class="form-group">
								<button class="btn btn-info btn-custom btn-block" type="submit"><i class="fa fa-search"></i> GO</button>
							</div>
						</div>
					{{ csrf.field | raw }}
				</form>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h3 class="text-center fadeInUp">There are variety of choices, so you're always on the go</h3>
			</div><br><br><br><br>
			<section class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<a href="{{base_url()}}/get-started-organizer"><img src="{{base_url()}}/img/bg-img/event_organizer.jpg" class="event-img img-responsive"/></a><br>
				<p class="text-center"><b>Event Organizer</b> <br><a href="{{base_url()}}/get-started-organizer">Find out more</a></p>
			</section>
			<section class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<a href="{{base_url()}}/get-started-space-owner"><img src="{{base_url()}}/img/bg-img/space_owner.jpeg" class="event-img img-responsive"/></a><br>
				<p class="text-center"><b>Event Space Owner</b> <br><a href="{{base_url()}}/get-started-space-owner">Find out more</a></p>
			</section>
			<section class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<a href="{{base_url()}}/get-started-service-provider"><img src="{{base_url()}}/img/bg-img/event_provider.jpeg" class="event-img img-responsive"/></a><br>
				<p class="text-center"><b>Event Services Provider</b><br> <a href="{{base_url()}}/get-started-service-provider">Find out more</a></p>
			</section>
		</div>
		<div class="row">
			<hr class="dashed-border">
			<div class="col-lg-12">
				<h1 class="text-center">How Galaspace Works</h1>
				<h3 class="text-center">Discover unique and affordable event space & event service you've been looking</h3>
			</div>
			<div class="col-lg-12">
				<div class="col-lg-4 text-center">
					<img src="{{ base_url() }}/img/icons/search.png" style="width:100px;"/>
					<h4>Search and Discover the Event Space & Event Service</h4>
				</div>
				<div class="col-lg-4 text-center">
					<img src="{{ base_url() }}/img/icons/consulting-message.png" style="width:100px;">
					<h4>Review the listings and discuss your needs</h4>
				</div>
				<div class="col-lg-4 text-center">
					<img src="{{ base_url() }}/img/icons/tick.png" style="width:100px;">
					<h4>Book it</h4>
				</div>
			</div>
		</div>
		<hr class="dashed-border">

		<div id = "community-spotlight-section" style="height:730px">
			<img src="{{ base_url() }}/img/pictureonly.png"  style="position:relative;left:-30px">
			<img src="{{ base_url() }}/img/wording.png" style="position:relative;top:-740px;left:90px">
			<div style="position:relative;top:-900px">
				<br/>
				<h3>Someone find it complex or lazy to organise <br/>an event? Earn Money by fulfilling their needs.</h3>
				<h2 style="color:#00a99d">It's that easy!</h2>
				<br/><br/><br/>

				<button class="btn btn-info btn-custom" style="width:400px" type="submit" onclick="window.location.href='{{ base_url() }}/plan-an-event'">
					<img src="{{ base_url() }}/img/icons/list.png" width="30px" height="30px">
					Request a Professional Planning
				</button>
				<br/><br/><br/>
				<button class="btn btn-info btn-custom" style="width:400px" type="submit" onclick="window.location.href='{{ base_url() }}/community-feed'">
					<img src="{{ base_url() }}/img/icons/eye.png" width="30px" height="30px">
					View Community Hub
				</button>
			</div>



	</div>

		<div class="row">
			<div class="col-lg-12">
				<hr class="dashed-border">
				<h3 class="text-center">Join Galaspace And Be Part Of The Community!</h3>
				<br>
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<h4>Standard is our priority</h4>
						<p class="text-justify">We take each and every step to make Galaspace to be affordable yet meet <br>
							criteria of event space policy</p>
					</div>
					<div class="col-lg-6 col-md-6">
						<h4>24/7 World Class Support</h4>
						<p class="text-justify">We take no rest of trying to help you and answer any questions you may have</p>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<h4>There's always new interesting places</h4>
						<p class="text-justify">You'll always find a new event space that is new and refreshing to experience!</p>
					</div>
					<div class="col-lg-6 col-md-6">
						<h4>You are 24/7 Updated</h4>
						<p class="text-justify">You won't miss out any exciting discounts and future updates</p>
					</div>
				</div>
			</div>
		</div>
	</div>
    <br/><br/>
    <div class="jumbotronGSh2 img-responsive">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img src="{{ base_url }}/img/logo/logo1.png" class="img-responsive">
                </div>
                <div class="col-lg-5 jGSH2">
                    <h3 style="color:white;">Our team of experts able to help you to plan an event that is large and complex.</h3>
                    <h3 style="color:white;">We do each of every step including the heavy lifting part.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <button class="btn btn-info btn-custom btn-block" type="submit" onclick="window.location.href='{{ base_url() }}/plan-an-event'" >Get Started</button>
                </div>
            </div>
        </div>
        <br/><br/>
    </div>
{% endblock %}


