{% extends 'templates/main_container.twig' %}

{% block main %}
    <div id="js">
        {% if eventEnquire == "true" %}
            <script>
                swal({
                    type: 'success',
                    title: 'Enquiry Sent',
                    text: 'Your enquiry was sent and we will reply you as soon',
                });
            </script>
            {% elseif eventEnquire == "false" %}
            <script>
                swal({
                    type: 'error',
                    title: 'Enquiry Error',
                    text: 'Your enquiry was unsuccessfully sent. Please try again later or you may email us straight to contact@galaspace.com',
                });
            </script>
        {% endif %}
    </div>
    <div class="jumbotronGSh2 img-responsive">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img src="{{ base_url }}/img/logo/logo1.png" class="img-responsive" style="width:35%;height: 50%;">
                </div>
                <div class="col-lg-5 text-justify fadeInRight" style="margin-top:-40px;">
                    <h3 style="color:white;">Dedicated Galaspace Team that allows you to access listings and assist you to plan
                        in any kind major of events whether corporate or even weddings!</h3>
                    <h3 style="color:white;">Lets us know what you are in need of and we'll be glad to assist you.</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <br/>
        <form name="eventPlanning" method="post">
            <div class="row">
                <br/><br/>
                <div class="col-lg-10">
                    <div class="form-group {{ errors.event_plan ? 'has-error' : '' }}">
                        <label>Do you plan for any business or personal event(s)?</label><br>
                        <input class="ui-radio" type="radio" id="personal" name="event_plan" value="Personal Event"/>
                        <label for="personal">Personal Event</label>
                        <input class="ui-radio" type="radio" id="business" name="event_plan" value="Business Event"/>
                        <label for="business">Business Event</label>
                        {% if errors.event_plan %}
                            <span class="help-block">{{ errors.event_plan | first }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group {{ errors.event_budget ? 'has-error' : '' }}">
                        <label>What's your budget?</label><br>
                        <div class="input-group">
						    <span class="input-group-addon">
							    <img src="https://png.icons8.com/windows/30/000000/us-dollar.png">
						    </span>
                            <input class="form-control input-lg" id="event_budget" type="number" name="event_budget" placeholder="Minimum $5000" value="{{ old.event_budget }}">
                        </div>
                        {% if errors.event_budget %}
                            <span class="help-block">{{ errors.event_budget | first }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group {{ errors.event_location ? 'has-error' : '' }}">
                        <label>Your proposed location?</label><br>
                        <div class="input-group">
						    <span class="input-group-addon">
							    <img src="https://png.icons8.com/windows/30/000000/marker.png">
						    </span>
                            <input class="form-control input-lg" id="event_location" type="text" name="event_location" placeholder="" value="{{ old.event_location }}">
                        </div>
                        {% if errors.event_location %}
                            <span class="help-block">{{ errors.event_location | first }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group {{ errors.event_dt ? 'has-error' : '' }}">
                        <label>Your proposed date and time?</label><br>
                        <div class="input-group">
                            <div class='input-group date'>
                                <span class="input-group-addon">
                                    <img src="https://png.icons8.com/ios/30/000000/calendar.png">
                                </span>
                                <input type="text" class="form-control input-lg available-dt" id="event_dt" name="event_dt" placeholder="Choose Date and Time" value="{{ old.event_dt }}"/>
                            </div>
                        </div>
                        {% if errors.event_dt %}
                            <span class="help-block">{{ errors.event_dt | first }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group {{ errors.event_guest ? 'has-error' : '' }}">
                        <label>How many guest will attend?</label><br>
                        <div class="input-group">
						    <span class="input-group-addon">
							    <img src="https://png.icons8.com/ios/30/000000/groups.png">
						    </span>
                            <input class="form-control input-lg" id="event_guest" type="number" name="event_guest" placeholder="" value="{{ old.event_guest }}">
                        </div>
                        {% if errors.event_guest %}
                            <span class="help-block">{{ errors.event_guest | first }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group {{ errors.event_services ? 'has-error' : '' }}">
                        <label>Which types of service that you wish for us to book?</label><br>
                        <div class="input-group">
                            <input type="checkbox" id="air-condition" name="event_services[]" class="ui-checkbox amenities" value="Air Condition"/>
                            <label for="air-condition">Air Condition</label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="checkbox" id="natural-light" name="event_services[]" class="ui-checkbox amenities" value="Natural Light"/>
                            <label for="natural-light">Natural Light</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="checkbox" id="stage" name="event_services[]" class="ui-checkbox amenities" value="Stage"/>
                            <label for="stage">Stage</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="checkbox" id="heat" name="event_services[]" class="ui-checkbox amenities" value="Heat"/>
                            <label for="heat">Heat</label><br><br>
                            <input type="checkbox" id="projector" name="event_services[]" class="ui-checkbox amenities" value="Projector"/>
                            <label for="projector">Projector</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="checkbox" id="wifi" name="event_services[]" class="ui-checkbox amenities" value="Wifi"/>
                            <label for="wifi">Wifi</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="checkbox" id="sound-system" name="event_services[]" class="ui-checkbox amenities" value="Sound System"/>
                            <label for="sound-system">Sound System</label>&nbsp;&nbsp;
                            <input type="checkbox" id="tv" name="event_services[]" class="ui-checkbox amenities" value="TV"/>
                            <label for="tv">TV</label><br><br>
                            <input type="checkbox" id="no-smoking" name="event_services[]" class="ui-checkbox amenities" value="No Smoking"/>
                            <label for="no-smoking">No Smoking</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="checkbox" id="smoking-area" name="event_services[]" class="ui-checkbox amenities" value="Smoking Area"/>
                            <label for="smoking-area">Smoking Area</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="checkbox" id="rooftop" name="event_services[]" class="ui-checkbox amenities" value="Rooftop"/>
                            <label for="rooftop">Rooftop</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="checkbox" id="microphone" name="event_services[]" class="ui-checkbox amenities" value="Microphone"/>
                            <label for="microphone">Microphone</label><br><br>
                            <input type="checkbox" id="others" name="event_services[]" class="ui-checkbox amenities" value="Others"/>
                            <label for="others">Others</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="checkbox" id="undecided" name="event_services[]" class="ui-checkbox amenities" value="Undecided"/>
                            <label for="undecided">Undecided</label>
                        </div>
                        {% if errors.event_services %}
                            <span class="help-block">{{ errors.event_services | first }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group {{ errors.event_request ? 'has-error' : '' }}">
                        <label>Tell us more about what you require?</label><br>
                        <div class="input-group">
                            <textarea class="form-control input-lg" id="event_request" name="event_request" cols="60" rows="4"></textarea>
                        </div>
                        {% if errors.event_request %}
                            <span class="help-block">{{ errors.event_request | first }}</span>
                        {% endif %}
                    </div>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group {{ errors.full_name ? 'has-error' : '' }}">
                        <label>Full Name</label><br>
                        <div class="input-group">
						    <span class="input-group-addon">
							    <img src="https://png.icons8.com/windows/30/000000/user.png">
						    </span>
                            <input class="form-control input-lg" id="full_name" type="text" name="full_name" placeholder="" value="{{ old.full_name }}">
                        </div>
                        {% if errors.full_name %}
                            <span class="help-block">{{ errors.full_name | first }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group {{ errors.email_address ? 'has-error' : '' }}">
                        <label>Email Address</label><br>
                        <div class="input-group">
						    <span class="input-group-addon">
							    <img src="https://png.icons8.com/ios/30/000000/new-post.png">
						    </span>
                            <input class="form-control input-lg" id="email_address" type="text" name="email_address" placeholder="" value="{{ old.email_address }}">
                        </div>
                        {% if errors.email_address %}
                            <span class="help-block">{{ errors.email_address | first }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group {{ errors.contact_number ? 'has-error' : '' }}">
                        <label>Contact Number</label><br>
                        <div class="input-group">
						    <span class="input-group-addon">
							    <img src="https://png.icons8.com/windows/30/000000/phone.png">
						    </span>
                            <input class="form-control input-lg" id="contact_number" type="text" name="contact_number" placeholder="" value="{{ old.contact_number }}">
                        </div>
                        {% if errors.contact_number %}
                            <span class="help-block">{{ errors.contact_number | first }}</span>
                        {% endif %}
                    </div>
                    <button class="btn btn-info btn-custom btn-block" type="submit">Enquire</button>
                    <br>
                    <button class="btn btn-danger btn-custom1 btn-block" type="reset">Reset</button>
                    <br/>
                </div>
            </div>
            {{ csrf.field | raw }}
        </form>
    </div>
{% endblock %}
