{% extends 'templates/main_container.twig' %}

{% block main %}
    <div class="press-header img-responsive">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center about-header-text" style="color:#fff;text-shadow:1px 0px 10px #333">Galaspace In The News</h1>
                    <br>
                    <p class="text-center" style="color:#fff;text-shadow:1px 0px 10px #333;font-size:20px;">Galaspace is Asia's Leading Event One-stop Marketplace</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="text-center"> <img src="https://png.icons8.com/ios/35/000000/goal.png" alt=""> Our Mission</h3>
                <h4 class="text-center">We thrive to develop Galaspace to get everyone to organize an event easily yet affordanble</h4>
                <br/><br/>
            </div>
            <h3 class="text-center">Our Objectives</h3>
        </div>
        <div class="row">
            <div class="col-lg-6 text-center">
                <img src="{{ base_url() }}/img/gspace_budget.png" style="width:150px;">
                <h3>Reduce Overall Cost</h3>
                <h4>We aim to make effort for Event Organizers to organize their at affordable price and reduce their time effort.</h4>
            </div>
            <div class="col-lg-6 text-center">
                <img src="{{ base_url() }}/img/gspace_badge.png" style="width:150px;">
                <h3>Increase Sales</h3>
                <h4>We thrive to exercise our ability to increase sales of event space owner and event service provider through Galaspace</h4>
            </div>
        </div>
        <br><br>
    </div>

{% endblock %}
