{% extends 'templates/main_container.twig' %}

{% block main %}
	<div class="jumbotron img-responsive">
		<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<h4 class="text-left home-header-text" style="color:#fff;text-shadow:1px 0px 10px #333;margin-top:120px;">Privacy Policy</h4>
					</div>
				</div>
		</div>
	</div>

	<div class="container text-justify">
		<div class="row">
						<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
							<br/>
							    <h3> <img src="https://png.icons8.com/windows/50/000000/book.png"> Privacy Policy </h3>
							<hr>
							<br/>
							<p>
								Last Updated: May 2019 <br/><br/>
								We at Galaspace (“Galaspace”,”we”,”us”, or “our”) have created this privacy policy (this “Privacy
								Policy”) because we know that you care about how information you provide to us is used and
								shared. This Privacy Policy relates to the information collection and use practices of Galaspace in
								connection with our Site,Application,Services. By visiting our Site,Application,Services, Visitors and
								Registered Users are agreeing to the terms of this Privacy Policy and the accompanying Terms of
								Service. Capitalized terms not defined in this Privacy Policy shall have the meaning set forth in our
								Terms of Service. If you do not agree to any part of this Privacy Policy, then we cannot provide the
								Site,Application,Services to you, and you should stop accessing the Site,Application,Services and
								deactivate your Galaspace Account. You can find out more about how to deactivate your Galaspace
								Account at www.galaspace.com/help.
								<br/><br/>

								<b><u>The Information We Collect</u></b> <br/><br/>
								In the course of operating Site,Application,Services, we may collect (and/or receive) the following
								types of information. You authorize us to collect and/or receive such information.
								<br/><br/>

								<b>1. Personal Information</b>
								<br/><br/>
								When you sign up to become a Registered User, you will be required to provide us with personal
								information about yourself, such as your name, e-mail address, location, and phone number. If you
								contact us, you will need to provide your name and e-mail address. Registered Users may also
								provide identifiable information in the course of using the Site,Application,Services. All information
								we collect and/or receive under this section is collectively called “Personal Information”. We do not
								collect any personal information from Visitors or Registered Users unless they provide such
								information voluntarily.
								<br/><br/>

								<b>2. Billing Information</b>
								<br/><br/>
								In the course of using the Site,Application,Services, you may be required to provide certain
								information to our third-party payment vendors pursuant to the terms and conditions of their privacy
								policies and terms of service. Such information may include a debit card number, credit card
								number, expiration date, billing address, activation codes, and similar information. Such information
								is collectively called the “Billing Information”. You authorize our third-party payment vendors to
								collect, process, and store your Billing Information. Galaspace does not store or process your Billing
								Information.
								<br/><br/>

								<b>3. Other Information</b>
								<br/><br/>
								In addition to the information noted above, we may collect additional information (collectively, the
								“Other Information”). Such Other Information may include: a. From You. Additional information about
								yourself that you voluntarily provide to us, such as job title, company or event information, service
								preferences, and other information that does not identify you personally.

								<br/>

								b. From Your Activity. Information that we automatically collect when you use the
								Site,Application,Services, including, without limitation:
								<ul>
									<li>IP Addresses, which may consist of a static or dynamic IP address and will sometimes point
										to a specific identifiable computer or device; browser type and language; referring and exit
										pages and URLs; date and time; amount of time spent on particular pages; what sections of
										the Site you visit; and similar date; and
									</li>
									<li> Information about your device, including the type of device; universally unique ID (“UUID”);
										advertising identifier (“IFDA”); MAC address; operating system and version (e.g., iOS, Android
										or Windows); carrier and country location; hard and processor information (e.g., storage, chip
										speed, camera resolution, NFC enabled); network type (WiFi, 3G, 4G, LTE); and similar data.
									</li>
								</ul> <br/>
							c.From Cookies. Information that we collect using “cookie” technology. Cookies are small packets of
							data that a website stores on your computer’s or mobile device’s hard drive so that your computer
							will “remember” information about your visit. We may use both session cookies (which expire once
							you close your web browser) and persistent cookies (which stay on your computer until you delete
							them) to help us collect Other Information and to enhance your experience using the
							Site,Application,Services. If you do not want us to place a cookie on your hard drive, you may be able
							to turn that feature off on your computer or mobile device. Please consult your Internet browser’s
							documentation for information on how to do this and how to delete persistent cookies. However, if
							you decide not to accept cookies from us, the Site,Application,Services may not function properly.
							<br/>
							d.Third-Party Analytics We use third-party analytics services (such as Google Analytics) to evaluate
							use of the Site and the Services, compile reports on activity, collect demographic data, analyze
							performance metrics, and collect and evaluate other information relating to the Site and the Services
							and mobile and Internet usage. These third parties use cookies and other technologies to help
							analyze and provide us the data. By accessing and using the Site or the Services, you consent to the
							processing of data about you by these analytics providers in the manner and for the purposes set
							out in this Privacy Policy. For more information on Google Analytics, including how to opt out from
							certain data collection, please visit https://www.google.com/analytics. Please be advised that if you
							opt out of any service, you may not be able to use the full functionality of the Site or the Services.

							<br/>
							<b><u>Information Collected by our Through Third-Party Advertising Companies</u></b><br/>
							We may share Other Information about your activity on the Site or the Services with third parties for
							the purpose of tailoring, analyzing, managing, reporting, and optimizing advertising you see on the
							Site or the Services and elsewhere. These third parties may use cookies, pixel tags (also called web
							beacons or clear gifs), and/or other technologies to collect such Other Information for such
							purposes. Pixel tags enable us, and these third-party advertisers, to recognize a browser’s cookie
							when a browser visits the site on which the pixel tag is located in order to learn which advertisement
							brings a user to a given site.

							<br/>
							<b><u>Accessing and Modifying Personal Information and Communication Preferences</u></b><br/>
							If you are a Registered User, you may access, review, and make changes to your Personal
							Information, certain Other Information, and, if applicable, Billing Information by following the
							instructions found on the Site. In addition, you may manage your receipt of marketing and
							non-transactional communications by clicking on the “unsubscribe” link located on the bottom of
							any Galaspace marketing email. Registered Users cannot opt out of receiving transactional e-mails
							related to their account. We will use commercially reasonable efforts to process such requests in a
							timely manner. You should be aware, however, that it is not always possible to completely remove or
							modify information in our subscription databases.

							<br/>

							<br/>

							<b><u>How We Use and Share the Information</u></b><br/><br/>
							We use the Personal Information and the Other Information (collectively, the “Information”) to
							provide the Services; to maintain and improve our Site and Services; to solicit your feedback; and to
							inform you about our products and services and those of our third-party marketing partners.
							We may also use and/or share Information as described below.
							<br/><br/>
							<ul>
								<li>Galaspace will access, use, and share the Information as required to process your orders and
									provide support to you.
								</li>
								<li>In order to provide our Services, we may share the Information with our third-party
									promotional and marketing partners, including, without limitation, businesses participating in
									our various programs.
								</li>
								<li>We may, from time to time, share and/or license Information to other companies who may
									provide you information about the products and services they or their partners offer.
									However, to the extent required by law, you will be given the opportunity to opt out of such
									sharing.
								</li>
								<li>We may employ other companies and individuals to perform functions on our behalf.
									Examples may include providing technical assistance, customer service, and marketing
									assistance. These other companies will have access to the Information only as necessary to
									perform their functions and to the extent permitted by law.
								</li>
								<li>In an ongoing effort to better understand our Visitors, Registered Users, and Services, we
									may analyze Information in aggregate form. This aggregate information does not identify
									you personally. We may share this aggregate data with our affiliates, agents, and business
									partners. We may also disclose aggregated user statistics in order to describe our Site and
									Services to current and prospective business partners and to other third parties for other
									lawful purposes.
								</li>
								<li>We may share some or all of your Information with any of our parent companies,
									subsidiaries, joint ventures, or other companies under common control with us.
								</li>
								<li>
									As we develop our businesses, we might sell or buy businesses or assets. In the event of a
									corporate sale, merger, reorganization, sale of assets, dissolution, or similar event, the
									Information may be part of the transferred assets.
								</li>
								<li>
									To the extent permitted by law, we may also disclose the Information: (i) when required by
									law, court order, or other government or law enforcement authority or regulatory agency; or
									(ii) whenever we believe that disclosing such Information is necessary or advisable, for
									example, to protect the rights, property, or safety of Galaspace or others. Information You
									Share Please keep in mind that whenever you voluntarily make your Personal Information or
									Registered User Content available to third parties — for example on message boards or web
									logs; through email; or in comment or chat areas — that information and content can be
									seen, collected, heard, and/or used by others besides us. We cannot be responsible for any
									unauthorized third-party use of such information or content, and this Privacy Policy does not
									apply to any Information that you share in any of the foregoing ways.
								</li>
							</ul>
							<br/><br/>
							<b><u>How We Protect the Information</u></b><br/><br/>
							We take commercially reasonable steps to protect the Information from loss, misuse, and
							unauthorized access, disclosure, alteration, or destruction. Please understand, however, that no
							security system is impenetrable. We cannot guarantee the security of our databases, nor can we
							guarantee that the Information that you supply will not be intercepted while being transmitted to and
							from us over the Internet. In particular, e-mail sent to or from the Site may not be secure, and you
							should therefore take special care in deciding what information you send to us via e-mail.
							<br/><br/>
							<b><u>Children</u></b><br/><br/>
							We do not knowingly collect Personal Information from children under the age of 13 through the
							Site. If you are under 13, please do not give us any Personal Information. We encourage parents and
							legal guardians to monitor their children’s Internet usage and to help enforce our Privacy Policy by
							instructing their children to never provide Personal Information through the Site without their
							permission. If you have reason to believe that a child under the age of 13 has provided Personal
							Information to us, please contact us, and we will endeavor to delete that information from our
							databases.
							<br/><br/>
							<b><u>External Websites</u></b><br/><br/>
							The Site may contain links to third-party websites. We have no control over the privacy practices or
							the content of any of our business partners, advertisers, sponsors, or other websites to which we
							provide links. As such, we are not responsible for the content or the privacy policies of those
							third-party websites. You should check the applicable third-party privacy policy and terms of use
							when visiting any other websites.
							<br/><br/>
							<b><u>Business Transfers By Galaspace</u></b><br/><br/>
							If Galaspace undertakes or is involved in any merger,acquisition,reorganization,sale of assets or
							bankruptcy or insolvency event, then we may sell, transfer or share some or all of our assets,
							including your Personal Information. In this event, we will notify you before your Personal
							Information is transferred and becomes subject to a different Privacy Policy.<br/><br/>

							<b><u>How to Access, Change or Delete Your Information, Or Deactivate Your Galaspace Account</u></b><br/><br/>

							You may review, update, correct or delete the Personal Information in your Galaspace Account. If you
							would like to correct your information or deactivate your Galaspace Account entirely, you can do so
							by logging to your Galaspace Account. Please also note that any reviews, forum postings and similar
							materials posted by you may continue to be publicly available on the Site,Application,Services in
							association with your first name, even after your Galaspace Account is cancelled.<br/><br/>

							<b><u>Changes to This Privacy Policy</u></b><br/><br/>
							This Privacy Policy is effective as of the date stated at the top of this Privacy Policy. We may change
							this Privacy Policy from time to time. By accessing the Site and/or using our services after we make
							any such changes to this Privacy Policy, you are deemed to have accepted such changes. Please be
							aware that, to the extent permitted by applicable law, our use of the Information is governed by the
							Privacy Policy in effect at the time we collect the Information. Please refer back to this Privacy Policy
							on a regular basis.
							<br/><br/>
								<b>How to Contact Us</b><br/>
								If you have questions about this Privacy Policy, please contact us via e-mail<br/>
								<a href="mailto:support@galapspace.com">support@galaspace.com</a>
															</p>
								<br/>

								</div>
						</div>
				</div>
			</div>

{% endblock %}
