{% extends 'templates/main_container.twig' %}

{% block main %}
    <div class="jumbotronReqSpace img-responsive">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h4 class="text-left home-header-text" style="color:#fff;text-shadow:1px 0px 10px #333;margin-top:120px;"> Post a request to the Galaspace community feed</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h4 style="padding-left: 10px; color: white;"> If you have trouble finding a space for your event or are in need of something a little more unique you can submit a space request below.</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
