{% extends 'templates/main_container.twig' %}

{% block main %}
	<div class="jumbotron img-responsive">
		<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<h4 class="text-left home-header-text" style="color:#fff;text-shadow:1px 0px 10px #333;margin-top:120px;">Terms Of Service</h4>
					</div>
				</div>
		</div>
	</div>

	<div class="container text-justify">
		<div class="row">
						<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
							<br/>
							    <h3> <img src="https://png.icons8.com/windows/50/000000/book.png"> Terms Of Service </h3> 
							<hr>
							<br/>
							<p>
                                Galaspace (Terms Of Service)
								PLEASE READ THESE TERMS OF SERVICE CAREFULLY AS THEY CONTAIN IMPORTANT
								INFORMATION REGARDING YOUR LEGAL RIGHTS,REMEDIES AND
								OBLIGATIONS.THESE INCLUDE VARIOUS LIMITATIONS AND EXCLUSIONS, A CLAUSE
								THAT GOVERNS THE JURISDICTION AND VENUE OF DISPUTES, AND OBLIGATIONS TO
								COMPLY WITH APPLICATION LAWS AND REGULATIONS.
							<br/><br/>
								IN PARTICULAR, EVENT SPACE OWNER & EVENT SERVICE PROVIDER SHOULD
								UNDERSTAND HOW THE LAWS WORK IN THEIR RESPECTIVE CITIES. SOME CITIES
								HAVE LAWS THAT RESTRICT THEIR ABILITY TO HOST PAYING GUESTS FOR SHORT
								PERIODS. THESE LAWS ARE OFTEN PART OF A CITY’S ZONING AND ADMINISTRATIVE
								CODES. IN MANY CITIES, EVENT SPACE OWNER & EVENT SERVICE PROVIDER MUST
								REGISTER, GET A PERMIT, OR OBTAIN A LICENSE BEFORE LISTING A PROPERTY OR
								ACCEPTING GUESTS. CERTAIN TYPES OF SHORT-TERM BOOKINGS MAY BE
								PROHIBITED ALTOGETHER. LOCALS GOVERNMENTS VARY GREATLY IN HOW THEY
								ENFORCE THESE LAWS. PENALTIES MAY INCLUDE FINES OR OTHER ENFORCEMENT.
								EVENT SPACE OWNER & EVENT SERVICE PROVIDER SHOULD REVIEW LOCAL LAWS
								BEFORE LISTING A SPACE ON GALASPACE.

<br/><br/>
<b>LAST UPDATED: MAY 2019</b>
<br/><br/>
								Galaspace (“Galaspace,” “we,” or “our”) welcomes you. We provide you to access to our tools
								and services through our website located www.galaspace.com (the “Site”, “Application” or
								“Services”) subject to these Terms of Service, which may be updated by us from time to time
								with a notice (email) to you. By browsing the public areas of the galaspace.com or by accessing
								and using our Services. You acknowledge that you have read, understood, and agree to be
								legally bound by the terms and conditions of these Terms of Use and the terms and conditions
								of your Privacy Policy, which is hereby incorporated by reference (collectively, this
								“Agreement”). If you do not agree to any of these terms, then you are not permitted to use the
								Site.<br/><br/>
<b>1. DESCRIPTION AND SERVICE OF GALASPACE</b><br/><br/>
								We provide Visitors and Registered Users with access to the Site as described below.
								<br/>
								Visitors. Visitors, as the term implies, are people who do not register with us, but want to
								explore the website. No login is required for Visitors. Visitors can view all content and
								access all publicly-available features and functionality on the website. Furthermore,
								Visitors able to subscribe to Galaspace communications, alerts and other notifications;
								Last but not least, Visitors able to reach us.
<br/><br/>
								Registered Users. Registered Users can all do the things that Visitors can do, and: (i)
								access non-public features and functionality available only to Registered Users; (ii)
								create, access, manage and update their own personal accounts on the website; (iii)
								post listings, comments, reviews, and other content on the website and/or interact with
								other Registered Users of the website (all content and information provided with
								foregoing is collectively referred to herein “Registered User Content”; and (iv) provide or
								book third-party event space through the website (“Event Spaces”); provide or book
								third-party event services through the website (“Event Services”). Galaspace is under
								no obligation to accept any individual Registered User and may accept or reject any
								registration in its sole and complete discretion. In addition, Galaspace may deactivate
								any account any time, including, without limitation, if it determines that a Registered
								User has violated this Agreement.
<br/><br/>

								A Registered may be a Event Organizer, Event Space Owner or Event Service
								Provider:<br/><br/>
								An “Event Organizer” is a Registered User who chooses to create an account through
								which the Registered User may request or book an event space through the website.
<br/><br/>

								A “Event Space Owner” is a Registered User who chooses to create an account through
								which the Registered User may offer and provide Spaces through the website
<br/><br/>

								A “Event Service Provider” is a Registered who chooses to create an account which the
								Registered
								User may offer an additional services or hospitality through the website<br/><br/>

								If an Event Organizer is interested in reserving an Event Space on a particular date and
								during particular of time (an “Event” and, the date of such Event, the “Event Date”), the
								Event Organizer may request a quote from the applicable Host. If the Event Space
								Owner wishes to provide a quote for such Event (“Quote”), it must include in such Quote
								all relevant details of Event Organizer’s use of event space for its Event, include all fees
								charged by Event Space Owner for the use of event space (“Usage Fees”), any prepaid
								or reserved security deposit required (“Security Deposit”), and any additional rules or
								obligations in connection with Event Organizer’s use of the event space for the Event,
								including the rules for cancelling prior to such Event (“Booking Terms”). Event Organizer
								may then book the Event by accepting the Quote and paying all Usage Fees and any
								transaction fees posted by Galaspace and applied to the booking (“Transaction Fees”).

<br/><br/>
<b>2. Eligibility</b>
<br/><br/>
								The Site, Application and Services are intended solely for persons who are 18 or older.
								Any access to or use of the Site,Application or Service by anyone under 18 is expressly
								prohibited. By accessing or using the Site,Application or Services you represent and
								warrant that you are 18 or older.<br/><br/>
								For Users in certain countries, Galaspace will, to the extent permitted by applicable laws
								and if we have sufficient information to identify a user, obtain reports from public records
								of criminal convictions or sex offender registrations of the user.

<br/><br/>
<b>3. Modification</b>
								Galaspace reserves the right, at its sole discretion, to modify the Site, Application or
								Services or to modify these Terms, including the Service Fees, at any time and without
								prior notice. If we modify these Terms, we will post the modification on the Site or email
								the information the notice of modification. We will also update “Last Updated” date at
								the top of these Terms. Changes to the Terms will be effective at the time of posting.
								Your continued access or use of the Site, Application or Services will constitute
								acceptance of the modified Terms. Additionally, if the modified Terms contain material
								changes applicable to existing Members (by decreasing your rights or increasing your
								responsibilities), we will provide you with notice prior to the changes taking effect. If the
								modified Terms are not acceptable to you, your only recourse is to cease using the Site,
								Application and Services. If you do not close your Galaspace account you will be
								deemed to have the accepted the changes.<br/><br/>
<b>4. No Endorsement </b>
<br/><br/>
								Galaspace does not endorse any Event Space Owner or Event Service Provider. Event
								Space Owner and Event Service Provider are required by these Terms to provide
								accurate information. Although Galaspace may, for transparency or fraud prevention or
								detection purposes, directly or through third parties, ask you to provide a form of
								government identification, your date of birth, and other information, or undertake
								additional checks and processes designed to help verify or check the identities or
								backgrounds of Event Space Owner and Event Service Provider and/or screen Event
								Space Owner and Event Service Provider information against third party databases or
								other sources, we do not make any representations about,confirm, or endorse any
								Event Space Owner and Event Service Provider or the Event Space Owner’s or Event
								Service Provider’s purported identity or background.<br/><br/>

								By registering for Galaspace Account, you agree that Galaspace may - but it not
								obligated to - request a consumer report on you from a Consumer Reporting Agency. If
								we do request a consumer report, we will request and use it in compliance with
								applicable law. <br/><br/>
								Any references in the Site, Application or Services to a Event Space Owner or Event
								Service Provider being “verified or “connected” (or similar language) only indicate that
								Event Space Owner or Event Service Provider has completed a relevant verification or
								identification process, and does not represent anything else. Any such description is not
								an endorsement, certification or guarantee by Galaspace about any Event Space
								Owner or Event Service Provider, including of the Event Space Owner’s or Event
								Service Provider’s identity and whether the Event Space Owner or Event Service
								Provider is trustworthy, safe or suitable. Instead, any such description is intended to be
								useful information for you to evaluate when you make your own decisions about the
								identity and suitability of others whom you contact or interact with via the
								Site,Application or Services. We therefore recommend that you always exercise due
								diligence and care when deciding whether to book a Event Space earlier or to accept or
								pre-approved Booking request from a Event Organizer. Or to have any other interaction
								with any other member.<br/><br/>

								By using the Site,Application or Services, you agree that any legal remedy or liability
								that you seek to obtain for actions or omissions of other Event Space Owners or Event
								Service Providers or other third parties will be limited to a claim against the particular
								Event Space Owner or Event Service Provider or other third parties who caused you
								harm. You agree not to attempt to impose liability or seek any legal remedy from
								Galaspace with respect to such actions or omissions. Accordingly, we encourage you to
								communicate directly with other Event Space Owner or Event Service Provider on the
								Site and Services regarding any Bookings or Listings made by you. This limitation shall
								not apply to any claim by a Event Space Owner or Event Service Provider against
								Galaspace regarding the remittance of payments received from an Event Organizer by
								Galaspace on behalf an Event Space Owner and Event Service Provider. <br/><br/>
<b>5. Currency Conversion</b>
<br/><br/>
								Galaspace’s online platform facilitates Bookings amongst Event Organizer, Event
								Space Owner and Event Service Provider who may pay in a currency different from
								their destination currency, which may destination currency, which may require currency
								conversions to accommodate these differing currency preferences. Although the
								Galaspace platform allows users to view the price of Listings in a number of currencies,
								the currencies available for users to make and receive payments may be limited, and
								may not include the default currency in any given geographic location.
<br/><br/>
<b>6. Payments </b>
<br/><br/>
								You agree that Galaspace may deduct all Transactions, Fees, commissions, and other
								fees posted by Galaspace in advance of paying out any Usage Fees, referral fees, or
								other amounts owed to you in connection with your use of the Services. By booking any
								Event, you also agree to the terms of Service and privacy policy of Galaspace’s
								third-party payment processor.

<br/><br/>
<b>7. Controlling Law and Jurisdiction</b>
<br/><br/>
								The Agreement and any action related thereto will be governed by the laws of
								Federation of Malaysia without regard to its conflict of laws provisions. You and we
								agree to submit to the personal jurisdiction of a state court or federal court located in
								Malaysia for any actions for which the parties retain the right to seek injunctive or
								other equitable relief in a court of competent jurisdiction to prevent the actual or
								threatened infringement, misappropriation or violation of a party’s copyrights,
								trademarks, trade secrets, patents, or other intellectual property rights.<br/><br/>
<b>8. Privacy</b>
<br/><br/>
								You agree that Galaspace’s Privacy Policy (as may be updated from time to time)
								governs Galaspace’s collection and use of your personal information.
<br/><br/>
<b>9. Intellectual Property</b>
								The Site contains material, such as software, text, graphics, images, designs, sound
								recordings, audiovisual works, and other material provided by or on behalf of Galaspace
								(collectively referred to as the “Content”). The Content may be owned by us or third
								parties. The Content is protected under both Federation of Malaysia or foreign laws.
								Unauthorized use of the Content may violate copyright, trademark, and other laws. You
								have no rights in or to the Content, and you will not use the Content except as permitted
								under this Agreement. No other use is permitted without prior written consent from us.
								You must retain all copyright and other proprietary notices contained in the original
								Content or reproduce, display, publicly perform, make a derivative version of, distribute,
								or otherwise use of the Content in any way for any public or commercial purposes. The
								use or posting of the Content on any other website or in a networked computer
								environment for any purpose is expressly prohibited.
 <br/><br/>
								If you violate any part of this Agreement, your permission to access and/or use the
								Content and the Site automatically terminates and you must immediately delete/destroy
								any copies you have made of the Content.
 <br/><br/>
								The trademarks, service marks and logos of Galaspace( the “Galaspace Trademarks”)
								used and displayed on the Site are registered and unregistered trademarks or service
								marks of Galaspace. Other company,product and service names located on the Site
								may be trademarks or service marks owned by other (the “Third-Party Trademarks”,
								and, collectively with Galaspace Trademarks, the “Trademarks”). Nothing on the Site
								should construed as granting, by implication, estoppel or otherwise, any license or right
								to use the Trademarks, without our prior written permission specific for each such use.
								Use of the Trademarks as part of a link to or from any site is prohibited unless
								establishment of such a link is approved in advance by us in writing. All goodwill
								generated from the use of Galaspace Trademarks inures to our benefit.<br/><br/>

								Elements of the Site are protected by trade dress, trademark, unfair competition, and
								other state and federal laws and may not be copied or imitated in whole or in part, by
								any means, including, but not limited to, the use of framing or mirrors. None of the
								Content may retransmitted without our express, written consent for each and every
								instance.
<br/><br/>
<b>10. Event Space Owner/ Event Service Provider Content</b>
								We may, in our sole discretion, permit you to post, upload, publish, submit or transmit
								Event Space Owner/Event Service Provider Content. By making available any Event
								Space Owner/ Event Service Provider Content on or through the Site,Application,
								Services, or through Galaspace promotional campaigns, you hereby grant to Galaspace
								a worldwide, irrevocable, perpetual (or for the term of the protection),
								non-exclusive,transferable, royalty-free license, with the right to sublicense, to use,
								view, copy, adapt, translate, modify, distribute, license, sell, transfer, publicly display,
								publicly perform, transmit, stream, broadcast, access, view, and other otherwise exploit
								such Event Space Owner/Event Service Provider content on, through, by means of or to
								promote or market the Site, Application and Services. Galaspace does not claim any
								ownership rights in any such Event Space Owner/Event Service Provider and nothing in
								these Terms will be deemed to restrict any rights that you may have to use and exploit
								any such Event Space Owner/ Event Service Provider Content.
<br/><br/>
								You acknowledge and agree that you are solely responsible for all Event Space Owner/
								Event Service Provider Content that you make available through the Site,Application,
								Services or through Galaspace promotional campaigns. Accordingly, you represent and
								warrant that: (i) you either are the sole and exclusive of all Event Space Owner/ Event
								Service Provider content that you make available through the Site, Application, Services
								or through Galaspace promotional campaigns or you have all rights, licenses, consents
								and releases that are necessary to grant Galaspce the rights in such Event Space
								Owner/ Event Service Provider Content, as contemplated under these Terms; and (ii)
								neither the Event Space Owner/ Event Service Provider Content nor your posting,
								uploading, publication, submission or transmittal of the Event Space Owner/ Event
								Service Provider Content or Galaspace’s use of the Event Space Owner/ Event Service
								Provider Content (or any portion thereof) on, through or by means of the
								Site,Application, the Services or Galaspace promotional campaigns will infringe,
								misappropriate or violate a third party’s patent, copyright, trademark, trade secret, moral
								rights or other proprietary or intellectual property rights, or rights of publicity or privacy,
								or result in the violation of any applicable law or regulations. <br/><br/>

<b>11. Sign-in Name; Password; Unique Identifiers</b>
<br/><br/>
								If you wish to become a Registered User, you will be prompted to create an account,
								which includes a sign-in name (“Sign-In Name”), password (“Password”), and perhaps
								certain additional information that will assist in authenticating your identity when you
								log-in in the future (“Unique Identifiers”). When creating your account, you must provide
								true, accurate, current, and complete information. Each Sign-In Name and
								corresponding Password can be used by only one Registered User. You are solely
								responsible for the confidentiality and use of Sign-In Name, Password, and Unique
								Identifiers, as well as for any use, misuse, or communications entered or payments
								made through the Site using one or more of them. You will promptly inform us of any
								need to deactivate a Password or Sign-In Name, or change any Unique Identifier. We
								reserve the right to delete or change your Password or Sign-In Name, or change any
								Unique Identifier at any time and for any reason and shall have no liability to you for any
								loss or damage caused by such action. Galaspace will not be liable for any loss or
								damage caused by any unauthorized use of your account.
<br/><br/>

<b>12. Feedback </b>
<br/><br/>
								We welcome and encourage you to yield feedback, comments and suggestions for
								improvements to the Site,Application and Services (“Feedback”). You may submit
								Feedback by emailing us, through the “CONTACT” section of the Site and Application,
								or by other means of communication. You acknowledge and agree that all Feedback
								you give us will be the sole and exclusive property of Galaspace and you hereby
								irrevocably assign to Galaspace and agree to irrevocably assign to Galaspace all of
								your right, title, and interest in and to all Feedback, including without limitation all
								worldwide patent, copyright, trade secret, moral rights and other proprietary or
								intellectual rights therein, and waive any moral rights you have in such Feedback. At
								Galaspace’s request and expense, you will execute documents and take such furthers
								as Galaspace may reasonably assist Galaspace users to acquire, perfect and maintain
								its intellectual property rights and other legal protections for the Feedback.
<br/><br/>

<b>14. Limitation of Liability</b>
<br/><br/>
								YOU ACKNOWLEDGE AND AGREE THAT, TO THE MAXIMUM EXTENT
								PERMITTED BY LAW, THE ENTIRE RISK ARISING OUT OF YOUR ACCESS TO
								AND USE OF THE SITE, APPLICATION, SERVICES AND COLLECTIVE CONTENT,
								YOUR LISTING OR BOOKING OF EVENT SPACE VIA THE SITE, APPLICATION AND
								SERVICES, YOUR PARTICIPATION IN THE REFERRAL PROGRAMME, AND ANY
								CONTACT YOU HAVE WITH OTHER USERS OF GALASPACE WHETHER IN
								PERSON OR ONLINE REMAINS WITH YOU. NEITHER GALASPACE NOR ANY
								OTHER PARTY INVOLVED IN CREATING, PRODUCING, OR DELIVERING THE
								SITE, APPLICATION, SERVICES, COLLECTIVE CONTENT OR THE REFERRAL
								PROGRAMME WILL BE LIABLE FOR ANY INCIDENTAL, SPECIAL, EXEMPLARY OR
								CONSEQUENTIAL DAMAGES, INCLUDING LOST PROFITS, LOSS OF DATA OR
								LOSS OF GOODWILL, SERVICE INTERRUPTION, COMPUTER DAMAGE OR
								SYSTEM FAILURE OR THE COST OF SUBSTITUTE PRODUCTS OR SERVICES, OR
								FOR ANY DAMAGES FOR PERSONAL OR BODILY INJURY OR EMOTIONAL
								DISTRESS ARISING OUT OF OR IN CONNECTION WITH THESE TERMS, FROM
								THE USE OF OR INABILITY TO USE THE SITE, APPLICATION , SERVICES OR
								COLLECTIVE CONTENT, FROM ANY COMMUNICATIONS, INTERACTIONS OR
								MEETINGS WITH OTHER USERS OF THE SITE,APPLICATION, OR SERVICES OR
								OTHER PERSONS WITH WHOM YOU COMMUNICATE OR INTERACT AS A
								RESULT OF YOUR USE OF THE SITE, APPLICATION, SERVICES, OR OUR
								PARTICIPATION IN THE REFERRAL PROGRAMME OR FROM YOUR LISTING OR
								BOOKING OF AN EVENT SPACE VIA THE SITE, APPLICATION AND SERVICES,
								WHETHER BASED ON WARRANTY, CONTRACT,TORT(INCLUDING NEGLIGENCE)
								PRODUCT LIABILITY OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT
								GALASPACE HAS BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGE,
								EVEN IF A LIMITED REMEDY SET FORTH HEREIN FOUND TO HAVE FAILED AND
								ITS ESSENTIAL PURPOSE.
<br/><br/>
								ALL EVENT SPACES ARE PROVIDED BY THE THIRD PARTY EVENT SPACE
								OWNER, AND NOT BY GALASPACE; ALL SERVICES ARE PROVIDED BY THE
								THIRD PARTY EVENT SERVICE PROVIDER; THEREFORE GALASPACE HAS NO
								CONTROL OVER AND HEREBY DISCLAIMS ANY AND ALL LIABILITY ARISING OUT
								OF OR ASSOCIATED WITH, THE CONDITION, QUALITY, SAFETY, LEGALITY OR
								SUITABILITY OF ANY EVENT SPACE. EVENT SPACE OWNER, EVENT SERVICE
								PROVIDER AND EVENT ORGANIZER, ON BEHALF OF THEMSELVES AND THEIR
								RESPECTIVE ASSIGNS,SUBROGEES, REPRESENTATIVES AND ALL OTHER
								PERSON OR ENTITIES ACTING FOR, BY OR THROUGH IT, HEREBY RELEASE
								AND FOREVER DISCHARGE GALASPACE, ITS DIRECTORS, OFFICERS, AGENTS,
								REPRESENTATIVES, EMPLOYEES, AND INSURERS, FROM ANY AND ALL
								LIABILITY, CLAIMS, DEMANDS, ACTIONS OR RIGHTS OF ACTION, OF WHATEVER
								NATURE, CHARACTER OR DESCRIPTION, FOR PERSONAL INJURY, PROPERTY
								DAMAGE OR DEATH THAT ARISE FROM, ARE RELATED TO OR ANY IN ANY WAY
								CONNECTED WITH ANY EVENT OR THE RENTING OR USE OF ANY EVENT
								SPACE. IN THE EVENT EITHER EVENT ORGANIZER OR EVENT SPACE OWNER
								OR EVENT SERVICE PROVIDER SUFFERS ANY LOSS TO PERSON OR
								PROPERTY, SUCH EVENT SPACE OWNER OR EVENT SERVICE PROVIDER OR
								EVENT ORGANIZER SHALL LOOK SOLELY TO ITS OWN INSURANCE COVERAGE,
								AND HEREBY WAIVES ANY AND ALL CLAIMS, DEMANDS, DAMAGES AND
								CAUSES OF ACTION OF ANY NATURE WHATSOEVER THAT EVENT ORGANIZER
								OR EVENT SPACE OWNER OR EVENT SERVICE PROVIDER, OR ITS
								SUCCESSORS OR ASSIGNS, MAY HAVE AGAINST GALASPACE.
<br/><br/>
								YOU ACKNOWLEDGE THAT THE SITE MAY CONTAIN BUGS, ERRORS, AND
								OTHER PROBLEMS THAT CAUSE SYSTEM FAILURES. THE SITE, APPLICATION,
								SERVICES, AND THE CONTENT ARE PROVIDED “AS IS” AND AND “AS
								AVAILABLE” WITHOUT ANY WARRANTIES OF ANY KIND, INCLUDING THAT THE
								SITE, APPLICATION, SERVICES OR CONTENT WILL OPERATE ERROR-FREE OR
								THAT THE SITE,APPLICATION,SERVICES OR THE CONTENT ARE FREE OF
								COMPUTER VIRUSES OR SIMILAR CONTAMINATION OR DESTRUCTIVE
								FEATURES.
<br/><br/>
								WE DISCLAIM ALL WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
								WARRANTIES OF TITLE, MERCHANTABILITY, NON-INFRINGEMENT OF THIRD
								PARTIES’ RIGHTS, AND FITNESS FOR PARTICULAR PURPOSE AND ANY
								WARRANTIES ARISING FROM A COURSE OF DEALING, COURSE OF
								PERFORMANCE, OR USAGE OF TRADE.<br/><br/>

								IN CONNECTION WITH ANY WARRANTY, CONTRACT, OR COMMON LAW TORT
								CLAIMS: (I) WE AND OUR LICENSORS SHALL NOT BE LIABLE FOR ANY
								INCIDENTAL OR CONSEQUENTIAL DAMAGES, LOST PROFITS, OR DAMAGES
								RESULTING FROM LOST DATA OR BUSINESS INTERRUPTION RESULTING FROM
								THE USE OR INABILITY TO ACCESS TO ACCESS AND USE THE SITE,
								APPLICATION, SERVICES OR THE CONTENT, EVEN IF WE HAVE BEEN ADVISED
								OF THE POSSIBILITY OF SUCH DAMAGES; AND (II) ANY DIRECT DAMAGES THAT
								YOU MAY SUFFER AS A RESULT OF YOUR USE OF THE SITE, THE SERVICES,
								OR THE CONTENT SHALL BE LIMITED TO THE TOTAL FEES THAT YOU HAVE
								PAID TO US WITHIN THE THREE (3) MONTHS IMMEDIATELY PRECEDING THE
								EVENTS GIVING RISE TO ANY CLAIM.<br/><br/>

								SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSIONS OF CERTAIN
								WARRANTIES. THEREFORE, SOME OF THE ABOVE LIMITATIONS ON
								WARRANTIES IN THIS SECTION MAY NOT APPLY TO YOU.
<br/><br/>
<b>14. Indemnification </b>
<br/><br/>
								You agree to release, defend, indemnify and hold Galaspace and its affiliates and
								subsidiaries, and their officers, directors, employees, successors, licensees, licensors,
								agents, harmless from and against any claims, liabilities, damages, losses, and
								expenses, including, without limitation, reasonable legal and accounting fees, expenses,
								actions, and/or demands, including, without limitation, reasonable legal, arising or
								resulting from (i) your access to or the use of the Site, Application, Services or collective
								Content or your violation of these Terms; (ii) Your Event Space Owner/Event Service
								Provider content; (iii) creation of listing (iv) your rental, booking or use of an Event
								Space. We shall provide notice to you of any such claim, suit or proceeding and shall
								assist you, at our expense, in defending any such claim ,suit, or proceeding. We reserve
								the right assume the exclusive defense and control (at your expense) of any matter that
								is subject to indemnification under this section. In such case, you agree to cooperate
								with any reasonable requests assisting our defense of such matter.
<br/><br/>
								Event Space Owner, Event Service Provider and Event Organizer must maintain
								adequate general liability insurance against any claims that might arise out of such
								Event Organizer’s or Event Space Owner’s rental or Event Service Provider’s services,
								booking or use of an Event Space. Upon request by Galaspace, such Event Space
								Owner, Event Service Provider or Event Organizer shall furnish an insurance certificate
								signed by an authorized agent evidencing such insurance coverage.

<br/><br/>

<b>15. Assignment </b>
<br/><br/>
								You may not assign or transfer these Terms, by operation of law or otherwise, without
								Galaspace’s prior written consent. Any attempt by you to assign or transfer these
								Terms, without such consent, will be null and of no effect. Galaspace may assign or
								transfer these Terms, at its sole discretion, without restriction. Subject to the foregoing,
								these Terms will bind and inure to the benefit of the parties, their successors and
								permitted assigns.
<br/><br/>
<b>16. Termination of the Agreement</b>
<br/><br/>
								We reserve the right, in our sole discretion, to restrict, suspend, or terminate this
								Agreement and your access to all or any part of the Site, Application, Services, at any
								time and for any reason without prior notice or liability. We reserve the right to change,
								suspend, or discontinue all or any part of the Site at any time without prior notice or
								liability.
<br/><br/>

<b>17. Class Action Waiver</b>
<br/><br/>
								You agree that any arbitration or proceeding shall be limited to the Dispute between us
								and you individually. To the full extent permitted by law, (i) no arbitration or proceeding
								shall be joined with any other; (ii) there is no right or authority for any Dispute to be
								arbitrated or resolved on a class action-basis or to utilize class action procedures; and
								(iii) there is no right or authority for any Dispute to be brought in a purported
								representative capacity on behalf of the general public or any other persons. YOU
								AGREE THAT YOU MAY BRING CLAIMS AGAINST US ONLY IN YOUR INDIVIDUAL
								CAPACITY AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED
								CLASS OR REPRESENTATIVE PROCEEDING.
<br/><br/>

<b>18. Equitable Relief </b>
<br/><br/>
								You acknowledge and agree that in the event of a breach or threatened violation of our
								intellectual property rights and confidential and proprietary information by you, we will
								suffer irreparable harm and will therefore be entitled to injunctive relief to enforce this
								Agreement. We may, without waiving any other remedies under this Agreement, seek
								from any court having jurisdiction any interim, equitable, provisional, or injunctive relief
								that is necessary to protect our rights and property pending the outcome of the
								arbitration referenced above. You hereby irrevocably and unconditionally consent to the
								personal and subject matter jurisdiction of the federal and state courts in the State of
								New York for purposes of any such action by us.
<br/><br/>

<b>19. Third Party Beneficiary</b>
<br/><br/>
								These Terms do not are not intended to confer any rights or remedies upon any person
								other than the parties.

<br/><br/>

<b>20. General </b>
<br/><br/>
								The failure of Galaspace to enforce any right or provision of these Terms will not
								constitute a waiver of future enforcement of that right or provision. The waiver of any
								such right or provision will be effectively only if in writing and signed by a duly
								authorized representative of Galaspace. Except as expressly set forth in these Terms,
								the exercise by either party of any of its remedies under these Terms will be without
								prejudice to its other remedies under these Terms of otherwise. If for any reason an
								arbitrator or a court of competent jurisdiction finds any provision of these Terms invalid
								or unenforceable, that provision will be enforced to the maximum extent permissible and
								the other provisions of these Terms will remain in full affect and effect.
<br/><br/>
<b>21. Contacting Galaspace</b>
<br/><br/>
If you have any questions about these Terms, please contact us.<br/><br/>
Copyright 2019 Galaspace. All Rights Reserved.
<br/><br/><br/>
<u><b>Additional Event Space Owner and Event Service Provider Terms</b></u>
<br/><br/>
<b>1.Event Space Owner & Event Service Provider Representations and warranties</b>
<br/><br/>
								Event Space Owner and Event Service Provider hereby represents and warrants that
								any and all information in any registration questionnaire is truthful and accurate. Event
								Space Owner and Event Service Provider further represents and warrants that Event
								Space or Services is safe for purposes of any booked Event and conforms to all
								applicable laws, regulations, and codes. All representations and warranties inure to our
								benefits and Event Organizer.
<br/><br/>
<b>2. Event Rules For Event Space Owner and Event Service Provider</b>
<br/><br/>
								Event Service Provider, not Galaspace, is solely responsible for obtaining any and all
								permits and/or approvals necessary to rent out an Event Space, to hosts Events, or to
								otherwise use the Services. Event Space Owner and Event Service Provider, not
								Galaspace, is responsible for paying all applicable taxes, levies, or fees with respect to
								providing use an Event Space/Services.Event Space Owner, not Galaspace, is
								responsible for obtaining and maintaining insurance policy or policies sufficient to cover
								the use of each Space offered via the Site,Application, Services. Galaspace reserves
								the right at any time to refuse to list an Event Space or cancel the listing of an Event
								Space or to remove an Event Space listing for any reason whatsoever and that applies
								the same to services of Event Service Provider. Event Space Owner and Event Service
								Provider agree that there shall be no recourse against Galaspace for exercising its right
								to refuse a listing, or for removing the listing of an Event Space/ a Service from the Site.<br/><br/>
<b>3. Cancelling a Booked Event</b>
<br/><br/>
								You must send all cancellation requests via email to contact@galaspace.com . Your
								cancellation of a Booking is not effective unless and until Galaspace provides written
								confirmation of such cancellation. You acknowledge and agree that any and and all
								Transaction Fees are 100% non-cancellable and non-refundable, and that the Usage
								Fees and Security Deposit are refundable only to the designated by Event Space
								Owner and Event Service Provider in applicable Quote.
<br/><br/>
								Each booked event will be subject to the cancellation policy designated by the
								applicable party. YOU WILL NOT BE ENTITLED TO ANY REFUND IN RESPECT OF
								CANCELLATIONS MADE NOT IN ACCORDANCE WITH THE APPLICABLE
								CANCELLATION POLICY.<br/><br/>

<b>4. Payment Terms</b>
<br/><br/>
								You agree that Galaspace may deduct all Transaction fees, commissions, and other
								fees posted by Galaspace in advance of paying out any Usage Fees, referral fees, or
								other amounts owed to you in connection with your of the Services. By booking any
								Event, you also agree to the terms of service and privacy policy of Galaspace’s
								third-party processor.<br/><br/>
<u><b>Additional Event Organizer Terms</b></u><br/><br/>
<b>1. Event Creator Representations and Warranties</b><br/><br/>
								Event Organizer is responsible for (a) its own compliance, and the compliance of all
								individuals provided access to the Space, Services in connection with an Event, with all
								laws, regulations, codes, Booking Terms, and terms and conditions of this Agreement
								and (b) leaving a rented Event Space in the same condition as it was found, excluding
								ordinary wear and tear. All representations and warranties inure to the benefit of
								Galaspace, Event Space Owner and Event Service Provider.
<br/><br/>
<b>2. Event Rules For Event Organizer</b>
<br/><br/>
								Event Organizer is authorized to use the Event Space to hold the Event solely in
								accordance with the Bookings Terms and the description of the Event as set forth on in
								Event Organizer’s request for Quote, unless Event Space Owner gives Event Organizer
								prior written authorization for additional permitted uses. Also, Event Organizer is
								authorized to use the Services to hold the Event solely in accordance with Bookings
								Terms and the description of the Services as set forth on in Event Organizer’s request
								for Quote, unless Event Service Provider gives Event Organizer prior written
								authorization for additional permitted uses. Event Space Owner and Event Service
								Provider shall have the right to enter the Event Space at any time and for any reason,
								including, without limitation, any emergency or threatened emergency that may pose a
								danger to the Event Space or Services or an injury to any person in or near the Event
								Space.
<br/><br/>
<b>3. Cancelling a Booked Event </b>
<br/><br/>
								You must send all cancellation requests via email to contact@galaspace.com . Your
								cancellation of a Booking is not effective unless and until Galaspace provides written
								confirmation of such cancellation. You acknowledge and agree that any and all
								Transaction Fees are 100% non-cancellable and non-refundable, and that the Usage
								and Security Deposit are refundable only to the extent designated by Event Space
								Owner/ Event Service Provider in the applicable Quote.
<br/><br/>

								Each booked Event will be subject to the cancellation policy designated by the
								applicable party. YOU WILL NOT BE ENTITLED TO ANY REFUND IN RESPECT OF
								CANCELLATIONS MADE NOT IN ACCORDANCE WITH THE APPLICABLE
								CANCELLATION POLICY.
<br/><br/>

<b>4. Event And Transaction Fees; Deposits</b>
<br/><br/>
								When booking any Event through the Site, you shall pay Galaspace the full amount of
								all Usage Fees, including any Security Deposit, as well as the Transaction Fees and
								any applicable taxes. Our third-party payment processor, Stripe, shall authorize your
								credit card, bank account, or other approved payment facility you provided during the
								registration process for the full payment of all such fees and taxes, and you hereby
								consent to the same. All payments will be charged and made in Malaysian Ringgit in
								Malaysia and Singaporean Dollar in Republic of Singapore. By booking any Event, you
								agree to Paypal’s terms of service and privacy policy, which can be found here:
								<a href="https://www.paypal.com/ga/webapps/mpp/ua/useragreement-full" >https://www.paypal.com/ga/webapps/mpp/ua/useragreement-full</a><br/><br/>

									You must provide current, complete, and accurate billing and credit card information in
									connection with each booked Event. You must promptly contact us if your credit card is
									lost or stolen, or if you become aware of a potential breach of account security (such as
									an unauthorized disclosure or use of your Sign-In Name or Password). If payment is
									not received from your credit card issuer, you hereby agree to pay all amounts due
									upon demand. You agree to pay all costs of collection, including attorney’s fees and
									costs, on any outstanding balance. In certain instances, the issuer of your credit card
									may charge you a foreign transaction fee or related charges, which you will be
									responsible to pay. You are advised to check with your bank and credit card issuer for
									details.
<br/><br/>
									You agree that your approved payment facility may be charged after an Event, up to the
									full amount of any Security Deposit designated at the time of booking, for any damages
									or overtime fees chargeable to you in accordance with this Agreement and the Booking
									Terms.
							</p>
						    <br/>
							
						</div>
				</div>
		</div>
	</div>

{% endblock %}
