{% extends 'templates/app.twig' %}

{% block main %}
	<form action="{{ path_for('verify-reset', {'user_token': token}) }}" method="post">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<h3><img src="https://png.icons8.com/windows/35/333333/password.png"> NEW PASSWORD</h3>
				<hr>
				<h4><span class="green-text">Always keep in mind the security of your password.</span></h4>
				<div class="form-group {{ errors.password ? 'has-error' : '' }}">
					<label for="password">New Password</label>
					<div class="input-group">
						<span class="input-group-addon">
							<img src="https://png.icons8.com/windows/20/333333/password.png">
						</span>
						<input class="form-control input-lg" id="password" type="password" name="password" placeholder="Enter new password" value="{{ old.password }}">
					</div>
					{% if errors.password %}
						<span class="help-block">{{ errors.password | first }}</span>
					{% endif %}
				</div>
				<div class="form-group {{ errors.confirm_password ? 'has-error' : '' }}">
					<label for="confirm_password">Confirm Password</label>
					<div class="input-group">
						<span class="input-group-addon">
							<img src="https://png.icons8.com/windows/20/333333/password1.png">
						</span>
						<input class="form-control input-lg" id="confirm_password" type="password" name="confirm_password" placeholder="Retype password" value="{{ old.confirm_password }}">
					</div>
                    {% if errors.confirm_password %}
                        <span class="help-block">{{ errors.confirm_password | first }}</span>
                    {% endif %}
				</div>
				<button class="btn btn-info btn-custom btn-block" type="submit">Submit</button>
				<br>
				<button class="btn btn-danger btn-custom1 btn-block" type="reset">Reset</button>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="gspace-check-wrapper">
					<img class="img-responsive gspace-img" src="{{base_url()}}/img/gspace_reset.png" alt="Galaspace Reset">
					<p class="text-center">We are always helping you in times like this.</p>
				</div>
			</div>
		</div>
		{{ csrf.field | raw }}
	</form>
{% endblock %}
