{% extends 'templates/app.twig' %}

{% block main %}
	<div class="row">
		<div class="col-lg-12 col-md-12">
			<a href="{{path_for('auth.signin')}}" class="btn btn-danger btn-custom btn-block">Sign in now</a>
		</div>
	</div>
{% endblock %}
