{% extends 'templates/overview_container.twig' %}
{% block main %}
	<div class="flash-ajax"></div>
	<div id="SweetAlert">
        {#service swal#}
        {% if sUpdate == "true" %}
			<script>
                swal({
                    type: 'success',
                    title: 'Service Updated',
                    text: 'Your service were successfully updated',
                });
			</script>
            {% elseif sUpdate == "false" %}
			<script>
                swal({
                    type: 'error',
                    title: 'Service Not Updated',
                    text: 'Your service were unsuccessfully updated',
                });
			</script>
        {% else %}
        {% endif %}

        {#service delete swal#}
        {% if dUpdate == "false" %}
			<script>
                swal({
                    type: 'error',
                    title: 'Service Not Delete',
                    text: 'Your service were not deleted. This is due to password error. If persists, please contact us',
                });
			</script>
        {% else %}
        {% endif %}

        {#menu delete swal#}
        {% if dUpdate == "true" %}
			<script>
                swal({
                    type: 'success',
                    title: 'Menu Delete',
                    text: 'This menu is deleted.',
                });
			</script>
		{% elseif dUpdate == "false" %}
			<script>
				swal({
					type: 'error',
					title: 'Menu Not Delete',
					text: 'This menu were not deleted. This is due to password error. If persists, please contact us',
				});
			</script>
        {% else %}
        {% endif %}
	</div>
	{#<form action="{{path_for('service-overview', {'service_id': service_id})}}" method="post" enctype="multipart/form-data">#}
		<div class="row">
            {% if user_auth != "" %}<div class="col-lg-12 col-md-12">{% else %}<div class="col-lg-6 col-md-6">{% endif %}
				<ul class="service-overview-nav">
					<li id="overview"><a href="javascript:void(0);"><img src="https://png.icons8.com/windows/35/00a99d/overview-pages-2.png"> Overview</a></li>
					<li id="review"><a href="javascript:void(0)"><img src="https://png.icons8.com/windows/35/00a99d/good-quality.png"> Review</a></li>
				</ul>
			</div>
		</div><hr>
		<div class="row">
			{% if user_auth != "" %}
			<div class="col-lg-12 col-md-12">
				<button class="btn btn-info btn-custom pull-left edit-overview-btn" type="button" style="margin-left:18px;">Edit Overview</button>
				<button class="btn btn-info btn-custom pull-left update-overview-btn" style="margin-left:18px;" form="service-form" type="submit">Update Overview</button>
				<button class="btn btn-info btn-custom pull-left edit-cimg-btn" type="button" data-toggle="modal" data-target="#editCoverImage" style="margin-left:15px;" >Edit Cover Image</button>
				<button class="btn btn-danger btn-danger pull-right delete-service-btn" style="margin-right:18px;" type="button" data-toggle="modal" data-target="#deleteService">Delete This Service</button>
				<br><br><br>
			</div>
			{% else %}{% endif %}
            {% for service in services %}
			{% if service.service_catering != "" %}
			{% if user_auth != "" %}<div class="col-lg-12 col-md-12">{% else %}<div class="col-lg-6 col-md-6">{% endif %}
				<div class="overview-content overview">
					<div class="panel panel-default">
						<div class="panel-body">
							<img class="service-logo" src="{{base_url()}}/{{ service.service_main_image }}" alt="service logo">
							<div class="service-company">
								<h1>{{ service.service_name }}</h1>
							</div>
							<p class="text-justify">{{service.catering_description}}</p><br>
							{% for menu in catering_menu %}
							<div class="row menu-border">
								<div class="col-lg-4">
									<img class="menu-overview-photo img-responsive" src="{{base_url()}}/{{ menu.menu_image_1 }}" alt="">
								</div>
								<div class="col-lg-6">
									<br>
									<div class="cater-menu"><div class="cater-menu-info"> Name </div> <div class="cater-menu-item"><h3 class="green-text">{{ menu.menu_name }}</h3></div></div>
									<div class="cater-menu"><div class="cater-menu-info"> Price </div>  <div class="cater-menu-item"><h4 class="green-text">{{ service.service_currency }}{{ menu.menu_price }}</h4></div></div>
								</div>
								<div class="col-lg-2">
									<span onclick="divModalView(this)">
										<button class="btn btn-info btn-custom pull-right menu-desc" type="button" data-toggle="modal" data-target="#menuView{{ menu.menu_id }}">Find Out More</button>
										{#modal attribute starts here#}
										<input type="hidden" id="menuID" name="menuID" value="{{ menu.menu_id }}">
										<input type="hidden" id="menuName" name="menuName" value="{{ menu.menu_name }}">
										<input type="hidden" id="menuPrice" name="menuPrice" value="{{ menu.menu_price }}">
										<input type="hidden" id="menuDescription" name="menuDescription" value="{{ menu.menu_description }}">
										<input type="hidden" id="menuImg1" name="menuImg1" value="{{ menu.menu_image_1 }}">
										<input type="hidden" id="menuImg2" name="menuImg2" value="{{ menu.menu_image_2 }}">
										<input type="hidden" id="menuImg3" name="menuImg3" value="{{ menu.menu_image_3 }}">
										<input type="hidden" id="menuImg4" name="menuImg4" value="{{ menu.menu_image_4 }}">
									</span>
								</div>
							</div>
							{% endfor %}
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6  menu-img-container1">
									<div id="" class="modal fade modalView" role="dialog">
										<div class="modal-dialog modal-lg">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal">&times;</button>
													<h4 class="modal-title" id="menu_name"></h4>
												</div>
												<div class="modal-body">
													<div class="row">
														<div class="col-lg-12">
															<h4 id="menu_description"></h4>
														</div>
													</div>
													<div class="row">
														<div class="sub-cater-images">
															<img class="menu-overview-subphoto" id="menu-img1v" src="" alt=" photo">
															<img class="menu-overview-subphoto" id="menu-img2v" src="" alt=" photo">
															<img class="menu-overview-subphoto" id="menu-img3v" src="" alt=" photo">
															<img class="menu-overview-subphoto" id="menu-img4v" src="" alt=" photo">
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						</div>
					</div>
				</div>
                {% if user_auth != "true" %}
				<div class="col-lg-6 col-md-6">
					<div class="overview-booking bookings" style="padding:5px 15px 0 0;">
						<div class="panel panel-default">
							<div class="panel-heading" style="background-color:#00A99E; ">
								{% if service.detail_pricing != 0 %}
									<h3 style="color:white;">{{ service.service_currency }}{{ service.detail_pricing }}</h3>
								{% endif %}
							</div>
							<form id="frmsvBooking" method="post">
								<div class="panel-body" style="min-height: auto;">
									<div class="row">
										<div class="col-xs-12">
											<div class="form-group {{ errors.booking_space ? 'has-error' : '' }}">
												<h3>Booking Space</h3>
												<select class="form-control input-lg" id="booking_space" name="booking_space" style="height:50px;">
                                                    {% for sb in space_booking %}
														<option value="{{ sb.space_id }}">{{ sb.space_name }} - {{ sb.spbook_date | date("d/m/Y") }}</option>
                                                    {% endfor %}
												</select>
                                                {% if errors.booking_space %}
													<span class="help-block">{{ errors.booking_space | first }}</span>
                                                {% endif %}
											</div>
										</div>
									</div>
									<div class="row">
										<div class="form-group">
											<h3 style="margin-left:13px;">Menu Chosen</h3>
										</div>
                                        {% for menu in catering_menu %}
										<div class="col-xs-1">
											<div class="form-group {{ errors.catering_menu_chosen ? 'has-error' : '' }}">
													<input type="checkbox" id="menu-id{{ loop.index }}" name="menu_checked[]" onclick="menuCheck(this,{{ loop.index }})" class="ui-checkbox menu-id{{ loop.index }}" value="{{ menu.menu_id }}"/>
													<label for="menu-id{{ loop.index }}"></label>
                                                {% if errors.catering_menu_chosen %}
													<span class="help-block">{{ errors.catering_menu_chosen | first }}</span>
                                                {% endif %}
											</div>
										</div>
										<div class="col-xs-8" style="margin-top:9px;">
											<div class="form-group {{ errors.catering_menu_chosen ? 'has-error' : '' }}">
												<input type="text" class="form-control" id="menu-name" name="menu_name" value="{{ menu.menu_name }}" readonly/>
												{% if errors.catering_menu_chosen %}
													<span class="help-block">{{ errors.catering_menu_chosen | first }}</span>
												{% endif %}
											</div>
										</div>
										<div class="col-xs-3" style="margin-top:9px;">
											<div class="form-group {{ errors.catering_menu_chosen ? 'has-error' : '' }}">
												<input type="number" class="form-control menu-pax" id="menu-pax{{ loop.index }}" disabled name="menu_pax{{ loop.index }}" placeholder="No of Pax"/>
												{% if errors.catering_menu_chosen %}
													<span class="help-block">{{ errors.catering_menu_chosen | first }}</span>
												{% endif %}
											</div>
										</div>
                                        {% endfor %}
									</div>
									<div class="row">
										<div class="col-xs-12">
											<div class="form-group ">
												<h3 style="text-align:center;">Description / Messages</h3>
												<textarea class="form-control input-lg" rows="5" name="detail_description"></textarea>
											</div>
										</div>
									</div>
									{% for menu in catering_menu %}
									<input type="hidden" name="cateringID" value="{{ menu.catering_id }}"/>
									{% endfor %}
									<input type="hidden" name="cateringBooking" value="catering"/>
									<input type="hidden" name="service_id" value="{{ service.service_id }}"/>
									<br/>
									<div class="panel-footer" style="background-color:#00A99E; ">
										<button class="btn btn-lg hover" type="submit">Book this Service</button>
									</div>
								</div>
                                {{ csrf.field | raw }}
							</form>
						</div>
					</div>
                    {% else %} {% endif %}
					<div class="col-lg-12 col-md-12">
						<div class="overview-content edit-overview">
							<div class="panel panel-default">
								<div class="panel-body">
									<form class="servicecateringoverview-form" method="POST" id="service-form" enctype="multipart/form-data">
									<div class="form-group">
										<label for="service_name">Service Name</label>
										<input class="form-control input-lg" id="service_name" name="service_name" type="text" value="{{ service.service_name }}" placeholder="Enter service name">
									</div>
									<hr>
									<div class="form-group {{ errors.service_description ? 'has-error' : '' }}">
										<label for="space_address">Service Description</label>
										<textarea class="form-control input-lg" id="service-description" name="service_description" placeholder="Enter your service description" rows="8" cols="80">{{ service.catering_description}}</textarea>
                                        {% if errors.service_description %}
											<span class="help-block">{{ errors.service_description | first }}</span>
                                        {% endif %}
									</div>
									<div class="form-group">
										<label for="catering_type">Catering Type</label>
										<input class="form-control input-lg" name="catering_type" type="text" placeholder="Enter catering type" value="{{ service.catering_type }}">
									</div>
									<div class="form-group">
										<label for="catering_halal">Catering Halal</label>
										<select class="form-control input-lg" name="catering_halal">
											{% if service.catering_halal == "Yes" %}
												<option value="Yes" selected>Yes</option>
												<option value="No">No</option>
											{% else %}
												<option value="Yes">Yes</option>
												<option value="No" selected>No</option>
                                            {% endif %}
										</select>
									</div>
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-6  menu-img-container1">
												<div id="editCoverImage" class="modal fade" role="dialog">
													<div class="modal-dialog modal-lg">
														<div class="modal-content">
															<div class="modal-header">
																<button type="button" class="close" data-dismiss="modal">&times;</button>
																<h4 class="modal-title">Edit Cover Images</h4>
															</div>
															<div class="modal-body">
																<div class="row">
                                                                    {% if service.service_main_image != "" %}
																		<div class="col-lg-12 col-md-12 col-sm-12 menu-img-container1">
																			<img class="img-responsive menu-img" id="menu-imgC" data-toggle="modal" data-target="#menu1" src="{{base_url()}}/{{ service.service_main_image }}" alt="Service Cover Image"/>
																			<img class="menu-cancel-btn" id="menu-cancel-btnC" data-toggle="tooltip" data-placement="bottom" src="https://png.icons8.com/small/30/333333/delete-sign.png">
																			<img class="fa fa-camera menu-upload-btn" id="menu-upload-btnC" data-toggle="tooltip" title="Upload Service Cover Photo" data-placement="bottom" src="https://png.icons8.com/windows/35/333333/camera.png">
																			<input type="hidden" id="img-attrC" name="img-attrC" value="1"/>
																			<input class="menu-photo" id="menu-photoC" type="file" name="detail_cover_photo"/>
																		</div>
                                                                    {% else %}
																		<div class="col-lg-12 col-md-12 col-sm-12 menu-img-container1">
																			<img class="img-responsive menu-img" id="menu-imgC" data-toggle="modal" data-target="#menu1" src="{{base_url()}}/img/placeholder.png" alt="Service Cover Image"/>
																			<img class="menu-cancel-btn" id="menu-cancel-btnC" data-toggle="tooltip" data-placement="bottom" src="https://png.icons8.com/small/30/333333/delete-sign.png">
																			<img class="fa fa-camera menu-upload-btn" id="menu-upload-btnC" data-toggle="tooltip" title="Upload Service Cover Photo" data-placement="bottom" src="https://png.icons8.com/windows/35/333333/camera.png">
																			<input type="hidden" id="img-attrC" name="img-attrC" value="0"/>
																			<input class="menu-photo" id="menu-photoC" type="file" name="detail_cover_photo"/>
																		</div>
                                                                    {% endif %}
																</div>
															</div>
															<div class="modal-footer">
																<button class="btn btn-info btn-custom" id="btnDone" data-dismiss="modal" type="button">Done</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									<div class="form-group">
										<input class="hidden-class" type="hidden" data-cateringid="{{ service_id }}" name="catering_hidden_input" value="catering">
									</div>
                                    {{ csrf.field | raw }}
									</form>
									<hr>
									<h3>My Catering Menu</h3>
									<button class="btn btn-info btn-custom pull-left" type="button" data-toggle="modal" data-target="#menuNew" data-id="">Add Menu</button>
									<br/>
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6  menu-img-container1">
											<div id="menuNew" class="modal fade" role="dialog">
												<div class="modal-dialog modal-lg">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal">&times;</button>
															<h4 class="modal-title">Menu Details</h4>
														</div>
														<div class="modal-body">
															<form class="newmenuoverview-form" method="POST" enctype="multipart/form-data">
																<div class="row">
																	<div class="col-lg-6 col-md-6">
																		<div class="form-group {{ errors.menu_name ? 'has-error' : '' }}">
																			<label for="menu_name">Menu Name</label>
																			<input class="form-control input-lg" id="menu_name" name="menu_name" type="text" placeholder="Enter your menu name"/>
                                                                            {% if errors.menu_name %}
																				<span class="help-block">{{ errors.menu_name | first }}</span>
                                                                            {% endif %}
																		</div>
																	</div>
																	<div class="col-lg-6 col-md-6">
																		<div class="form-group {{ errors.menu_price ? 'has-error' : '' }}">
																			<label for="menu_price">Menu Price</label>
																			<input class="form-control input-lg" id="menu_price" name="menu_price" type="number" step="0.1" placeholder="Enter the menu price"/>
                                                                            {% if errors.menu_price %}
																				<span class="help-block">{{ errors.menu_price | first }}</span>
                                                                            {% endif %}
																		</div>
																	</div>
																</div>
																<div class="form-group {{ errors.menu_description ? 'has-error' : '' }}">
																	<label for="menu_description">Menu Description</label>
																	<textarea class="form-control input-lg" id="menu-description" name="menu_description" placeholder="Enter your menu description" rows="8" cols="80"></textarea>
                                                                    {% if errors.menu_description %}
																		<span class="help-block">{{ errors.menu_description | first }}</span>
                                                                    {% endif %}
																</div>
																<p>*The first image on the left side will be the main image of the menu</p>
																<div class="row">
																	<div class="col-lg-3 col-md-4 col-sm-6 menu-img-container1">
																		<img class="img-responsive menuN-img" id="menuN-img1" src="{{ base_url() }}/img/placeholder.png" alt="Menu Image"/>
																		<img class="menuN-cancel-btn" id="menuN-cancel-btn1" src="https://png.icons8.com/small/30/333333/delete-sign.png">
																		<img class="fa fa-camera menuN-upload-btn" id="menuN-upload-btn1" title="Upload Menu Photo" src="https://png.icons8.com/windows/35/333333/camera.png">
																		<input type="hidden" id="img-attr1" name="img-attr1" value="0"/>
																		<input class="menuN-photo" id="menuN-photo1" type="file" name="menu_photo_1"/>
																	</div>
																	<div class="col-lg-3 col-md-4 col-sm-6 menu-img-container2">
																		<img class="img-responsive menuN-img" id="menuN-img2" src="{{ base_url() }}/img/placeholder.png" alt="Menu Image"/>
																		<img class="menuN-cancel-btn" id="menuN-cancel-btn2" src="https://png.icons8.com/small/30/333333/delete-sign.png">
																		<img class="fa fa-camera menuN-upload-btn" id="menuN-upload-btn2" title="Upload Menu Photo" src="https://png.icons8.com/windows/35/333333/camera.png">
																		<input type="hidden" id="img-attr2" name="img-attr2" value="0"/>
																		<input class="menuN-photo" id="menuN-photo2" type="file" name="menu_photo_2"/>
																	</div>
																	<div class="col-lg-3 col-md-4 col-sm-6 menu-img-container3">
																		<img class="img-responsive menuN-img" id="menuN-img3" src="{{ base_url() }}/img/placeholder.png" alt="Menu Image"/>
																		<img class="menuN-cancel-btn" id="menuN-cancel-btn3" src="https://png.icons8.com/small/30/333333/delete-sign.png">
																		<img class="fa fa-camera menuN-upload-btn" id="menuN-upload-btn3" title="Upload Menu Photo" src="https://png.icons8.com/windows/35/333333/camera.png">
																		<input type="hidden" id="img-attr3" name="img-attr3" value="0"/>
																		<input class="menuN-photo" id="menuN-photo3" type="file" name="menu_photo_3"/>
																	</div>
																	<div class="col-lg-3 col-md-4 col-sm-6 menu-img-container4">
																		<img class="img-responsive menuN-img" id="menuN-img4" src="{{ base_url() }}/img/placeholder.png" alt="Menu Image"/>
																		<img class="menuN-cancel-btn" id="menuN-cancel-btn4" src="https://png.icons8.com/small/30/333333/delete-sign.png">
																		<img class="fa fa-camera menuN-upload-btn" id="menuN-upload-btn4" title="Upload Menu Photo" src="https://png.icons8.com/windows/35/333333/camera.png">
																		<input type="hidden" id="img-attr4" name="img-attr4" value="0"/>
																		<input class="menuN-photo" id="menuN-photo4" type="file" name="menu_photo_4"/>
																	</div>
																</div>
																<div class="form-group">
																	<input class="hidden-class" type="hidden" data-cateringid="{{ catering_id }}" name="newmenu_hidden_input" value="newmenulist">
																</div>
																<button class="btn btn-info btn-custom save-menu" type="submit" id="newmenu-submit">Save Menu</button>
                                                                {{ csrf.field | raw }}
															</form>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<br/><br/>
                                    {% for menu in catering_menu %}
										<div class="border-seperate">
									<div class="row menu-border">
                                        <span onclick="divModalEdit(this)">
										    <button class="btn btn-info btn-custom pull-left" type="button" data-toggle="modal" data-target="#menu{{ menu.menu_id }}">Edit Menu</button>
                                            {#modal attribute starts here#}
                                            <input type="hidden" id="menuID" name="menuID" value="{{ menu.menu_id }}">
                                            <input type="hidden" id="menuName" name="menuName" value="{{ menu.menu_name }}">
                                            <input type="hidden" id="menuPrice" name="menuPrice" value="{{ menu.menu_price }}">
                                            <input type="hidden" id="menuDescription" name="menuDescription" value="{{ menu.menu_description }}">
                                            <input type="hidden" id="menuImg1" name="menuImg1" value="{{ menu.menu_image_1 }}">
                                            <input type="hidden" id="menuImg2" name="menuImg2" value="{{ menu.menu_image_2 }}">
                                            <input type="hidden" id="menuImg3" name="menuImg3" value="{{ menu.menu_image_3 }}">
                                            <input type="hidden" id="menuImg4" name="menuImg4" value="{{ menu.menu_image_4 }}">
                                        </span>
                                        <button class="btn btn-danger pull-left delMenuBtn" style="margin-left:5px;height:50px;" type="button" data-toggle="modal" data-target="#deleteMenu" onclick="delMenu('{{ menu.menu_id }}')">Delete Menu</button>
										<br/><div class="event-info">
											<div class="cater-menu"><div class="cater-menu-info"> Name </div> <div class="cater-menu-item"><h3 class="green-text">{{ menu.menu_name }}</h3></div></div>
											<div class="cater-menu"><div class="cater-menu-info"> Price </div>  <div class="cater-menu-item"><h4 class="green-text">{{ service.service_currency }}{{ menu.menu_price }}</h4></div></div>
											<div class="cater-menu"><div class="cater-menu-info"> Description </div>  <div class="cater-menu-item"><p class="">{{ menu.menu_description }}</p></div></div>
										<div class="cater-menu">
											<div class="sub-cater-images">
                                                {% if menu.menu_image_1 != "" %}
													<img class="menu-overview-subphoto" src="{{base_url()}}/{{ menu.menu_image_1 }}" alt=""/>
                                                {% else %}{% endif %}
                                                {% if menu.menu_image_2 != "" %}
													<img class="menu-overview-subphoto" src="{{base_url()}}/{{ menu.menu_image_2 }}" alt=""/>
                                                {% else %}{% endif %}
                                                {% if menu.menu_image_3 != "" %}
													<img class="menu-overview-subphoto" src="{{base_url()}}/{{ menu.menu_image_3 }}" alt=""/>
                                                {% else %}{% endif %}
                                                {% if menu.menu_image_4 != "" %}
													<img class="menu-overview-subphoto" src="{{base_url()}}/{{ menu.menu_image_4 }}" alt=""/>
                                                {% else %}{% endif %}
											</div>
										</div>
										</div>
									 </div>
										</div>
                                    {% endfor %}
								</div>
							</div>
						</div>
					</div>
			</div>
			{#menu modal#}
			<div class="row">
				<form class="editMenu-form" method="post" enctype="multipart/form-data">
					<div class="col-lg-6 col-md-6 col-sm-6  menu-img-container1">
						<div id="" class="modal fade modalID" role="dialog">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">Menu Details</h4>
									</div>
									<div class="modal-body">
										<div class="row">
											<div class="col-lg-12 col-md-12">
												<div class="form-group {{ errors.menu_id ? 'has-error' : '' }}">
													<label for="menu_id">Menu ID</label>
													<input class="form-control input-lg" id="menu_id" name="menu_id" type="text" readonly/>
													{% if errors.menu_id %}
														<span class="help-block">{{ errors.menu_id | first }}</span>
													{% endif %}
												</div>
											</div>
											<div class="col-lg-6 col-md-6">
												<div class="form-group {{ errors.menu_name ? 'has-error' : '' }}">
													<label for="menu_name">Menu Name</label>
													<input class="form-control input-lg menu_name" name="menu_name" type="text" placeholder="Enter your menu name"/>
													{% if errors.menu_name %}
														<span class="help-block">{{ errors.menu_name | first }}</span>
													{% endif %}
												</div>
											</div>
											<div class="col-lg-6 col-md-6">
												<div class="form-group {{ errors.menu_price ? 'has-error' : '' }}">
													<label for="menu_price">Menu Price</label>
													<input class="form-control input-lg menu_price" name="menu_price" step="any" type="number" placeholder="Enter the menu price"/>
													{% if errors.menu_price %}
														<span class="help-block">{{ errors.menu_price | first }}</span>
													{% endif %}
												</div>
											</div>
										</div>
										<div class="form-group {{ errors.menu_description ? 'has-error' : '' }}">
											<label for="menu_description">Menu Description</label>
											<textarea class="form-control input-lg menu_description" name="menu_description" placeholder="Enter your menu description" rows="8" cols="80"></textarea>
											{% if errors.menu_description %}
												<span class="help-block">{{ errors.menu_description | first }}</span>
											{% endif %}
										</div>
										<p>*The first image on the left side will be the main image of the menu</p>
										<div class="row">
											<div class="col-lg-3 col-md-4 col-sm-6 menu-img-container1">
                                                <img class="img-responsive menu-img" id="menu-img1" src="" alt="Menu Image"/>
                                                <img class="menu-cancel-btn" id="menu-cancel-btn1" src="https://png.icons8.com/small/30/333333/delete-sign.png">
                                                <img class="fa fa-camera menu-upload-btn" id="menu-upload-btn1" title="Upload Menu Photo" src="https://png.icons8.com/windows/35/333333/camera.png">
                                                <input type="hidden" id="img-attr1e" name="img-attr1e" value="1"/>
                                                <input class="menu-photo" id="menu-photo1" type="file" name="menu_photo_1"/>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-6 menu-img-container2">
												<img class="img-responsive menu-img" id="menu-img2" src="" alt="Menu Image"/>
												<img class="menu-cancel-btn" id="menu-cancel-btn2" data-toggle="tooltip" data-placement="bottom" src="https://png.icons8.com/small/30/333333/delete-sign.png">
												<input type="hidden" id="img-attr2e" name="img-attr2e" value="1">
												<img class="fa fa-camera menu-upload-btn" id="menu-upload-btn2" data-toggle="tooltip" title="Upload Menu Photo" data-placement="bottom" src="https://png.icons8.com/windows/35/333333/camera.png">
												<input class="menu-photo" id="menu-photo2" type="file" name="menu_photo_2"/>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-6 menu-img-container3">
												<img class="img-responsive menu-img" id="menu-img3" src="" alt="Menu Image"/>
												<img class="menu-cancel-btn" id="menu-cancel-btn3" data-toggle="tooltip" data-placement="bottom" src="https://png.icons8.com/small/30/333333/delete-sign.png">
												<input type="hidden" id="img-attr3e" name="img-attr3e" value="1">
												<img class="fa fa-camera menu-upload-btn" id="menu-upload-btn3" data-toggle="tooltip" title="Upload Menu Photo" data-placement="bottom" src="https://png.icons8.com/windows/35/333333/camera.png">
												<input class="menu-photo" id="menu-photo3" type="file" name="menu_photo_3"/>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-6 menu-img-container4">
												<img class="img-responsive menu-img" id="menu-img4" src="" alt="Menu Image"/>
												<img class="menu-cancel-btn" id="menu-cancel-btn4" data-toggle="tooltip" data-placement="bottom" src="https://png.icons8.com/small/30/333333/delete-sign.png">
												<input type="hidden" id="img-attr4e" name="img-attr4e" value="1">
												<input type="hidden" id="img-attr4e" name="img-attr4e" value="1">
												<img class="fa fa-camera menu-upload-btn" id="menu-upload-btn4" data-toggle="tooltip" title="Upload Menu Photo" data-placement="bottom" src="https://png.icons8.com/windows/35/333333/camera.png">
												<input class="menu-photo" id="menu-photo4" type="file" name="menu_photo_4"/>
											</div>
										</div>
										<div class="form-group">
											<input class="hidden-class" type="hidden" data-menuid="{{ menu.menu_id }}" name="editMenu_hidden_input" value="editMenu">
										</div>
										<button class="btn btn-info btn-custom save-menu" type="submit">Update This Menu</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					{{ csrf.field | raw }}
				</form>
			</div>
			{% else %}
            {% if user_auth == "true" %}<div class="col-lg-12 col-md-12">{% else %}<div class="col-lg-6 col-md-6">{% endif %}
					<div class="overview-content overview">
						<div class="panel panel-default">
							<div class="panel-body">
								{% if service.service_main_image != "" %}
									<img class="service-logo" src="{{base_url()}}/{{ service.service_main_image }}" alt="service logo">
								{% else %}
									<img class="service-logo" src="{{base_url()}}/img/placeholder.png" alt="service logo">
								{% endif %}
								<div class="service-company">
									<h1>{{ service.service_name }}</h1>
								</div>
								<p class="text-justify">{{service.detail_description}}</p><br>
								{% if service.detail_image_1 != "" %}
								<div class="col-lg-6">
                                	<img src="{{ base_url }}/{{ service.detail_image_1 }}" class="overview-img img-responsive"/>
								</div>
								{% else %}{% endif %}
                                {% if service.detail_image_2 != "" %}
								<div class="col-lg-6">
                                	<img src="{{ base_url }}/{{ service.detail_image_2 }}" class="overview-img img-responsive"/>
								</div>
                                {% else %}{% endif %}
                                {% if service.detail_image_3 != "" %}
								<div class="col-lg-6">
                                	<img src="{{ base_url }}/{{ service.detail_image_3 }}" class="overview-img img-responsive"/>
								</div>
                                {% else %}{% endif %}
                                {% if service.detail_image_4 != "" %}
								<div class="col-lg-6">
                                	<img src="{{ base_url }}/{{ service.detail_image_4 }}" class="overview-img img-responsive"/>
								</div>
                                {% else %}{% endif %}
							</div>
						</div>
					</div>
				</div>
				{% if user_auth != "true" %}
				<div class="col-lg-6 col-md-6">
					<div class="overview-booking bookings" style="padding:5px 15px 0 0;">
						<div class="panel panel-default">
							<div class="panel-heading" style="background-color:#00A99E; ">
								{% if service.detail_pricing != 0 %}
									<h3 style="color:white;">SGD${{ service.detail_pricing }}</h3>
								{% endif %}
							</div>
							<form id="frmsvBooking" method="post">
								<div class="panel-body" style="min-height: auto;">
									<div class="row">
										<div class="col-xs-12">
											<div class="form-group {{ errors.booking_space ? 'has-error' : '' }}">
												<h3>Booking Space</h3>
												<select class="form-control input-lg" id="booking_space" name="booking_space" style="height:50px;">
                                                    {% for sb in space_booking %}
														<option value="{{ sb.space_id }}">{{ sb.space_name }} - {{ sb.spbook_date | date("d/m/Y") }}</option>
                                                    {% endfor %}
                                                </select>
                                                {% if errors.booking_space %}
													<span class="help-block">{{ errors.booking_space | first }}</span>
                                                {% endif %}
											</div>
										</div>
									{#</div>#}
									<div class="row">
										<div class="col-xs-12">
                                            <div class="form-group">
                                                <h3 style="text-align:center;">Description / Messages</h3>
                                                <textarea class="form-control input-lg" rows="5" name="detail_description"></textarea>
                                            </div>
                                        </div>
									</div>
									<input type="hidden" name="service_id" value="{{ service.service_id }}"/>
									<input type="hidden" name="book_id" value="{{ book_id }}"/>
								</div>
                                    <br/>
								<div class="panel-footer" style="background-color:#00A99E; ">
									<button class="btn btn-lg hover" type="submit">Book this Service</button>
								</div>
						    </div>
                        {{ csrf.field | raw }}
                        </form>
					</div>
				</div>
				{% else %} {% endif %}
					<form class="servicedetailoverview-form" id="service-form" method='POST' enctype='multipart/form-data' >
						<div class="col-lg-12 col-md-12">
							<div class="overview-content edit-overview">
								<div class="panel panel-default">
									<div class="panel-body">
										<div class="form-group">
											<label for="service_name">Service Name</label>
											<input class="form-control input-lg" id="service_name" name="service_name" type="text" value="{{ service.service_name }}" placeholder="Enter service name">
										</div>
										<hr>
										<div class="form-group {{ errors.service_description ? 'has-error' : '' }}">
											<label for="space_address">Service Description</label>
											<textarea class="form-control input-lg" id="service-description" name="service_description" placeholder="Enter your service description" rows="8" cols="80">{{ service.detail_description}}</textarea>
                                            {% if errors.service_description %}
												<span class="help-block">{{ errors.service_description | first }}</span>
                                            {% endif %}
										</div>
										<div class="form-group">
											<label for="">Pricing</label>
											<input class="form-control input-lg" name="detail_pricing" type="number" step="any" placeholder="Enter price" value="{{ service.detail_pricing }}">
										</div>
										<div class="row">
											<div class="col-lg-3 col-md-4 col-sm-6 menu-img-container1">
												{% if service.detail_image_1 != "" %}
													<img class="img-responsive service-img" id="service-img1" src="{{base_url()}}/{{ service.detail_image_1 }}" alt="Service Image"/>
													<img class="service-cancel-btn" id="service-cancel-btn1" src="https://png.icons8.com/small/30/333333/delete-sign.png">
													<img class="fa fa-camera service-upload-btn" id="service-upload-btn1" title="Upload Service Photo" src="https://png.icons8.com/windows/35/333333/camera.png">
													<input type="hidden" id="img-attr1" name="img-attr1" value="1"/>
													<input class="menu-photo" id="service-photo1" type="file" name="detail_photo_1"/>
												{% else %}
													<img class="img-responsive service-img" id="service-img1" src="{{base_url()}}/img/placeholder.png" alt="Service Image"/>
													<img class="service-cancel-btn" id="service-cancel-btn1" src="https://png.icons8.com/small/30/333333/delete-sign.png">
													<img class="fa fa-camera service-upload-btn" id="service-upload-btn1" title="Upload Service Photo" src="https://png.icons8.com/windows/35/333333/camera.png">
													<input type="hidden" id="img-attr1" name="img-attr1" value="0">
													<input class="service-photo" id="service-photo1" type="file" name="detail_photo_1"/>
												{% endif %}
											</div>
											<div class="col-lg-3 col-md-4 col-sm-6 menu-img-container2">
                                                {% if service.detail_image_2 != "" %}
													<img class="img-responsive service-img" id="service-img2" src="{{base_url()}}/{{ service.detail_image_2 }}" alt="Service Image"/>
													<img class="service-cancel-btn" id="service-cancel-btn2" src="https://png.icons8.com/small/30/333333/delete-sign.png">
													<img class="fa fa-camera service-upload-btn" id="service-upload-btn2" title="Upload Service Photo" src="https://png.icons8.com/windows/35/333333/camera.png">
													<input type="hidden" id="img-attr2" name="img-attr2" value="1">
													<input class="service-photo" id="service-photo2" type="file" name="detail_photo_2"/>
                                                {% else %}
													<img class="img-responsive service-img" id="service-img2" src="{{base_url()}}/img/placeholder.png" alt="Service Image"/>
													<img class="service-cancel-btn" id="service-cancel-btn2" src="https://png.icons8.com/small/30/333333/delete-sign.png">
													<img class="fa fa-camera service-upload-btn" id="service-upload-btn2" title="Upload Service Photo" src="https://png.icons8.com/windows/35/333333/camera.png">
													<input type="hidden" id="img-attr2" name="img-attr2" value="0">
													<input class="service-photo" id="service-photo2" type="file" name="detail_photo_2"/>
												{% endif %}
											</div>
											<div class="col-lg-3 col-md-4 col-sm-6 menu-img-container3">
                                                {% if service.detail_image_3 != "" %}
													<img class="img-responsive service-img" id="service-img3" src="{{base_url()}}/{{ service.detail_image_3 }}" alt="Service Image"/>
													<img class="service-cancel-btn" id="service-cancel-btn3" src="https://png.icons8.com/small/30/333333/delete-sign.png">
													<img class="fa fa-camera service-upload-btn" id="service-upload-btn3" title="Upload Service Photo" src="https://png.icons8.com/windows/35/333333/camera.png">
													<input type="hidden" id="img-attr3" name="img-attr3" value="1"/>
													<input class="service-photo" id="service-photo3" type="file" name="detail_photo_3"/>
												{% else %}
													<img class="img-responsive service-img" id="service-img3" src="{{base_url()}}/img/placeholder.png" alt="Service Image"/>
													<img class="service-cancel-btn" id="service-cancel-btn3" src="https://png.icons8.com/small/30/333333/delete-sign.png">
													<img class="fa fa-camera service-upload-btn" id="service-upload-btn3" title="Upload Service Photo" src="https://png.icons8.com/windows/35/333333/camera.png">
													<input type="hidden" id="img-attr3" name="img-attr3" value="0">
													<input class="service-photo" id="service-photo3" type="file" name="detail_photo_3"/>
												{% endif %}
											</div>
											<div class="col-lg-3 col-md-4 col-sm-6 menu-img-container4">
                                                {% if service.detail_image_4 != "" %}
													<img class="img-responsive service-img" id="service-img4" src="{{base_url()}}/{{ service.detail_image_4 }}" alt="Service Image"/>
													<img class="service-cancel-btn" id="service-cancel-btn4" src="https://png.icons8.com/small/30/333333/delete-sign.png">
													<img class="fa fa-camera service-upload-btn" id="service-upload-btn4" title="Upload Service Photo" src="https://png.icons8.com/windows/35/333333/camera.png">
													<input type="hidden" id="img-attr4" name="img-attr4" value="1">
													<input class="service-photo" id="service-photo4" type="file" name="detail_photo_4"/>
												{% else %}
													<img class="img-responsive service-img" id="service-img4" src="{{base_url()}}/img/placeholder.png" alt="Service Image"/>
													<img class="service-cancel-btn" id="service-cancel-btn4" src="https://png.icons8.com/small/30/333333/delete-sign.png">
													<img class="fa fa-camera service-upload-btn" id="service-upload-btn4" title="Upload Service Photo" src="https://png.icons8.com/windows/35/333333/camera.png">
													<input type="hidden" id="img-attr4" name="img-attr4" value="0">
													<input class="service-photo" id="service-photo4" type="file" name="detail_photo_4"/>
												{% endif %}
											</div>
										</div>
										<div class="form-group">
											<input class="hidden-class" type="hidden" data-detailid="{{ detail_id }}" name="servicedetailoverview_hidden_input" value="servicedetailoverview">
										</div>
									</div>
								</div>
							</div>
						</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6  menu-img-container1">
						<div id="editCoverImage" class="modal fade" role="dialog">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">Edit Cover Images</h4>
									</div>
									<div class="modal-body">
										<div class="row">
											{% if service.service_main_image != "" %}
												<div class="col-lg-12 col-md-12 col-sm-12 menu-img-container1">
													<img class="img-responsive menu-img" id="menu-imgC" data-toggle="modal" data-target="#menu1" src="{{base_url()}}/{{ service.service_main_image }}" alt="Service Cover Image"/>
													<img class="menu-cancel-btn" id="menu-cancel-btnC" data-toggle="tooltip" data-placement="bottom" src="https://png.icons8.com/small/30/333333/delete-sign.png">
													<img class="fa fa-camera menu-upload-btn" id="menu-upload-btnC" data-toggle="tooltip" title="Upload Service Cover Photo" data-placement="bottom" src="https://png.icons8.com/windows/35/333333/camera.png">
													<input type="hidden" id="img-attrC" name="img-attrC" value="1"/>
													<input class="menu-photo" id="menu-photoC" type="file" name="detail_cover_photo"/>
												</div>
											{% else %}
												<div class="col-lg-12 col-md-12 col-sm-12 menu-img-container1">
													<img class="img-responsive menu-img" id="menu-imgC" data-toggle="modal" data-target="#menu1" src="{{base_url()}}/img/placeholder.png" alt="Service Cover Image"/>
													<img class="menu-cancel-btn" id="menu-cancel-btnC" data-toggle="tooltip" data-placement="bottom" src="https://png.icons8.com/small/30/333333/delete-sign.png">
													<img class="fa fa-camera menu-upload-btn" id="menu-upload-btnC" data-toggle="tooltip" title="Upload Service Cover Photo" data-placement="bottom" src="https://png.icons8.com/windows/35/333333/camera.png">
													<input type="hidden" id="img-attrC" name="img-attrC" value="0"/>
													<input class="menu-photo" id="menu-photoC" type="file" name="detail_cover_photo"/>
												</div>
											{% endif %}
										</div>
									</div>
									<div class="modal-footer">
										<button class="btn btn-info btn-custom" id="btnDone" data-dismiss="modal" type="button">Done</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{{ csrf.field | raw }}
			</form>
			{% endif %}
            {% endfor %}
		</div>
		<div class="overview-content review">
					<div class="panel panel-default">
						<div class="panel-body">
                            <div class="row" style="padding:20px;">
                                <div class="col-lg-12 text-center">
                                    <img src="{{ base_url() }}/img/icons/rating.png">
                                </div>
                                <div class="col-lg-12 text-center">
                                    <h4>You have no reviews yet.</h4>
                                    <h4>Reach out Event Organizers to utilize your event services!</h4>
                                </div>
                            </div>
							{#<h3>You have <span class="badge">4</span> reviews in total</h3>#}
							{#<hr>#}
							{#<div class="user-review">#}
								{#<img class="img-responsive" src="{{base_url()}}/img/user_placeholder.png" alt="Profile Photo"/>#}
								{#<p class="user-fullname"><b>John Doe</b> | <span><b>2 days ago</b></span></p>#}
								{#<div class="starrr user-rating"></div>#}
								{#<p class="user-review-comment text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>#}
							{#</div>#}
							{#<div class="user-review">#}
								{#<img class="img-responsive" src="{{base_url()}}/img/user_placeholder.png" alt="Profile Photo"/>#}
								{#<p class="user-fullname"><b>Bean Smith</b> | <span><b>4 days ago</b></span></p>#}
								{#<div class="starrr user-rating"></div>#}
								{#<p class="user-review-comment text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>#}
							{#</div>#}
							{#<div class="user-review">#}
								{#<img class="img-responsive" src="{{base_url()}}/img/user_placeholder.png" alt="Profile Photo"/>#}
								{#<p class="user-fullname"><b>Jenny Lart</b> | <span><b>1 week ago</b></span></p>#}
								{#<div class="starrr user-rating"></div>#}
								{#<p class="user-review-comment text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>#}
							{#</div>#}
							{#<div class="user-review">#}
								{#<img class="img-responsive" src="{{base_url()}}/img/user_placeholder.png" alt="Profile Photo"/>#}
								{#<p class="user-fullname"><b>Michael Law</b> | <span><b>2 weeks ago</b></span></p>#}
								{#<div class="starrr user-rating"></div>#}
								{#<p class="user-review-comment text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>#}
							{#</div>#}
						</div>
					</div>
			</div>
		</div>
		</div>
        {#{{ csrf.field | raw }}#}
	{#</form>#}
	<form class="deleteService-form" method="post">
		<div id="deleteService" class="modal fade" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Delete This Service</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-lg-12 col-md-12 text-center">
								<img src="{{ base_url() }}/img/icons/warning.png"/>
								<h4>Are you sure you want to delete this service? This action couldn't be undo!</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 col-md-12 text-center">
								<h4>If you wish to proceed, kindly enter your password</h4>
								<div class="form-group">
									<div class="input-group">
										<input class="form-control input-lg" id="password" type="password" name="password" placeholder="Enter password">
										<div class="input-group-btn">
											<button class="btn btn-warning" name="btnDelete"  style="height:46px;" type="submit">Proceed</button>
										</div>
									</div>
								</div>
								<div class="form-group">
									<input class="hidden-class" type="hidden" data-serviceid="{{ service_id }}" name="service_hidden_input" value="deleteservice">
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-info btn-custom" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
        {{ csrf.field | raw }}
	</form>
    <form class="deleteMenu-form" method="post">
        <div id="deleteMenu" class="modal fade" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Delete This Menu</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 text-center">
                                <img src="{{ base_url() }}/img/icons/warning.png"/>
                                <h4>Are you sure you want to delete this menu? This action couldn't be undo!</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 text-center">
                                <h4>If you wish to proceed, kindly enter your password</h4>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control input-lg" id="password" type="password" name="password" placeholder="Enter password">
                                        <div class="input-group-btn">
                                            <button class="btn btn-warning" name="btnDelete"  style="height:46px;" type="submit">Proceed</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input class="hidden-class" type="hidden" id="menuIDdelete" name="menu_id" value="">
                                </div>
                                <div class="form-group">
                                    <input class="hidden-class" type="hidden" data-menuid="{{ menu_id }}" name="servicemenu_hidden_input" value="deletemenu">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info btn-custom" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        {{ csrf.field | raw }}
    </form>
	<script type="text/javascript">
        function delMenu(x){
            document.getElementById("menuIDdelete").value = x;
        }
        function menuCheck(x,y){
			if(x.checked){
				document.getElementById("menu-pax"+y).disabled = false;
			}
			if(!x.checked){
                document.getElementById("menu-pax"+y).value = "";
                document.getElementById("menu-pax"+y).disabled = true;
			}
		}
	</script>
{% endblock %}