{% extends 'templates/main_container.twig' %}

{% block main %}
    <div class="container">
        {#<div class="row">#}
        {#<form class="search-event form-horizontal" id="frmSrc">#}
        {#<div class="col-lg-5 col-lg-push-2">#}
        {#<div class="form-group">#}
        {#<label for="eType">Event Type </label>#}
        {#<select name="eType[]" id="eType" class="selectpicker selectBox" multiple data-live-search="false">#}
        {#{% if eType == "allTypes" %}#}
        {#<option value="allTypes" selected="selected">All types</option>#}
        {#{% else %}<option value="allTypes">All types</option>{% endif %}#}
        {#{% if eType == "restaurant" %}#}
        {#<option value="restaurant" selected="selected">Restaurant</option>#}
        {#{% else %}<option value="restaurant">Restaurant</option>{% endif %}#}
        {#{% if eType == "office" %}#}
        {#<option value="office" selected="selected">Office</option>#}
        {#{% else %}<option value="office">Office</option>{% endif %}#}
        {#{% if eType == "warehouse" %}#}
        {#<option value="warehouse" selected="selected">Warehouse</option>#}
        {#{% else %}<option value="warehouse">Warehouse</option>{% endif %}#}
        {#{% if eType == "personal space" %}#}
        {#<option value="personal space" selected="selected">Personal Space</option>#}
        {#{% else %}<option value="personal space">Personal Space</option>{% endif %}#}
        {#{% if eType == "studio" %}#}
        {#<option value="studio" selected="selected">Studio</option>#}
        {#{% else %}<option value="studio">Studio</option>{% endif %}#}
        {#{% if eType == "conference room" %}#}
        {#<option value="conference room" selected="selected">Conference Room</option>#}
        {#{% else %}<option value="conference room">Conference Room</option>{% endif %}#}
        {#</select>#}
        {#</div>#}
        {#</div>#}
        {#<div class="col-lg-5 col-lg-pull-0">#}
        {#<div class="form-group">#}
        {#<label for="eSize">Event Size </label>#}
        {#<select name="eSize" id="eSize" class="selectpicker selectBox" data-live-search="false">#}
        {#{% if eSize == "allPax" %}#}
        {#<option selected="selected" value="allPax">All pax</option>#}
        {#{% else %}<option selected="selected" value="allPax">All pax</option>{% endif %}#}
        {#{% if eSize == "1to100" %}#}
        {#<option value="1to100" selected="selected">1 to 100 pax</option>#}
        {#{% else %}<option value="1to100">1 to 100 pax</option>{% endif %}#}
        {#{% if eSize == "101to500" %}#}
        {#<option value="101to500" selected="selected">101 to 500 pax</option>#}
        {#{% else %}<option value="101to500">101 to 500 pax</option>{% endif %}#}
        {#{% if eSize == "501to1000" %}#}
        {#<option value="501to1000" selected="selected">501 to 1000 pax</option>#}
        {#{% else %}<option value="501to1000">501 to 1000 pax</option>{% endif %}#}
        {#{% if eSize == ">1000" %}#}
        {#<option value=">1000" selected="selected">More than 1000 pax</option>#}
        {#{% else %}<option value=">1000">More than 1000 pax</option>{% endif %}#}
        {#</select>#}
        {#</div>#}
        {#</div>#}
        {#<div class="col-lg-2 col-lg-pull-2">#}
        {#<div class="form-group">#}
        {#<button class="btn btn-info btn-custom btn-block" id="btnSrc" type="submit"><i class="fa fa-search"></i> GO</button>#}
        {#</div>#}
        {#</div>#}
        {#{{ csrf.field | raw }}#}
        {#</form>#}
        {#</div>#}
        {#{% if service_bookings.book_service != "" %}#}
        <h3>My Selected Service Booking(s)</h3>
        <div class="panel-group" id="accordion">
            {% for svbook in service_bookings %}
                <div class="panel panel-default">
                    <div class="panel-heading-service">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}">
                                {{ svbook.service_name }} by {{ svbook.user_full_name }}</a>
                            <span style="float: right;margin-top:-6px;">
                            <button type="submit" class="btn btn-danger" onclick="modalSvcCancel('{{ svbook.svbook_id }}','{{ svbook.book_id }}')" style="padding: 3px !important;">Cancel this Service</button>
                        </span>
                        </h4>
                    </div>
                    <div id="collapse{{ loop.index }}" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="col-lg-12">
                                <div class="col-lg-3"><p>Service Date : {{ svbook.svbook_date }}</p></div>
                                <div class="col-lg-3"><p>Service Time : {{ svbook.svbook_time_from }} to {{ svbook.svbook_time_to }}</p></div>
                                <div class="col-lg-3"><p>Service Status : {{ svbook.svbook_status }}</p></div>
                                {% if svbook.detail_pricing != "" %}
                                    <div class="col-lg-3"><p>Service Price : {{ svbook.service_currency }}{{ svbook.detail_pricing }} </p></div>
                                {% endif %}
                            </div>
                            {% if svbook.service_catering != "" %}
                                <h5>Catering Details</h5>
                                {% for cat in catMenu if cat.svbook_id == svbook.svbook_id %}
                                    <div class="col-lg-4"><ul><li>{{ cat.menu_name }} - {{ svbook.service_currency }}{{ cat.menu_price }} ({{ cat.catBk_pax }} pax)</li></ul></div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <button class="btn btn-success" onclick="window.location = '{{ base_url() }}/booking-overview/{{ book_id }}' " style="width:100%;">Proceed</button>
        </div>
        <hr/>
        {#{% else %} {% endif %}#}
        <div class="dtLoad text-center"><img src="{{ base_url() }}/img/icons/Spinner-1s-200px.gif"/></div>
        <h2>Discover Services</h2>
        <div class="dtAvailable">
            <div class="row event-space">
                <div class="col-lg-12">
                    <div class="col-lg-5">
                        <h4>Finest and Delicacy of Catering for your events</h4>
                    </div>
                    <div class="col-lg-6" style="float: right;padding:5px;">
                        <button type="button" class="btn btn-sm" style="float: right;" id="loadMoreCatering">Load More</button>
                    </div>
                </div>
                {% for sv in services if sv.service_type == "Catering" %}
                    <div class="spLoopCatering">
                        <a href="{{ base_url() }}/service-overview/{{ sv.service_id }}" style="color: black;"><div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-bottom: 25px;">
                                <div class="col-lg-11 event-space-image">
                                    {% if sv.service_main_image == "" %}
                                        <img src="{{base_url()}}/img/bg-img/event_organizer.jpg" class="img-responsive"/><br>
                                    {% else %}
                                        <img src="{{base_url()}}/{{ sv.service_main_image }}" class="img-responsive"/><br>
                                    {% endif %}
                                    <div class="event-space-info">
                                        <p class=""><b>{% if sv.service_type != "Catering" %}{{ sv.service_currency }}{{ sv.detail_pricing }} {% else %}{% endif %} {{ sv.service_name }}</b><br>{{ sv.service_location }}</p>
                                        {#<div class="event-space-det"><span class="event-stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span> 43 Reviews</span>#}
                                        {#</div>#}
                                    </div>
                                </div>
                                <input type="hidden" name="book_id" value="{{ book_id }}"/>
                            </div></a>
                    </div>
                {% endfor %}
                {% for sv2 in service_catering %}
                    <div class="spLoopCatering">
                        <a href="{{ base_url() }}/service-overview/{{ sv2.service_id }}" style="color: black;"><div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-bottom: 25px;">
                                <div class="col-lg-11 event-space-image">
                                    {% if sv2.service_main_image == "" %}
                                        <img src="{{base_url()}}/img/bg-img/event_organizer.jpg" class="img-responsive"/><br>
                                    {% else %}
                                        <img src="{{base_url()}}/{{ sv2.service_main_image }}" class="img-responsive"/><br>
                                    {% endif %}
                                    <div class="event-space-info">
                                        <p class=""><b>{% if sv2.service_type != "Catering" %}{{ sv2.service_currency }}{{ sv2.detail_pricing }} {% else %}{% endif %} {{ sv2.service_name }}</b><br>{{ sv2.service_location }}</p>
                                        {#<div class="event-space-det"><span class="event-stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span> 43 Reviews</span>#}
                                        {#</div>#}
                                    </div>
                                </div>
                                <input type="hidden" name="book_id" value="{{ book_id }}"/>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="row event-space">
                <div class="col-lg-12">
                    <div class="col-lg-5">
                        <h4>Trending Music & Entertainment for your Events</h4>
                    </div>
                    <div class="col-lg-6" style="float: right;padding:5px;">
                        <button type="button" class="btn btn-sm" style="float: right;" id="loadMoreMusic">Load More</button>
                    </div>
                </div>
                {% for sv in services if sv.service_type == "Music" %}
                    <div class="spLoopMusic">
                        <a href="{{ base_url() }}/service-overview/{{ sv.service_id }}" style="color: black;"><div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-bottom: 25px;">
                                <div class="col-lg-11 event-space-image">
                                    {% if sv.service_main_image == "" %}
                                        <img src="{{base_url()}}/img/bg-img/event_organizer.jpg" class="img-responsive"/><br>
                                    {% else %}
                                        <img src="{{base_url()}}/{{ sv.service_main_image }}" class="img-responsive"/><br>
                                    {% endif %}
                                    <div class="event-space-info">
                                        <p class=""><b>{% if sv.service_type != "Catering" %}{{ sv.service_currency }}{{ sv.detail_pricing }} {% else %}{% endif %} {{ sv.service_name }}</b><br>{{ sv.service_location }}</p>
                                        {#<div class="event-space-det"><span class="event-stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span> 43 Reviews</span>#}
                                        {#</div>#}
                                    </div>
                                </div>
                            </div></a>
                    </div>
                {% endfor %}
            </div>
            <div class="row event-space">
                <div class="col-lg-12">
                    <div class="col-lg-5">
                        <h4>Photography and Videography for your Events</h4>
                    </div>
                    <div class="col-lg-6" style="float: right;padding:5px;">
                        <button type="button" class="btn btn-sm" style="float: right;" id="loadMorePV">Load More</button>
                    </div>
                </div>
                {% for sv in services if sv.service_type == "Photography/Videography" %}
                    <div class="spLoopPV">
                        <a href="{{ base_url() }}/service-overview/{{ sv.service_id }}" style="color: black;"><div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-bottom: 25px;">
                                <div class="col-lg-11 event-space-image">
                                    {% if sv.service_main_image == "" %}
                                        <img src="{{base_url()}}/img/bg-img/event_organizer.jpg" class="img-responsive"/><br>
                                    {% else %}
                                        <img src="{{base_url()}}/{{ sv.service_main_image }}" class="img-responsive"/><br>
                                    {% endif %}
                                    <div class="event-space-info">
                                        <p class=""><b>{% if sv.service_type != "Catering" %}{{ sv.service_currency }}{{ sv.detail_pricing }} {% else %}{% endif %} {{ sv.service_name }}</b><br>{{ sv.service_location }}</p>
                                        {#<div class="event-space-det"><span class="event-stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span> 43 Reviews</span>#}
                                        {#</div>#}
                                    </div>
                                </div>
                            </div></a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}


