{% extends 'templates/dashboard_container.twig' %}
{% block main %}
	<div class="flash-ajax"></div>
	<div id="SweetAlert">
        {#profile swal#}
        {% if profile_success == "true" %}
			<script>
                swal({
                    type: 'success',
                    title: 'Profile Updated',
                    text: 'Your profile were successfully updated',
                });
			</script>
            {% elseif profile_success == "false" %}
			<script>
                swal({
                    type: 'error',
                    title: 'Profile Not Updated',
                    text: 'Your profile were unsuccessfully updated',
                });
			</script>
        {% else %}
        {% endif %}

        {#security swal#}
        {% if security_success == "true" %}
			<script>
                swal({
                    type: 'success',
                    title: 'Security Updated',
                    text: 'Your password were successfully updated',
                });
			</script>
            {% elseif security_success == "false" %}
			<script>
                swal({
                    type: 'error',
                    title: 'Security Not Updated',
                    text: 'Your password were unsuccessfully updated',
                });
			</script>
            {% elseif security_success == "unmatch" %}
			<script>
                swal({
                    type: 'error',
                    title: 'Security Not Updated',
                    text: 'Your password does not match with our records',
                });
			</script>
        {% else %}
        {% endif %}

        {#space delete swal#}
        {% if space_delete == "true" %}
			<script>
                swal({
                    type: 'success',
                    title: 'Space Deleted',
                    text: 'Your space were successfully deleted',
                });
			</script>
        {% else %}
        {% endif %}

        {#book cancel swal#}
        {% if cancel_booking == "true" %}
			<script>
                swal({
                    type: 'success',
                    title: 'Booking Cancelled',
                    text: 'Your booking were successfully cancelled',
                });
			</script>
        {% else %}
        {% endif %}
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="dashboard-content profile" id="profile">
					<div class="row">
						<form class="myprofile-form" method="POST" enctype="multipart/form-data">
							<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
								<h3><img src="https://png.icons8.com/windows/35/333333/user-male-circle.png"> My Profile</h3>
								<hr>
                                {% if user_image != "" %}
									<div class="form-group">
										<img class="img-responsive profile-img" src="{{base_url()}}{{ user_image }}" alt="Profile Photo"/>
										<img class="fa fa-camera profile-upload-btn" data-toggle="tooltip" title="Upload Profile Picture" data-placement="bottom" src="https://png.icons8.com/windows/35/333333/camera.png">
										<input class="profile-photo" type="file" name="profile_photo"/>
									</div>
                                {% else %}
									<div class="form-group">
										<img class="img-responsive profile-img" src="{{base_url()}}/img/user.png" alt="Profile Photo"/>
										<img class="fa fa-camera profile-upload-btn" data-toggle="tooltip" title="Upload Profile Picture" data-placement="bottom" src="https://png.icons8.com/windows/35/333333/camera.png">
										<input class="profile-photo" type="file" name="profile_photo"/>
									</div>
                                {% endif %}
								<div class="form-group">
									<label for="full-name">Full Name</label><br>
									<input class="form-control input-lg" id="full-name" type="text" placeholder="Enter your full name" name="full_name" value="{{ full_name }}" disabled>
								</div>
								<div class="form-group email-fg">
									<label for="email_address">Email</label><br>
									<input class="form-control input-lg" id="email_address" type="text" placeholder="Enter your email" name="email" value="{{ email_address }}" disabled>
								</div>
                                {#<div class="form-group">#}
                                {#<label for="user_type">Type</label><br>#}
                                {#<input class="form-control input-lg" id="user_type" type="text" placeholder="" name="user_type" value="{{ user_type }}" disabled>#}
                                {#</div>#}
								<div class="form-group about-me-fg">
									<label for="about-me">About Me</label>
									<textarea class="form-control input-lg" id="about-me" name="about_me" placeholder="Describe yourself" rows="8" cols="80">{{ user_description }}</textarea>
								</div>
								<div class="form-group">
									<input class="hidden-class" type="hidden" id="user_id" data-userid="{{ user_id }}" name="dashboard_hidden_input" value="profile">
								</div>
								<button class="btn btn-info btn-custom" id="profile-submit" type="submit">Update</button>
								<br><br>
								<p class="text-justify">Basic information about you would get event organizers or anyone to know about you, In Galaspace, we aim to create a happy relationship amongst everyone. Tell about your passion and everyday activities that you look forward and your favorite TV show.</p>
							</div>
                            {{ csrf.field | raw }}
						</form>
					</div>
				</div>
				<div class="dashboard-content history" id="history">
					<br><br><br>
					<div class="row">
						<div class="col-lg-12 text-center">
							<img src="{{ base_url() }}/img/icons/consulting-message.png">
						</div>
						<div class="col-lg-12 text-center">
							<h2 style="color:#00a99d;">More features will be introduced soon!</h2>
						</div>
					</div>
                    {#<div class="row">#}
                    {#<form method="post">#}
                    {#<div class="col-lg-12">#}
                    {#<h3><img src="https://png.icons8.com/windows/35/333333/time-machine.png"> History of Bookings</h3><hr>#}
                    {#<div class="row">#}
                    {#<div class="col-lg-6 col-md-6 dashboard-event-container">#}
                    {#<img class="dashboard-event-img" src="{{base_url()}}/img/placeholder.png" alt="Event Image"/>#}
                    {#<div class="dashboard-event-details">#}
                    {#<h4 class="dashboard-event-title"><i>Karl's Secret Event</i></h4>#}
                    {#<h4>Status: <span class="label label-info">On-Going</span></h4>#}
                    {#<p>Axis Lounge, Marina Bay, Singapore</p>#}
                    {#<p>03/08/18 6:00 PM</p>#}
                    {#</div>#}
                    {#<hr>#}
                    {#</div>#}
                    {#<div class="col-lg-6 col-md-6 dashboard-event-container">#}
                    {#<img class="dashboard-event-img" src="{{base_url()}}/img/placeholder.png" alt="Event Image"/>#}
                    {#<div class="dashboard-event-details">#}
                    {#<h4 class="dashboard-event-title"><i>Karl's Secret Event</i></h4>#}
                    {#<h4>Status: <span class="label label-success">Successful</span></h4>#}
                    {#<p>Axis Lounge, Marina Bay, Singapore</p>#}
                    {#<p>03/08/18 6:00 PM</p>#}
                    {#</div>#}
                    {#<hr>#}
                    {#</div>#}
                    {#</div>#}
                    {#<div class="row">#}
                    {#<div class="col-lg-6 col-md-6 dashboard-event-container">#}
                    {#<img class="dashboard-event-img" src="{{base_url()}}/img/placeholder.png" alt="Event Image"/>#}
                    {#<div class="dashboard-event-details">#}
                    {#<h4 class="dashboard-event-title"><i>Karl's Secret Event</i></h4>#}
                    {#<h4>Status: <span class="label label-info">On-Going</span></h4>#}
                    {#<p>Axis Lounge, Marina Bay, Singapore</p>#}
                    {#<p>03/08/18 6:00 PM</p>#}
                    {#</div>#}
                    {#<hr>#}
                    {#</div>#}
                    {#<div class="col-lg-6 col-md-6 dashboard-event-container">#}
                    {#<img class="dashboard-event-img" src="{{base_url()}}/img/placeholder.png" alt="Event Image"/>#}
                    {#<div class="dashboard-event-details">#}
                    {#<h4 class="dashboard-event-title"><i>Karl's Secret Event</i></h4>#}
                    {#<h4>Status: <span class="label label-danger">Cancelled</span></h4>#}
                    {#<p>Axis Lounge, Marina Bay, Singapore</p>#}
                    {#<p>03/08/18 6:00 PM</p>#}
                    {#</div>#}
                    {#<hr>#}
                    {#</div>#}
                    {#</div>#}
                    {#<button class="btn btn-info btn-custom" type="button">Load More</button>#}
                    {#</div>#}
                    {#{{ csrf.field | raw }}#}
                    {#</form>#}
                    {#</div>#}
				</div>
                {% if user_type == "host" %}
                {% elseif user_type == "subhost" %}
                {% elseif user_type == "event_creator" %}
                {% elseif user_type == "host_subhost" %}
					<div class="dashboard-content mylistings" id="MyListings">
						<div class="row">
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
								<h3><img src="https://png.icons8.com/windows/35/333333/test-passed.png"> My Listings</h3>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                {% if space_count > 4 %}
                                    {#create a modal to warn that it's beyond the limit#}
                                {% else %}
									<p class="text-right"><a class="green-text" href="{{base_url()}}/space-type/{{user_id}}" data-toggle="tooltip" title="Add New Event Space" data-placement="left"><img src="https://png.icons8.com/windows/50/00a99d/add.png"></a></p>
                                {% endif %}
							</div>
						</div>
						<div class="row">
                            {% for i in spaces %}
								<a href="{{base_url()}}/space-overview/{{i.space_id}}" style="text-decoration: none;color:black;">
									<div class="col-lg-6 col-md-6 dashboard-event-container">
                                        {% if i.space_main_image != "" %}
											<img class="dashboard-event-img" src="{{base_url()}}/{{ i.space_main_image }}" alt="Event Image"/>
                                        {% else %}
											<img class="dashboard-event-img" src="{{base_url()}}/img/placeholder.png" alt="Event Image"/>
                                        {% endif %}
										<div class="dashboard-event-details">
											<h4 class="dashboard-event-title"><i>{{ i.space_name }}</i></h4>
											<h4>Status: {% if i.space_status == "PENDING" %}
													<span class="label label-warning">Pending</span>
                                                {% elseif i.space_status == "APPROVED" %}
													<span class="label label-success">Live</span>
                                                {% elseif i.space_status == "REJECTED" %}
													<span class="label label-danger">Rejected</span>
                                                {% elseif i.space_status == "INCOMPLETE" %}
													<span class="label label-default">Incomplete</span>
                                                {% endif %}
											</h4>
											<p>{{ i.map_location }}</p>
											<br>
										</div>
										<hr>
									</div>
								</a>
                            {% endfor %}
						</div>
                        {#<button class="btn btn-info btn-custom" type="button">Load More</button>#}
						<hr>
						<div class="row">
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
								<h3><img src="https://png.icons8.com/windows/35/333333/restaurant-pickup.png"> My Services</h3>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                {% if service_count > 4 %}
                                    {#create a modal to warn that it's beyond the limit#}
                                {% else %}
									<p class="text-right"><a class="green-text" href="{{base_url()}}/service-type/{{user_id}}" data-toggle="tooltip" title="Add New Event Service" data-placement="left"><img src="https://png.icons8.com/windows/50/00a99d/add.png"></a></p>
                                {% endif %}
							</div>
						</div>
						<div class="row">
                            {% for j in services %}
								<a href="{{base_url()}}/service-overview/{{j.service_id}}" style="text-decoration: none;color:black;">
									<div class="col-lg-6 col-md-6 dashboard-event-container">
                                        {% if  j.service_main_image != "" %}
											<img class="dashboard-event-img" src="{{base_url()}}/{{ j.service_main_image }}" alt="Event Image"/>
                                        {% else %}
											<img class="dashboard-event-img" src="{{base_url()}}/img/placeholder.png" alt="Event Image"/>
                                        {% endif %}
										<div class="dashboard-event-details">
											<h4 class="dashboard-event-title"><i>{{ j.service_name }}</i></h4>
											<h4>Status: {% if j.service_status == "PENDING" %}
													<span class="label label-warning">Pending</span>
                                                {% elseif j.service_status == "APPROVED" %}
													<span class="label label-success">Live</span>
                                                {% elseif j.service_status == "REJECTED" %}
													<span class="label label-danger">Rejected</span>
                                                {% elseif j.service_status == "INCOMPLETE" %}
													<span class="label">Incomplete</span>
                                                {% endif %}
											</h4>
											<br><br>
										</div>
										<hr><br><br>
									</div>
								</a>
                            {% endfor %}
						</div>
                        {#<button class="btn btn-info btn-custom" type="button">Load More</button>#}
					</div>
                {% else %}
					<div class="dashboard-content mylistings" id="MyListings">
						<h3 class="text-center">The listing is empty...</h3>
					</div>
                {% endif %}

				<div class="dashboard-content inbox" id="inbox">
					{#<br><br><br>#}
					{#<div class="row">#}
						{#<div class="col-lg-12 text-center">#}
							{#<img src="{{ base_url() }}/img/icons/consulting-message.png">#}
						{#</div>#}
						{#<div class="col-lg-12 text-center">#}
							{#<h2 style="color:#00a99d;">More features will be introduced soon!</h2>#}
						{#</div>#}
					{#</div>#}
					<div class="row">
						<form class="inbox-form" method="post">
							<div class="col-lg-12 col-md-12">
								<h3><img src="https://png.icons8.com/windows/35/333333/collaboration.png"/> Inbox</h3>
								<hr>
								<div class="row">
									<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
										<h4 class="green-text">Message here to plan ahead with host and subhost</h4><br>
										<div id="chat-modal" class="modal fade" role="dialog">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal">&times;</button>
														<h4 class="modal-title">Inbox: <span class="un"></span></h4>
													</div>
													<div class="modal-body">
														<div class="chat-history">
														</div>
													</div>
													<div class="modal-footer">
														<div class="input-group">
															<input type="text" class="form-control input-lg" placeholder="Type message here" maxlength="70">
															<div class="input-group-btn">
																<button class="btn btn-default btn-lg send_message" type="button" style="height:46px;">
																	Send
																</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
                                        {{hosts_chats}}
										<div class="inbox-profile">
											<a data-toggle="tooltip" data-placement="left" title="View Profile" href="#"><img class="img-responsive inbox-profile-img" src="{{base_url()}}/img/user.png" alt="Profile Photo"/></a>
											<p class="green-text profile-name"><b>Jake Collins</b></p>
											<p class="text-right chat-time">10 minutes ago</p>
											<p class="chat-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit... <a class="green-text" href="#">Message Now</a></p>
											<hr>
										</div>
									</div>
								</div>
							</div>
                            {{ csrf.field | raw }}
						</form>
					</div>
				</div>

				<div class="dashboard-content settings" id="settings">
					<br><br><br>
					<div class="row">
						<div class="col-lg-12 text-center">
							<img src="{{ base_url() }}/img/icons/consulting-message.png">
						</div>
						<div class="col-lg-12 text-center">
							<h2 style="color:#00a99d;">More features will be introduced soon!</h2>
						</div>
					</div>
                    {#<div class="row">#}
                    {#<form class="account-settings-form" method="post">#}
                    {#<div class="col-lg-12 col-md-12">#}
                    {#<h3><img src="https://png.icons8.com/windows/35/333333/settings.png"/> Settings</h3>#}
                    {#<hr>#}
                    {#<div class="row">#}
                    {#<div class="col-lg-3 col-md-3 col-sm-3">#}
                    {#<ul class="nav nav-pills nav-stacked setting-lists">#}
                    {#<li class="active payment-methods"><a href="#" class="green-text">Payment Methods</a></li>#}
                    {#<li class="payout-methods"><a href="#" class="green-text">Payout Methods</a></li>#}
                    {#<li class="transaction-history"><a href="#" class="green-text">Transaction History</a></li>#}
                    {#<li class="account-settings"><a href="#" class="green-text">Account Settings</a></li>#}
                    {#</ul>#}
                    {#</div>#}
                    {#<div class="col-lg-9 col-md-9 col-sm-9">#}
                    {#<div class="payment-methods-container">#}
                    {#<b>Payment Methods</b>#}
                    {#<hr>#}
                    {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati mollitia provident nemo totam eius dolorem, magnam facere sapiente quaerat blanditiis excepturi impedit ullam maxime natus, repellendus voluptas vel quas debitis.</p>#}
                    {#</div>#}
                    {#<div class="payout-methods-container">#}
                    {#<b>Payout Methods</b>#}
                    {#<hr>#}
                    {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati mollitia provident nemo totam eius dolorem, magnam facere sapiente quaerat blanditiis excepturi impedit ullam maxime natus, repellendus voluptas vel quas debitis.</p>#}
                    {#</div>#}
                    {#<div class="transaction-history-container">#}
                    {#<b>Transaction History</b>#}
                    {#<hr>#}
                    {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati mollitia provident nemo totam eius dolorem, magnam facere sapiente quaerat blanditiis excepturi impedit ullam maxime natus, repellendus voluptas vel quas debitis.</p>#}
                    {#</div>#}
                    {#<div class="account-settings-container">#}
                    {#<b>Account Settings</b>#}
                    {#<hr>#}
                    {#<button class="btn btn-info btn-custom" type="button">Delete Account</button>#}
                    {#</div>#}
                    {#</div>#}
                    {#</div>#}
                    {#</div>#}
                    {#{{ csrf.field | raw }}#}
                    {#</form>#}
                    {#</div>#}
				</div>
				<div class="dashboard-content mybookings" id="MyBookings" style="height:auto !important;">
					<div class="row">
						<div class="col-lg-10 col-xs-8">
							<h3><img src="https://img.icons8.com/ios/35/000000/booking.png"> My Bookings</h3>
						</div>
						<div class="col-lg-2 col-xs-4" style="margin-top:15px;">
							<input type="checkbox" id="bookingToggle" checked data-toggle="toggle" data-on="Users" data-off="Hosts" data-onstyle="success" data-offstyle="danger" data-width="100" data-height="50"/>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div id="booking_user">
								<h3>Space Booking</h3>
								<div class="row">
									{#<div class="btn-booking">#}
										{#<a class="btn btn-info btn-custom text-center" href="{{path_for('home')}}">Start by discovering an event space here!</a>#}
									{#</div>#}
                                    {% for book_user_space in booking_user_space %}
										<a href="/booking-overview/{{ book_user_space.book_id }}" style="text-decoration: none;color:black;"><div class="col-lg-6 col-md-6 dashboard-event-container">
												<img class="dashboard-event-img" src="{{base_url()}}/img/placeholder.png" alt="Event Image"/>
												<div class="dashboard-event-details">
													<h4 class="dashboard-event-title"><i>{% if book_user_space.event_name != "" %}{{ book_user_space.event_name }}{% else %}Booking Space {{ loop.index }}{% endif %}</i></h4>
													<h4>Status: {% if book_user_space.spbook_status == "IN PROGRESS" %}
															<span class="label label-warning">In Progress</span>
                                                        {% elseif book_user_space.spbook_status == "APPROVED" %}
															<span class="label label-success">Approved</span>
                                                        {% elseif book_user_space.spbook_status == "REJECTED" %}
															<span class="label label-danger">Rejected</span>
                                                        {% elseif book_user_space.spbook_status == "INCOMPLETE" %}
															<span class="label">Incomplete</span>
                                                        {% endif %}
													</h4>
													<p>{{ book_user_space.space_address }}</p>
													<p>{{ book_user_space.spbook_date |date("d/m/Y")}} {{ book_user_space.spbook_time_from | date('h:i a') }}</p>
												</div>
												<hr>
											</div></a>
                                    {% endfor %}
								</div>
								<h3>Service Booking</h3>
								<div class="row">
                                    {% for book_user_service in booking_user_service %}
										<a href="/booking-overview/{{ book_user_service.book_id }}" style="text-decoration: none;color:black;"><div class="col-lg-6 col-md-6 dashboard-event-container">
												<img class="dashboard-event-img" src="{{base_url()}}/img/placeholder.png" alt="Event Image"/>
												<div class="dashboard-event-details">
													<h4 class="dashboard-event-title"><i>{% if book_user_service.event_name != "" %}{{ book_user_service.service_name }}{% else %}Booking Service {{ loop.index }}{% endif %}</i></h4>
													<h4>Status: {% if book_user_service.svbook_status == "IN PROGRESS" %}
															<span class="label label-warning">In Progress</span>
                                                        {% elseif book_user_service.svbook_status == "APPROVED" %}
															<span class="label label-success">Approved</span>
                                                        {% elseif book_user_service.svbook_status == "REJECTED" %}
															<span class="label label-danger">Rejected</span>
                                                        {% elseif book_user_service.svbook_status == "INCOMPLETE" %}
															<span class="label">Incomplete</span>
                                                        {% endif %}
													</h4>
													<br>
													<p>{{ book_user_service.space_address }}</p>
													<p>{{ book_user_service.spbook_date |date("d/m/Y")}} {{ book_user_service.spbook_time_from | date('h:i a') }}</p>
												</div>
												<hr>
											</div></a>
                                    {% endfor %}
								</div>
							</div>
							<div id="booking_hosts">
								<h3>Space Booking</h3>
								<div class="row">
                                    {% for book_hosts in booking_hosts_space %}
										<a href="/booking-space/{{ book_hosts.book_id }}" style="text-decoration: none;color:black;">
											<div class="col-lg-6 col-md-6 dashboard-event-container">
                                                {% if book_hosts.space_main_image != "" %}
													<img class="dashboard-event-img" src="{{base_url()}}{{ book_hosts.space_main_image }}" alt="Event Image"/>
                                                {% else %}
													<a class="btn btn-info btn-custom text-center" href="{{path_for('home')}}">Start by discovering an event space here!</a>
													<img class="dashboard-event-img" src="{{base_url()}}/img/placeholder.png" alt="Event Image"/>
                                                {% endif %}
												<div class="dashboard-event-details">
													<h4 class="dashboard-event-title"><i>{{ book_hosts.space_name }}</i></h4>
                                                    {#<h4>Status: </h4>#}
													<p>{{ book_hosts.map_location }}</p>
													<p>{{ book_hosts.spbook_date |date("d/m/Y")}} {{ book_hosts.spbook_time_from | date('h:i a') }}</p>
													<br><br>
												</div>
												<hr>
											</div>
										</a>
                                    {% endfor %}
								</div>
								<h3>Service Booking</h3>
								<div class="row">
                                    {% for book_hosts_sv in booking_hosts_service %}
										<a href="/booking-service/{{ book_hosts_sv.book_id }}" style="text-decoration: none;color:black;">
											<div class="col-lg-6 col-md-6 dashboard-event-container">
                                                {% if book_hosts_sv.service_main_image != "" %}
													<img class="dashboard-event-img" src="{{base_url()}}/{{ book_hosts_sv.service_main_image }}" alt="Event Image"/>
                                                {% else %}
													<img class="dashboard-event-img" src="{{base_url()}}/img/placeholder.png" alt="Event Image"/>
                                                {% endif %}
												<div class="dashboard-event-details">
													<h4 class="dashboard-event-title"><i>{{ book_hosts_sv.service_name }}</i></h4>
                                                    {#<h4>Status: </h4>#}
                                                    {#<p>{{ book_hosts_sv.map_location }}</p>#}
													<p>{{ book_hosts_sv.svbook_date |date("d/m/Y")}} {{ book_hosts_sv.svbook_time_from | date('h:i a') }}</p>
													<br><br><br><br>
												</div>
												<hr>
											</div>
										</a>
                                    {% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="dashboard-content security" id="security">
					<div class="row">
						<form class="password_security-form" method="post">
							<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
								<!-- get the password template on other twig files -->
								<h3><img src="https://png.icons8.com/windows/35/333333/keyhole-shield.png"/> Security</h3>
								<hr>
								<div class="form-group {{ errors.current_password ? 'has-error' : '' }}">
									<label for="current_password">Current Password</label>
									<div class="input-group">
									<span class="input-group-addon">
										<img src="https://png.icons8.com/windows/20/333333/password.png"/>
									</span>
										<input class="form-control input-lg" id="current_password" type="password" name="current_password" placeholder="Enter current password">
									</div>
                                    {% if errors.current_password %}
										<span class="help-block">{{ errors.current_password | first }}</span>
                                    {% endif %}
								</div>
								<div class="form-group {{ errors.new_password ? 'has-error' : '' }}">
									<label for="new_password">New Password</label>
									<div class="input-group">
									<span class="input-group-addon">
										<img src="https://png.icons8.com/windows/20/333333/password1.png"/>
									</span>
										<input class="form-control input-lg" id="new_password" type="password" name="new_password" placeholder="Enter new password">
									</div>
                                    {% if errors.new_password %}
										<span class="help-block">{{ errors.new_password | first }}</span>
                                    {% endif %}
								</div>
								<div class="form-group {{ errors.confirm_password ? 'has-error' : '' }}">
									<label for="confirm_password">Confirm Password</label>
									<div class="input-group">
									<span class="input-group-addon">
										<img src="https://png.icons8.com/windows/20/333333/password1.png"/>
									</span>
										<input class="form-control input-lg" id="confirm_password" type="password" name="confirm_password" placeholder="Retype password">
									</div>
                                    {% if errors.confirm_password %}
										<span class="help-block">{{ errors.confirm_password | first }}</span>
                                    {% endif %}
								</div>
								<div class="form-group">
									<input class="hidden-class" type="hidden" data-userid="{{ user_id }}" name="dashboard_hidden_input" value="password_security">
								</div>
								<button class="btn btn-info btn-custom" id="password_security-submit" type="submit">Update Password</button><br>
								<hr>
                                {#<div class="form-group {{ errors.email ? 'has-error' : '' }}">#}
                                {#<label for="email">Email</label>#}
                                {#<div class="input-group">#}
                                {#<span class="input-group-addon">#}
                                {#<img src="https://png.icons8.com/windows/20/333333/secured-letter.png"/>#}
                                {#</span>#}
                                {#<input class="form-control input-lg" id="email" type="email" name="email" placeholder="Enter email address" value="{{ old.email }}">#}
                                {#</div>#}
                                {#{% if errors.email %}#}
                                {#<span class="help-block">{{ errors.email | first }}</span>#}
                                {#{% endif %}#}
                                {#</div>#}
                                {#<div class="form-group {{ errors.contact_number ? 'has-error' : '' }}">#}
                                {#<label for="contact_number">Contact Number</label><br>#}
                                {#<input class="form-control input-lg" id="contact_number" type="tel" name="contact_number" value="{{ old.contact_number }}">#}
                                {#{% if errors.contact_number %}#}
                                {#<span class="help-block">{{ errors.contact_number | first }}</span>#}
                                {#{% endif %}#}
                                {#</div>#}
                                {#<button class="btn btn-info btn-custom" type="button">Update</button><br>#}
							</div>
                            {{ csrf.field | raw }}
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block country_code %}
	<script>
        $("#contact_number").intlTelInput();
	</script>
{% endblock %}

{#{% block dashboard_ajax %}#}
        {#<script src="{{base_url()}}/js/dashboard_ajax.js"/>#}
{#{% endblock %}#}
