<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="{{base_url()}}/img/galaspace_logo.jpg">
    <!-- CSSPlugins -->
    <link rel="stylesheet" href="{{base_url()}}/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{base_url()}}/node_modules/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="{{base_url()}}/node_modules/slick-carousel/slick/slick-theme.css">
    <link rel="stylesheet" href="{{base_url()}}/node_modules/jquery-toast-plugin/dist/jquery.toast.min.css">
    <link rel="stylesheet" href="{{base_url()}}/node_modules/intl-tel-input/build/css/intlTelInput.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="  https://printjs-4de6.kxcdn.com/print.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <style>
        .invoice-box {
            max-width: 800px;
            margin: auto;
            padding: 30px;
            border: 1px solid #eee;
            box-shadow: 0 0 10px rgba(0, 0, 0, .15);
            font-size: 16px;
            line-height: 24px;
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            color: #555;
        }

        .invoice-box table {
            width: 100%;
            line-height: inherit;
            text-align: left;
        }

        .table > tbody > tr > th{
            border-bottom:4px solid #00a99d !important;
            border-top-color: #fff;
        }

        .table > tbody > tr > td{
            border-bottom-color: #fff !important;
            border-top-color: #fff !important;
        }

        .invoice-box table td {
            padding: 5px;
            vertical-align: top;
        }

        .invoice-box table tr td:nth-child(2) {
            text-align: right;
        }

        .invoice-box table tr.top table td.title {
            font-size: 45px;
            line-height: 45px;
            color: #333;
        }

        .invoice-box table tr.information table td {
            padding-bottom: 40px;
        }

        .invoice-box table tr.heading td {
            background: #eee;
            border-bottom: 1px solid #ddd;
            font-weight: bold;
        }

        .invoice-box table tr.details td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.item td{
            border-bottom: 1px solid #eee;
        }

        .invoice-box table tr.item.last td {
            border-bottom: none;
        }

        .invoice-box table tr.total td:nth-child(2) {
            border-top: 2px solid #eee;
            font-weight: bold;
        }

        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 4px solid #00a99d;
            margin: 1em 0;
            padding: 0;
        }

        @media only screen and (max-width: 600px) {
            .invoice-box table tr.top table td {
                width: 100%;
                display: block;
                text-align: center;
            }

            .invoice-box table tr.information table td {
                width: 100%;
                display: block;
                text-align: center;
            }
        }

        #footer p {
            margin: 0;
            padding: 0;
        }

        /** RTL **/
        .rtl {
            direction: rtl;
            font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        }

        .rtl table {
            text-align: right;
        }

        .rtl table tr td:nth-child(2) {
            text-align: left;
        }
    </style>
</head>
<body>
<div class="invoice-box">
    <table cellpadding="0" cellspacing="0">
        <tr class="top">
            <td colspan="4">
                <table>
                    <tr>
                        <td>
                            <h1 style="color:#00a99d;">INVOICE</h1>
                            Date Issued : {{ date_now }}<br>
                            Invoice No : #
                        </td>
                        <td class="title">
                            <img src="{{ base_url() }}/img/logo/gspace_new_logo.png" style="width:120px;">
                            <h5 style="color:#00a99d;font-size:20px;"><i>Simplify Event Planing</i></h5>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="information">
            <td colspan="2">
                <table>
                    <tr>
                        <td>
                            <h3 style="color:#00a99d;">Client Details</h3>
                            {{ bookings.user_full_name }}<br>
                            {{ bookings.user_contact_number }}<br>
                            {{ bookings.user_email }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <table class="table">
            <tr>
                <th>Service / Description</th>
                <th style="text-align: center">Rate</th>
                <th style="text-align: center">Hours</th>
                <th style="text-align: center">Subtotal</th>
            </tr>
            {{ splist | raw }}
            {{ svlist | raw }}
            {{ total | raw }}
        </table>
        <div style="height:100px;"></div>
        <div style="padding: 2px;" id="footer">
            <hr>
            <p style="font-size: 14px;text-align: center;">Note : Subjected to Cancellation Policy, Terms & Conditions and Privacy Policy. Please contact us for any enquiry </p>
            <p style="font-size: 14px;text-align: center !important;">billings@galaspace.com &nbsp;&nbsp;&nbsp; +603-4151 5588 &nbsp;&nbsp;&nbsp; +65-8261 7380</p>
            <p style="font-size: 14px;text-align: center !important;">33-4-1 Block G, Cheras Business Centre, Jalan 3/101C, Taman Cheras, 56100 Kuala Lumpur, Malaysia</p>
        </div>
    </table>
</div>
</body>
</html>
