{% extends 'templates/app.twig' %}

{% block main %}
	<form action="{{ path_for('company-description', {'user_name': user_name}) }}" method="post" enctype="multipart/form-data">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<h3>Share about what you're doing!</h3>
				
				<div class="form-group {{ errors.company_name ? 'has-error' : '' }}">
	                <label for="company_name">Company Name</label>
	                <input class="form-control input-lg" id="company-name" name="company_name" type="text" placeholder="Name of your company"  value="{{ old.company_name }}"/>
	                {% if errors.company_name %}
	                    <span class="help-block">{{ errors.company_name | first }}</span>
	                {% endif %}
	            </div>
				<div class="form-group {{ errors.company_description ? 'has-error' : '' }}">
					<label for="company_description">Company Description</label>
					<textarea class="form-control input-lg" id="company-description" name="company_description" placeholder="Tell more about your company!" rows="8" cols="80" value="{{ old.company_description}}"></textarea>
					{% if errors.company_description %}
						<span class="help-block">{{ errors.company_description | first }}</span>
					{% endif %}
				</div>
				<button class="btn btn-info btn-custom btn-block" type="submit">Continue</button>
				<br>
				<button class="btn btn-danger btn-custom1 btn-block" type="reset">Reset</button>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="gspace-check-wrapper">
					<img class="img-responsive gspace-img" src="{{base_url()}}/img/gspace_notebook.png" alt="Galaspace Reset">
					<p class="text-center">Share it to event creator what you're good at!</p>
				</div>
			</div>
		</div>
		{{ csrf.field | raw }}
	</form>
{% endblock %}

{% block country_code %}
<script>
	$("#contact_number").intlTelInput({
	});

</script>
{% endblock %}
