{% extends 'templates/app.twig' %}

{% block main %}
	<form action="{{ path_for('company-location', {'user_name': user_name}) }}" method="post" enctype="multipart/form-data">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<h3>Tell more where you primarily based</h3>
				
				<div class="form-group {{ errors.company_location ? 'has-error' : '' }}">
	                <label for="company_location">Company Location</label>
	                <input class="form-control input-lg" id="company-location" name="company_location" type="text" placeholder="Location"  value="{{ old.company_location }}"/>
	                {% if errors.company_location %}
	                    <span class="help-block">{{ errors.company_location | first }}</span>
	                {% endif %}
	            </div>
				{#<div class="form-group {{ errors.company_radius ? 'has-error' : '' }}">#}
	                {#<label for="company_radius">Company Radius</label>#}
	                {#<input class="form-control input-lg" id="company-radius" name="company_radius" type="text" placeholder="Your location radius reach"  value="{{ old.company_radius }}"/>#}
	                {#{% if errors.company_radius %}#}
	                    {#<span class="help-block">{{ errors.company_radius | first }}</span>#}
	                {#{% endif %}#}
	            {#</div>#}
				
				<button class="btn btn-info btn-custom btn-block" type="submit">Continue</button>
				<br>
				<button class="btn btn-danger btn-custom1 btn-block" type="reset">Reset</button>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="gspace-check-wrapper">
					<img class="img-responsive gspace-img" src="https://png.icons8.com/ios/150/00a99d/marker.png" alt="Galaspace Reset">
					<p class="text-center">This will allow event creator to select your services that could be near your event's space and your company's location.</p>
				</div>
			</div>
		</div>
		{{ csrf.field | raw }}
	</form>
{% endblock %}

{% block country_code %}
<script>
	$("#contact_number").intlTelInput({
	});

</script>
{% endblock %}
