{% extends 'templates/app.twig' %}

{% block main %}
	<form action="{{ path_for('profile-photo', {'id': id}) }}" method="post" enctype="multipart/form-data">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<h3><img src="https://png.icons8.com/windows/35/333333/user-male-circle.png"/> PROFILE PHOTO</h3>
				<hr>
				<h3>A combo of profile photo and contact number</h3>
				<div class="form-group ">
					<label>Profile Photo</label>
					<img class="img-responsive profile-img" src="{{base_url()}}/img/user.png" alt="Profile Photo"/>
					<img class="fa fa-camera profile-upload-btn" data-toggle="tooltip" title="Upload Profile Picture" data-placement="bottom" src="https://png.icons8.com/windows/35/333333/camera.png">
					<input class="profile-photo" type="file" name="profile_photo"/>
				</div>
				<div class="form-group {{ errors.contact_number ? 'has-error' : '' }}">
					<label for="contact_number">Contact Number</label><br>
					<input class="form-control input-lg" id="contact_number" type="tel" name="contact_number" value="{{ old.contact_number }}">
					{% if errors.contact_number %}
						<span class="help-block">{{ errors.contact_number | first }}</span>
					{% endif %}
				</div>

				<button class="btn btn-info btn-custom btn-block" type="submit">Continue</button>
				<br>
				<button class="btn btn-danger btn-custom1 btn-block" type="reset">Reset</button>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="gspace-check-wrapper">
					<img class="img-responsive gspace-img" src="{{base_url()}}/img/gspace_notebook.png" alt="Galaspace Reset">
					<p class="text-center">It is to confirm your identity and event creator able to recognize you in person. Your contact number will only be shared to confirmed event creator.</p>
				</div>
			</div>
		</div>
		{{ csrf.field | raw }}
	</form>
{% endblock %}

{% block country_code %}
<script>
	$("#contact_number").intlTelInput({
	});

</script>
{% endblock %}
