{% extends 'templates/app.twig' %}

{% block main %}
	<form action="{{path_for('user_registration.signup')}}" method="post">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<h3><img src="https://png.icons8.com/windows/35/333333/edit-user-male.png"> SIGN UP</h3>
				<hr>
				{#<h4><span class="green-text">Don't you worry. We will help you set up to be a Host, Subhost or Event Creator.</span></h4>#}
				<h4>STEP 1: <i>Getting the basics done</i></h4>
				<div class="form-group {{ errors.username ? 'has-error' : '' }}">
					<label for="username">Username</label>
					<div class="input-group">
						<span class="input-group-addon">
							<img src="https://png.icons8.com/windows/20/333333/gender-neutral-user.png">
						</span>
						<input class="form-control input-lg" id="username" type="text" name="username" placeholder="Enter username" value="{{ old.username }}">
					</div>
					{% if errors.username %}
						<span class="help-block">{{ errors.username | first }}</span>
					{% endif %}
				</div>
				<div class="form-group {{ errors.title_name ? 'has-error' : '' }}">
					<label for="title_name">Title</label>
					<div class="input-group">
						<span class="input-group-addon">
							<img src="https://png.icons8.com/windows/20/333333/badge.png">
						</span>
						<select class="form-control input-lg" id="title_name" name="title_name">
							<option disabled selected>Please select...</option>
							<option value="Company">Company</option>
							<option value="Mr.">Mr.</option>
							<option value="Ms.">Ms.</option>
						</select>
					</div>
                    {% if errors.title_name %}
						<span class="help-block">{{ errors.title_name | first }}</span>
                    {% endif %}
				</div>
				<div class="form-group {{ errors.full_name ? 'has-error' : '' }}">
					<label for="full_name">Full Name</label>
					<div class="input-group">
						<span class="input-group-addon">
							<img src="https://png.icons8.com/windows/20/333333/standing-man.png">
						</span>
						<input class="form-control input-lg" id="full_name" type="text" name="full_name" placeholder="Enter full name" value="{{ old.full_name }}">
					</div>
                    {% if errors.full_name %}
                        <span class="help-block">{{ errors.full_name | first }}</span>
                    {% endif %}
				</div>
				<div class="form-group {{ errors.email_address ? 'has-error' : '' }}">
					<label for="email">Email Address</label>
					<div class="input-group">
						<span class="input-group-addon">
							<img src="https://png.icons8.com/windows/20/333333/secured-letter.png">
						</span>
						<input class="form-control input-lg" id="email" type="text" name="email_address" placeholder="Enter email address" value="{{ old.email_address }}">
					</div>
                    {% if errors.email_address %}
                        <span class="help-block">{{ errors.email_address | first }}</span>
                    {% endif %}
				</div>
				<div class="form-group {{ errors.password ? 'has-error' : '' }}">
					<label for="password">Password</label>
					<div class="input-group">
						<span class="input-group-addon">
							<img src="https://png.icons8.com/windows/20/333333/password.png">
						</span>
						<input class="form-control input-lg" id="password" type="password" name="password" placeholder="Enter password" value="{{ old.password }}">
					</div>
                    {% if errors.password %}
                        <span class="help-block">{{ errors.password | first }}</span>
                    {% endif %}
				</div>
				<div class="form-group {{ errors.confirm_password ? 'has-error' : '' }}">
					<label for="confirm_password">Confirm Password</label>
					<div class="input-group">
						<span class="input-group-addon">
							<img src="https://png.icons8.com/windows/20/333333/password1.png">
						</span>
						<input class="form-control input-lg" id="confirm_password" type="password" name="confirm_password" placeholder="Retype password" value="{{ old.confirm_password }}">
					</div>
                    {% if errors.confirm_password %}
                        <span class="help-block">{{ errors.confirm_password | first }}</span>
                    {% endif %}
				</div>
				{#<div class="form-group {{ errors.user_type ? 'has-error' : '' }}">#}
					{#<label>User Type</label><br>#}
					{#<input class="ui-radio" type="radio" id="host" name="user_type" value="host"/>#}
					{#<label for="host">Host</label>#}
					{#<input class="ui-radio" type="radio" id="subhost" name="user_type" value="sub_host"/>#}
					{#<label for="subhost">Sub-host</label>#}
					{#<input class="ui-radio" type="radio" id="event_creator" name="user_type" value="event_creator"/>#}
					{#<label for="event_creator">Event Creator</label>#}
					{#<input class="ui-radio" type="radio" id="host_subhost" name="user_type" value="host_subhost"/>#}
					{#<label for="host_subhost">Host & Subhost</label>#}
                    {#{% if errors.user_type %}#}
                        {#<span class="help-block">{{ errors.user_type | first }}</span>#}
                    {#{% endif %}#}
				{#</div>#}
				<p class="text-justify">By clicking on submit, I agree to Galaspace's <a class="link-color" href="#">Terms Of Service</a> <a class="link-color" href="#">Cancellation Policy</a> <a class="link-color" href="#">Privacy Policy</a></p>
				<button class="btn btn-info btn-custom btn-block" type="submit">Signup</button>
				<br>
				<button class="btn btn-danger btn-custom1 btn-block" type="reset">Reset</button>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="gspace-check-wrapper">
					<img class="img-responsive gspace-img" src="{{base_url()}}/img/gspace_check.png" alt="Galaspace Check">
					<p class="text-center">This is the first step to get you verified as a part of Galaspace!</p>
				</div>
			</div>
		</div>
		{{ csrf.field | raw }}
	</form>
{% endblock %}
