{% extends 'templates/main_container.twig' %}

{% block main %}
<form action="{{path_for('space-overview', {'space_id': space_id})}}" method="post">
    <div id="overview">
        <section class="dashboardOverview"></section>
        <section class="col-lg-6">
            <div class="row">
                <div class="col-lg-3">
                    <h3 id="u"><b><a href="javascript:toggleSubDiv('overview');">Overview</a></b></h3>
                </div>
                <div class="col-lg-3">
                    <h3 id="u"><b><a href="javascript:toggleSubDiv('amenrules');">Amenities & Rules</a></b></h3>
                </div>
                <div class="col-lg-2 ">
                    <h3 id="u"><b><a href="javascript:toggleSubDiv('review');">Review</a></b></h3>
                </div>
                <div class="col-lg-2">
                    <h3 id="u"><b><a href="javascript:toggleSubDiv('location');">Location</a></b></h3>
                </div>
            </div>
            <div class="row">
                {% for i in events %}
                <div id="overview" class="subBox">
                    <div class="row">
                        <div class="col-lg-7 col-lg-push-1">
                            <h3>{{ i.event_name }}</h3>
                            <p><i>Ampang City | Selangor Darul Ehsan</i></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-7 col-lg-push-1">
                            <h4 style="text-align: justify;">{{ i.event_description }}</h4>
                        </div>
                    </div>
                    <br><br>
                    <div class="row">
                        {#logics for first img which is space type#}
                        {% if i.event_type == "Office" %}
                            <div class="col-lg-1 col-lg-push-1">
                                <img src="https://png.icons8.com/ios/50/000000/link-company-parent.png"/>
                                <p>Office</p>
                            </div>
                        {% elseif i.event_type == "Restaurant" %}
                            <div class="col-lg-1 col-lg-push-1">
                                <img src="https://png.icons8.com/ios/50/000000/restaurant.png"/>
                                <p>Restaurant</p>
                            </div>
                        {% elseif i.event_type == "Warehouse" %}
                            <div class="col-lg-1 col-lg-push-1">
                                <img src="https://png.icons8.com/ios/50/000000/warehouse.png"/>
                                <p>Warehouse</p>
                            </div>
                        {% elseif i.event_type == "Personal Space" %}
                            <div class="col-lg-1 col-lg-push-1">
                                <img src="https://png.icons8.com/windows/50/000000/apartment.png"/>
                                <p>Personal Space</p>
                            </div>
                        {% elseif i.event_type == "Studio" %}
                            <div class="col-lg-1 col-lg-push-1">
                                <img src="https://png.icons8.com/ios/50/000000/drafting-compass.png"/>
                                <p>Studio</p>
                            </div>
                        {% elseif i.event_type == "Conference Room" %}
                            <div class="col-lg-1 col-lg-push-1">
                                <img src="https://png.icons8.com/ios/50/000000/groups.png"/>
                                <p>Conference Room</p>
                            </div>
                        {% endif %}
                        {#end logics of space type#}

                        {#logics for second img which is space category#}
                        {% if i.event_category == "Business" %}
                            <div class="col-lg-1 col-lg-push-1">
                                <img src="https://png.icons8.com/ios/50/000000/business.png"/>
                                <p>Business</p>
                            </div>
                        {% elseif i.event_category == "Events" %}
                            <div class="col-lg-1 col-lg-push-1">
                                <img src="https://png.icons8.com/ios/50/000000/party-baloon.png"/>
                                <p>Events</p>
                            </div>
                        {% elseif i.event_category == "Production" %}
                            <div class="col-lg-1 col-lg-push-1">
                                <img src="https://png.icons8.com/ios/50/000000/camcorder-pro.png"/>
                                <p>Production</p>
                            </div>
                        {% endif %}
                        {#end logics of space category#}
                        {% endfor %}
                        {% for k in eventDesc %}
                        {#logics for third img which is max person#}
                            <div class="col-lg-1 col-lg-push-1">
                                <img src="https://png.icons8.com/ios/50/000000/user-group-man-man.png"/>
                                <p>Max {{ k.guest_count }}</p>
                            </div>
                        {#end logics of max person#}

                        {#logics for third img which catering#}
                        <div class="col-lg-1 col-lg-push-1">
                            <img src="https://png.icons8.com/wired/50/000000/service-bell.png"/>
                            <p>{{ k.event_catering }}</p>
                        </div>
                        {#end logics of catering#}
                        {% endfor %}

                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-lg-push-1">
                            <h3><u>About The Space</u></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-7 col-lg-push-1">
                            <h4>Ampang Uptown Lounge Bar provide a unique experience that your event could have. It is sublime place that would be memorable and fulfill the excitement.</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-lg-push-1">
                            {% for z in eventDesc %}
                            <h3>{{ z.event_access }} |{{ z.space_size }} sq ft | {{ z.restroom_count }} washroom</h3>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                {% for j in space %}
                <div id="amenrules" class="subBox">
                    <div class="row">
                        <div class="col-lg-6 col-lg-push-1">
                            <h2><i><u>Amenities</u></i></h2>
                            <ul>
                                {% for i in j.space_amenities |split(',') %}
                                <li>{{ i |trim('"')}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-lg-6" >
                            <h2><i><u>Event Space Rules</u></i></h2>
                            <ul>
                                {% for i in j.space_rule |split(',') %}
                                    <li>{{ i |trim('"')}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <br><br><br>
                    <div class="row">
                        <div class="col-lg-6 col-lg-push-1">
                            <h2><i><u>Accessibility</u></i></h2>
                           <ul>
                               <li>{{ j.space_access }}</li>
                           </ul>
                        </div>
                        <div class="col-lg-6" >
                            <h2><i><u>Cancellations</u></i></h2>
                            {% if j.cancel_type == "Strict" %}
                                <p>Strict - 50% Refund until one (1) week prior to arrival except processing fees </p>
                            {% elseif j.cancel_type == "Flexible" %}
                                <p>Flexible - Full Refund two (2) days prior to arrival except processing fees</p>
                            {% elseif j.cancel_type == "Moderate" %}
                                <p>Moderate - Full six (6) days prior to arrival except processing fees</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                    {% endfor %}
                <div id="review" class="subBox">
                    <div class="row">
                        <div class="col-lg-6 col-lg-push-1">
                            <h2><u>6 Total Reviews</u></h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-lg-push-1" >
                            <h3>Rahman Kabir</h3>
                            <p><i> It was .... </i></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-lg-push-1" >
                            <h3>Overall Review</h3>
                        </div>
                    </div>
                </div>

                <div id="location" class="subBox">
                    <div class="row">
                        <div class="col-lg-6 col-lg-push-1">
                            //implementation of Google Maps API
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="col-lg-6"><br>
        <div class="panel panel-default">
        <div class="panel-heading" style="background-color:#00A99E; ">
        <h3 style="color:white;">RM150 per hour</h3>
        </div>
        <div class="panel-body">
        <div class="row">
        <div class="col-xs-6">
        <h3 style="text-align:center;">Event Type</h3>
        <h4 style="border:1px grey solid;padding:15px;text-align:center;">Event</h4>
        </div>
        <div class="col-xs-6">
        <h3 style="text-align:center;">Date</h3>
        <h4 style="border:1px grey solid;padding:15px;text-align:center;">12/3/2017</h4>
        </div>
        </div>
        <div class="row">
        <div class="col-xs-6">
        <h3 style="text-align:center;">From</h3>
        <h4 style="border:1px grey solid;padding:15px;text-align:center;">12:00 pm</h4>
        </div>
        <div class="col-xs-6">
        <h3 style="text-align:center;">To</h3>
        <h4 style="border:1px grey solid;padding:15px;text-align:center;">3:00 pm</h4>
        </div>
        </div>
        <div class="row">
        <div class="col-xs-12">
        <h3 style="text-align:center;">Guests</h3>
        <h4 style="border:1px grey solid;padding:15px;text-align:center;">200 - 250</h4>
        </div>
        </div>
        </div>
        <div class="panel-footer" style="background-color:#00A99E; ">
        <a href="#"><h3 style="color:white;text-align:center;text-decoration:none;">Book | Contact Host</h3></a>
        </div>
        </div>
        </section>
    </div>
    {{ csrf.field | raw }}
</form>

{% endblock %}
