{% extends 'templates/app.twig' %}

{% block main %}
	<form action="{{path_for('space-pricing', {'space_id': space_id})}}" method="post">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<h3><img src="https://png.icons8.com/windows/35/333333/address.png"> EVENT SPACE PRICING</h3>
				<hr>
				<div class="form-group {{ errors.space_pricing ? 'has-error' : '' }}">
					<label for="space_pricing">Space Pricing (Per Hour)</label>
					<input class="form-control input-lg" id="space_pricing" name="space_pricing" type="text" placeholder="Enter your space pricing per hour"  value="{{ old.space_pricing }}"/>
					{% if errors.space_pricing %}
						<span class="help-block">{{ errors.space_pricing | first }}</span>
					{% endif %}
				</div>
				<div class="form-group {{ errors.space_minimum_hour ? 'has-error' : '' }}">
					<label for="space_minimum_hour">Space Minimum Hours</label>
					<input class="form-control input-lg" id="space_minimum_hour" name="space_minimum_hour" type="text" placeholder="Enter your space minimum hour"  value="{{ old.space_minimum_hour }}"/>
					{% if errors.space_minimum_hour %}
						<span class="help-block">{{ errors.space_minimum_hour | first }}</span>
					{% endif %}
				</div>
				<div class="form-group {{ errors.space_full_day_rate ? 'has-error' : '' }}">
					<label for="space_full_day_rate">Space Full Day Rate</label>
					<input class="form-control input-lg" id="space_full_day_rate" name="space_full_day_rate" type="text" placeholder="Enter your space full day rate"  value="{{ old.space_full_day_rate }}"/>
					{% if errors.space_full_day_rate %}
						<span class="help-block">{{ errors.space_full_day_rate | first }}</span>
					{% endif %}
				</div>
				<div class="form-group {{ errors.space_additional_rate ? 'has-error' : '' }}">
					<label for="space_additional_rate">Space Additional Rate</label>
					<input class="form-control input-lg" id="space_additional_rate" name="space_additional_rate" type="text" placeholder="Enter your space additional rate (optional)"  value="{{ old.space_additional_rate }}"/>
					{% if errors.space_additional_rate %}
						<span class="help-block">{{ errors.space_additional_rate | first }}</span>
					{% endif %}
				</div>

				<button class="btn btn-info btn-custom btn-block" type="submit">Continue</button>
				<button class="btn btn-danger btn-custom1 btn-block" type="reset">Reset</button>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="gspace-check-wrapper">
					<img class="img-responsive gspace-img" src="https://png.icons8.com/wired/250/1abc9c/term.png" alt="Galaspace Rules">
					<p class="text-center"><i>Make your event space's pricing is reasonable that provides sublime amenities. However, the number of
					searches will change listings (up and down) depending on pricing</i></p>
				</div>
			</div>
		</div>
		{{ csrf.field | raw }}
	</form>
{% endblock %}
