{% extends 'templates/app.twig' %}

{% block main %}
	<form action="{{path_for('space-rules', {'space_id': space_id})}}" method="post">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<h3><img src="https://png.icons8.com/windows/35/333333/rules.png"> EVENT SPACE RULES</h3>
				<hr>
				<div class="form-group">
					<input type="checkbox" id="no-smoking" name="space_rules[]" value="No Smoking" class="ui-checkbox"/>
					<label for="no-smoking">No Smoking</label> 
					<input type="checkbox" id="no-smoking-outside" name="space_rules[]" value="No Smoking Outside" class="ui-checkbox"/>
					<label for="no-smoking-outside">No Smoking Outside</label><br><br>
					<input type="checkbox" id="no-alcohol" name="space_rules[]" value="No Alcohol" class="ui-checkbox"/>
					<label for="no-alcohol">No Alcohol</label>&nbsp;&nbsp;
					<input type="checkbox" id="no-children" name="space_rules[]" value="No Children" class="ui-checkbox" />
					<label for="no-children">No Children</label><br><br>
					<input type="checkbox" id="no-pets" name="space_rules[]" value="No Pets" class="ui-checkbox"/>
					<label for="no-pets">No Pets</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="checkbox" id="no-teenagers" name="space_rules[]" value="No Teenagers" class="ui-checkbox" />
					<label for="no-teenagers">No Teenagers (13-18)</label><br><br>
					<input type="checkbox" id="no-music" name="space_rules[]" value="No Music" class="ui-checkbox"/>
					<label for="no-music">No Music</label>&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="checkbox" id="no-loudmusic-dance" name="space_rules[]" value="No Loud Music/Dancing" class="ui-checkbox"/>
					<label for="no-loudmusic-dance">No Loud Music/Dancing</label>
				</div>
				<hr>
				<h3><img src="https://png.icons8.com/windows/35/333333/service-bell.png"> CATERING</h3>
				<div class="form-group">
					<input type="checkbox" id="in-house" name="catering[]" value="In House Catering" class="ui-checkbox"/>
					<label for="in-house">In House Catering</label>&nbsp;&nbsp;&nbsp;&nbsp;
					
					<input type="checkbox" id="external-catering" name="catering[]" value="External Catering" class="ui-checkbox"/>
					<label for="external-catering">External Catering</label>
				</div>
				<button class="btn btn-info btn-custom btn-block" type="submit">Continue</button>
				<br>
				<button class="btn btn-danger btn-custom1 btn-block" type="reset">Reset</button>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="gspace-check-wrapper">
					<img class="img-responsive gspace-img" src="{{base_url()}}/img/gspace_term.png" alt="Galaspace Term">
					<p class="text-center">Your event space, your rule in your fingertip.</p>
				</div>
			</div>
		</div>
		{{ csrf.field | raw }}
	</form>
{% endblock %}