{% extends 'templates/app.twig' %}

{% block main %}
	<form class="space-availability" action="{{ path_for('space-availability', {'space_id': space_id}) }}" method="post">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<h3><img src="https://png.icons8.com/windows/35/333333/calendar.png">Availability</h3>
				<hr>
				<h3>Schedule your time.</h3>
				<!-- Monday Start -->
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="form-group {{ errors.monday_from ? 'has-error' : '' }}">
							<label for="monday-from">Monday From</label>
							<input type="text" class="form-control input-lg available-time" id="monday-from" name="monday_from" placeholder="Enter time" value="{{ old.monday_from }}"/>
							{% if errors.monday_from %}
								<span class="help-block">{{ errors.monday_from | first }}</span>
							{% endif %}
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="form-group {{ errors.monday_to ? 'has-error' : '' }}">
							<label for="monday-to">Monday To</label>
							<input type="text" class="form-control input-lg available-time" id="monday-to" name="monday_to" placeholder="Enter time" value="{{ old.monday_to }}"/>
							{% if errors.monday_to %}
								<span class="help-block">{{ errors.monday_to | first }}</span>
							{% endif %}
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="form-group" style="margin-top: 33px;">
							<input type="checkbox" id="monday-closed" name="monday_close" class="ui-checkbox day-closed" value="Monday Closed"/>
							<label for="monday-closed">Closed</label>
						</div>
					</div>
				</div>
				<!-- Monday End -->

				<!-- Tuesday Start -->
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="form-group {{ errors.tuesday_from ? 'has-error' : '' }}">
							<label for="tuesday-from">Tuesday From</label>
							<input type="text" class="form-control input-lg available-time" id="tuesday-from" name="tuesday_from" placeholder="Enter time" value="{{ old.tuesday_from }}"/>
							{% if errors.tuesday_from %}
								<span class="help-block">{{ errors.tuesday_from | first }}</span>
							{% endif %}
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="form-group {{ errors.tuesday_to ? 'has-error' : '' }}">
							<label for="tuesday-to">Tuesday To</label>
							<input type="text" class="form-control input-lg available-time" id="tuesday-to" name="tuesday_to" placeholder="Enter time" value="{{ old.tuesday_to }}"/>
							{% if errors.tuesday_to %}
								<span class="help-block">{{ errors.tuesday_to | first }}</span>
							{% endif %}
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="form-group" style="margin-top: 33px;">
							<input type="checkbox" id="tuesday-closed" name="tuesday_close" class="ui-checkbox day-closed" value="Tuesday Closed"/>
							<label for="tuesday-closed">Closed</label>
						</div>
					</div>
				</div>
				<!-- Tuesday End -->

				<!-- Wednesday Start -->
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="form-group {{ errors.wednesday_from ? 'has-error' : '' }}">
							<label for="wednesday-from">Wednesday From</label>
							<input type="text" class="form-control input-lg available-time" id="wednesday-from" name="wednesday_from" placeholder="Enter time" value="{{ old.wednesday_from }}"/>
							{% if errors.wednesday_from %}
								<span class="help-block">{{ errors.wednesday_from | first }}</span>
							{% endif %}
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="form-group {{ errors.wednesday_to ? 'has-error' : '' }}">
							<label for="wednesday-to">Wednesday To</label>
							<input type="text" class="form-control input-lg available-time" id="wednesday-to" name="wednesday_to" placeholder="Enter time" value="{{ old.wednesday_to }}"/>
							{% if errors.wednesday_to %}
								<span class="help-block">{{ errors.wednesday_to | first }}</span>
							{% endif %}
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="form-group" style="margin-top: 33px;">
							<input type="checkbox" id="wednesday-closed" name="wednesday_close" class="ui-checkbox day-closed" value="Wednesday Closed"/>
							<label for="wednesday-closed">Closed</label>
						</div>
					</div>
				</div>
				<!-- Wednesday End -->

				<!-- Thursday Start -->
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="form-group {{ errors.thursday_from ? 'has-error' : '' }}">
							<label for="thursday-from">Thursday From</label>
							<input type="text" class="form-control input-lg available-time" id="thursday-from" name="thursday_from" placeholder="Enter time" value="{{ old.thursday_from }}"/>
							{% if errors.thursday_from %}
								<span class="help-block">{{ errors.thursday_from | first }}</span>
							{% endif %}
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="form-group {{ errors.thursday_to ? 'has-error' : '' }}">
							<label for="thursday-to">Thursday To</label>
							<input type="text" class="form-control input-lg available-time" id="thursday-to" name="thursday_to" placeholder="Enter time" value="{{ old.thursday_to }}"/>
							{% if errors.thursday_to %}
								<span class="help-block">{{ errors.thursday_to | first }}</span>
							{% endif %}
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="form-group" style="margin-top: 33px;">
							<input type="checkbox" id="thursday-closed" name="thursday_close" class="ui-checkbox day-closed" value="Thursday Closed"/>
							<label for="thursday-closed">Closed</label>
						</div>
					</div>
				</div>
				<!-- Thursday End -->

				<!-- Friday Start -->
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="form-group {{ errors.friday_from ? 'has-error' : '' }}">
							<label for="friday-from">Friday From</label>
							<input type="text" class="form-control input-lg available-time" id="friday-from" name="friday_from" placeholder="Enter time" value="{{ old.friday_from }}"/>
							{% if errors.friday_from %}
								<span class="help-block">{{ errors.friday_from | first }}</span>
							{% endif %}
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="form-group {{ errors.friday_to ? 'has-error' : '' }}">
							<label for="friday-to">Friday To</label>
							<input type="text" class="form-control input-lg available-time" id="friday-to" name="friday_to" placeholder="Enter time" value="{{ old.friday_to }}"/>
							{% if errors.friday_to %}
								<span class="help-block">{{ errors.friday_to | first }}</span>
							{% endif %}
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="form-group" style="margin-top: 33px;">
							<input type="checkbox" id="friday-closed" name="friday_close" class="ui-checkbox day-closed" value="Friday Closed"/>
							<label for="friday-closed">Closed</label>
						</div>
					</div>
				</div>
				<!-- Friday End -->

				<!-- Saturday Start -->
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="form-group {{ errors.saturday_from ? 'has-error' : '' }}">
							<label for="saturday-from">Saturday From</label>
							<input type="text" class="form-control input-lg available-time" id="saturday-from" name="saturday_from" placeholder="Enter time" value="{{ old.saturday_from }}"/>
							{% if errors.saturday_from %}
								<span class="help-block">{{ errors.saturday_from | first }}</span>
							{% endif %}
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="form-group {{ errors.saturday_to ? 'has-error' : '' }}">
							<label for="saturday-to">Saturday To</label>
							<input type="text" class="form-control input-lg available-time" id="saturday-to" name="saturday_to" placeholder="Enter time" value="{{ old.saturday_to }}"/>
							{% if errors.saturday_to %}
								<span class="help-block">{{ errors.saturday_to | first }}</span>
							{% endif %}
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="form-group" style="margin-top: 33px;">
							<input type="checkbox" id="saturday-closed" name="saturday_close" class="ui-checkbox day-closed" value="Saturday Closed"/>
							<label for="saturday-closed">Closed</label>
						</div>
					</div>
				</div>
				<!-- Saturday End -->

				<!-- Sunday Start -->
				<div class="row">
                					<div class="col-lg-4 col-md-4 col-sm-4">
                						<div class="form-group {{ errors.sunday_from ? 'has-error' : '' }}">
                							<label for="sunday-from">Sunday From</label>
                							<input type="text" class="form-control input-lg available-time" id="sunday-from" name="sunday_from" placeholder="Enter time" value="{{ old.sunday_from }}"/>
                							{% if errors.sunday_from %}
                								<span class="help-block">{{ errors.sunday_from | first }}</span>
                							{% endif %}
                						</div>
                					</div>
                					<div class="col-lg-4 col-md-4 col-sm-4">
                						<div class="form-group {{ errors.sunday_to ? 'has-error' : '' }}">
                							<label for="sunday-to">Sunday To</label>
                							<input type="text" class="form-control input-lg available-time" id="sunday-to" name="sunday_to" placeholder="Enter time" value="{{ old.sunday_to }}"/>
                							{% if errors.sunday_to %}
                								<span class="help-block">{{ errors.sunday_to | first }}</span>
                							{% endif %}
                						</div>
                					</div>
                					<div class="col-lg-4 col-md-4 col-sm-4">
                						<div class="form-group" style="margin-top: 33px;">
                							<input type="checkbox" id="sunday-closed" name="sunday_close" class="ui-checkbox day-closed" value="Sunday Closed"/>
                							<label for="sunday-closed">Closed</label>
                						</div>
                					</div>
                				</div>
				<!-- Sunday End -->

				<button class="btn btn-info btn-custom btn-block" type="submit">Continue</button>
				<br>
				<button class="btn btn-danger btn-custom1 btn-block" type="reset">Reset</button>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="gspace-check-wrapper">
					<img class="img-responsive gspace-img" src="{{base_url()}}/img/gspace_time.png" alt="Galaspace Time">
					<p class="text-center">The event creator may able to view your availability of your event space in a week!</p>
				</div>
			</div>
		</div>
		{{ csrf.field | raw }}
	</form>
{% endblock %}

{% block availability_time %}
	<script>
		$(".available-time").bootstrapMaterialDatePicker({
			date: false,
			format: 'HH:mm',
		});
	</script>
{% endblock %}


{% block days_closed %}
<script>

	$(".space-availability").submit(function() {
		var counter = 0;

		if ($("#monday-from").val() == "" || $("#monday-to").val() == "") {
			$("#monday-from").css('border', '1px solid #a94442');
			$("#monday-to").css('border', '1px solid #a94442');
		} else {
			counter += 1;
			$("#monday-from").css('border', '1px solid #ddd');
			$("#monday-to").css('border', '1px solid #ddd');
		}

		if ($("#tuesday-from").val() == "" || $("#tuesday-to").val() == "") {
			$("#tuesday-from").css('border', '1px solid #a94442');
			$("#tuesday-to").css('border', '1px solid #a94442');
		} else {
			counter += 1;
			$("#tuesday-from").css('border', '1px solid #ddd');
			$("#tuesday-to").css('border', '1px solid #ddd');
		}

		if ($("#wednesday-from").val() == "" || $("#wednesday-to").val() == "") {
			$("#wednesday-from").css('border', '1px solid #a94442');
			$("#wednesday-to").css('border', '1px solid #a94442');
		} else {
			counter += 1;
			$("#wednesday-from").css('border', '1px solid #ddd');
			$("#wednesday-to").css('border', '1px solid #ddd');
		}

		if ($("#thursday-from").val() == "" || $("#thursday-to").val() == "") {
			$("#thursday-from").css('border', '1px solid #a94442');
			$("#thursday-to").css('border', '1px solid #a94442');
		} else {
			counter += 1;
			$("#thursday-from").css('border', '1px solid #ddd');
			$("#thursday-to").css('border', '1px solid #ddd');
		}

		if ($("#friday-from").val() == "" || $("#friday-to").val() == "") {
			$("#friday-from").css('border', '1px solid #a94442');
			$("#friday-to").css('border', '1px solid #a94442');
		} else {
			counter += 1;
			$("#friday-from").css('border', '1px solid #ddd');
			$("#friday-to").css('border', '1px solid #ddd');
		}

		if ($("#saturday-from").val() == "" || $("#saturday-to").val() == "") {
			$("#saturday-from").css('border', '1px solid #a94442');
			$("#saturday-to").css('border', '1px solid #a94442');
		} else {
			counter += 1;
			$("#saturday-from").css('border', '1px solid #ddd');
			$("#saturday-to").css('border', '1px solid #ddd');
		}

		if ($("#sunday-from").val() == "" || $("#sunday-to").val() == "") {
			$("#sunday-from").css('border', '1px solid #a94442');
			$("#sunday-to").css('border', '1px solid #a94442');
		} else {
			counter += 1;
			$("#sunday-from").css('border', '1px solid #ddd');
			$("#sunday-to").css('border', '1px solid #ddd');
		}

		// the last condition
		if (counter == 7) {
			return true;
		} else {
			return false;
		}
	});


	$('.day-closed').click(function() {
		$('.day-closed:checked').each(function() {
			console.log($(this).val());
		})
	});

	$("#monday-closed").click(function() {
		if ($(this).is(":checked")) {
			$("#monday-from").val("Closed");
			$("#monday-from").attr('disabled', "true");

			$("#monday-to").val("Closed");
			$("#monday-to").attr('disabled', "true");
		} else {
			$("#monday-from").val("");
			$("#monday-from").removeAttr("disabled");
			$("#monday-to").val("");
			$("#monday-to").removeAttr("disabled");
		}
	});

	$("#tuesday-closed").click(function() {
		if ($(this).is(":checked")) {
			$("#tuesday-from").val("Closed");
			$("#tuesday-from").attr('disabled', "true");

			$("#tuesday-to").val("Closed");
			$("#tuesday-to").attr('disabled', "true");
		} else {
			$("#tuesday-from").val("");
			$("#tuesday-from").removeAttr("disabled");
			$("#tuesday-to").val("");
			$("#tuesday-to").removeAttr("disabled");
		}
	});

	$("#wednesday-closed").click(function() {
		if ($(this).is(":checked")) {
			$("#wednesday-from").val("Closed");
			$("#wednesday-from").attr('disabled', "true");

			$("#wednesday-to").val("Closed");
			$("#wednesday-to").attr('disabled', "true");
		} else {
			$("#wednesday-from").val("");
			$("#wednesday-from").removeAttr("disabled");
			$("#wednesday-to").val("");
			$("#wednesday-to").removeAttr("disabled");
		}
	});

	$("#thursday-closed").click(function() {
		if ($(this).is(":checked")) {
			$("#thursday-from").val("Closed");
			$("#thursday-from").attr('disabled', "true");

			$("#thursday-to").val("Closed");
			$("#thursday-to").attr('disabled', "true");
		} else {
			$("#thursday-from").val("");
			$("#thursday-from").removeAttr("disabled");
			$("#thursday-to").val("");
			$("#thursday-to").removeAttr("disabled");
		}
	});

	$("#friday-closed").click(function() {
		if ($(this).is(":checked")) {
			$("#friday-from").val("Closed");
			$("#friday-from").attr('disabled', "true");

			$("#friday-to").val("Closed");
			$("#friday-to").attr('disabled', "true");
		} else {
			$("#friday-from").val("");
			$("#friday-from").removeAttr("disabled");
			$("#friday-to").val("");
			$("#friday-to").removeAttr("disabled");
		}
	});


	$("#saturday-closed").click(function() {
		if ($(this).is(":checked")) {
			$("#saturday-from").val("Closed");
			$("#saturday-from").attr('disabled', "true");

			$("#saturday-to").val("Closed");
			$("#saturday-to").attr('disabled', "true");
		} else {
			$("#saturday-from").val("");
			$("#saturday-from").removeAttr("disabled");
			$("#saturday-to").val("");
			$("#saturday-to").removeAttr("disabled");
		}
	});

	$("#sunday-closed").click(function() {
    		if ($(this).is(":checked")) {
    			$("#sunday-from").val("Closed");
    			$("#sunday-from").attr('disabled', "true");

    			$("#sunday-to").val("Closed");
    			$("#sunday-to").attr('disabled', "true");
    		} else {
    			$("#sunday-from").val("");
    			$("#sunday-from").removeAttr("disabled");
    			$("#sunday-to").val("");
    			$("#sunday-to").removeAttr("disabled");
    		}
    	});
</script>
{% endblock %}
