{% extends 'templates/app.twig' %}

{% block main %}
	<form action="{{ path_for('space-image', {'space_id': space_id}) }}" method="post" enctype="multipart/form-data">
	{{ csrf.field | raw }}
		<div class="row">
                <div class="col-lg-6 col-md-6">
                    <h3><img src="https://png.icons8.com/windows/35/333333/full-image.png"> Space Image</h3>
                    <hr>
                    <h3>Add photos of your event space in style</h3>
                    <p><b>Note:</b> You can add up to 8 photos. Your first photo will be used for the main photo.</p>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6  space-img-container1">
							<img class="img-responsive space-img" id="space-img1" src="{{base_url()}}/img/placeholder.png" alt="Space Image"/>
							<img class="fa fa-camera space-upload-btn" id="space-upload-btn1" data-toggle="tooltip" title="Upload Space Image" data-placement="bottom" src="https://png.icons8.com/windows/35/333333/camera.png">
							<input class="space-photo" id="space-photo1" type="file" name="space_photo[]"/>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 space-img-container2">
							<img class="img-responsive space-img" id="space-img2" src="{{base_url()}}/img/placeholder.png" alt="Space Image"/>
							<img class="fa fa-camera space-upload-btn" id="space-upload-btn2" data-toggle="tooltip" title="Upload Space Image" data-placement="bottom" src="https://png.icons8.com/windows/35/333333/camera.png">
							<input class="space-photo" id="space-photo2" type="file" name="space_photo[]"/>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 space-img-container3">
							<img class="img-responsive space-img" id="space-img3" src="{{base_url()}}/img/placeholder.png" alt="Space Image"/>
							<img class="fa fa-camera space-upload-btn" id="space-upload-btn3" data-toggle="tooltip" title="Upload Space Image" data-placement="bottom" src="https://png.icons8.com/windows/35/333333/camera.png">
							<input class="space-photo" id="space-photo3" type="file" name="space_photo[]"/>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 space-img-container4">
							<img class="img-responsive space-img" id="space-img4" src="{{base_url()}}/img/placeholder.png" alt="Space Image"/>
							<img class="fa fa-camera space-upload-btn" id="space-upload-btn4" data-toggle="tooltip" title="Upload Space Image" data-placement="bottom" src="https://png.icons8.com/windows/35/333333/camera.png">
							<input class="space-photo" id="space-photo4" type="file" name="space_photo[]"/>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 space-img-container5">
							<img class="img-responsive space-img" id="space-img5" src="{{base_url()}}/img/placeholder.png" alt="Space Image"/>
							<img class="fa fa-camera space-upload-btn" id="space-upload-btn5" data-toggle="tooltip" title="Upload Space Image" data-placement="bottom" src="https://png.icons8.com/windows/35/333333/camera.png">
							<input class="space-photo" id="space-photo5" type="file" name="space_photo[]"/>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 space-img-container6">
							<img class="img-responsive space-img" id="space-img6" src="{{base_url()}}/img/placeholder.png" alt="Space Image"/>
							<img class="fa fa-camera space-upload-btn" id="space-upload-btn6" data-toggle="tooltip" title="Upload Space Image" data-placement="bottom" src="https://png.icons8.com/windows/35/333333/camera.png">
							<input class="space-photo" id="space-photo6" type="file" name="space_photo[]"/>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 space-img-container7">
							<img class="img-responsive space-img" id="space-img7" src="{{base_url()}}/img/placeholder.png" alt="Space Image"/>
							<img class="fa fa-camera space-upload-btn" id="space-upload-btn7" data-toggle="tooltip" title="Upload Space Image" data-placement="bottom" src="https://png.icons8.com/windows/35/333333/camera.png">
							<input class="space-photo" id="space-photo7" type="file" name="space_photo[]"/>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 space-img-container8">
							<img class="img-responsive space-img" id="space-img8" src="{{base_url()}}/img/placeholder.png" alt="Space Image"/>
							<img class="fa fa-camera space-upload-btn" id="space-upload-btn8" data-toggle="tooltip" title="Upload Space Image" data-placement="bottom" src="https://png.icons8.com/windows/35/333333/camera.png">
							<input class="space-photo" id="space-photo8" type="file" name="space_photo[]"/>
						</div>
					</div>
					<a class="green-text add-photo" href="javascript:void(0)"><img src="https://png.icons8.com/windows/35/00a99d/plus-2-math.png"> Add Photo</a>
                    <br><br>
                    <button class="btn btn-info btn-custom btn-block" type="submit">Continue</button>
                    <button class="btn btn-danger btn-custom1 btn-block" type="reset">Reset</button>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="gspace-check-wrapper">
                        <img class="img-responsive gspace-img" src="{{base_url()}}/img/gspace_notebook.png" alt="Description">
                        <p class="text-center">Your event space can get verified us by applying a verification and the service is free! that is taken by our professional photographers</p>
                    </div>
                </div>
        	</div>
	</form>
{% endblock %}

{% block space_image_upload %}
	<script>

	$('.space-img-container1').hide();
	$('.space-img-container2').hide();
	$('.space-img-container3').hide();
	$('.space-img-container4').hide();
	$('.space-img-container5').hide();
	$('.space-img-container6').hide();
	$('.space-img-container7').hide();
	$('.space-img-container8').hide();

	var counter = 0;
	$('.add-photo').click(function() {
		counter += 1;

		if (counter == 1) {
			$('.space-img-container1').show();
		} else if (counter == 2) {
			$('.space-img-container2').show();
		} else if (counter == 3) {
			$('.space-img-container3').show();
		} else if (counter == 4) {
			$('.space-img-container4').show();
		} else if (counter == 5) {
			$('.space-img-container5').show();
		} else if (counter == 6) {
			$('.space-img-container6').show();
		} else if (counter == 7) {
			$('.space-img-container7').show();
		} else if (counter == 8) {
			$('.space-img-container8').show();
		} else if (counter > 8) {
			swal({
				type: 'warning',
				title: 'Warning',
				text: 'Can\'t add pictures anymore. Maximum of 8 photos reached!',
				confirmButtonColor: "#00a99d",
			});
			$('#myprofile-submit').html('Update');
		}
	});

	// Space Image 1
		var space_image1 = function(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function (e) {
					$('#space-img1').attr('src', e.target.result);
				}

				reader.readAsDataURL(input.files[0]);
			}
		}

		$("#space-photo1").on('change', function(){
			space_image1(this);
		});

		$("#space-upload-btn1").on('click', function() {
		    e.stopPropagation();
		   $("#space-photo1").click();
		});

	// End of Space Image 1

	// Space Image 2
		var space_image2 = function(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function (e) {
					$('#space-img2').attr('src', e.target.result);
				}

				reader.readAsDataURL(input.files[0]);
			}
		}

		$("#space-photo2").on('change', function(){
			space_image2(this);
		});

		$("#space-upload-btn2").on('click', function() {
		   $("#space-photo2").click();
		});
	// End of Space Image 2

	// Space Image 3
		var space_image3 = function(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function (e) {
					$('#space-img3').attr('src', e.target.result);
				}

				reader.readAsDataURL(input.files[0]);
			}
		}

		$("#space-photo3").on('change', function(){
			space_image3(this);
		});

		$("#space-upload-btn3").on('click', function() {
		   $("#space-photo3").click();
		});
	// End of Space Image 3

	// Space Image 4
		var space_image4 = function(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function (e) {
					$('#space-img4').attr('src', e.target.result);
				}

				reader.readAsDataURL(input.files[0]);
			}
		}

		$("#space-photo4").on('change', function(){
			space_image4(this);
		});

		$("#space-upload-btn4").on('click', function() {
		   $("#space-photo4").click();
		});
	// End of Space Image 4

	// Space Image 5
		var space_image5 = function(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function (e) {
					$('#space-img5').attr('src', e.target.result);
				}

				reader.readAsDataURL(input.files[0]);
			}
		}

		$("#space-photo5").on('change', function(){
			space_image5(this);
		});

		$("#space-upload-btn5").on('click', function() {
		   $("#space-photo5").click();
		});
	// End of Space Image 5

	// Space Image 6
		var space_image6 = function(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function (e) {
					$('#space-img6').attr('src', e.target.result);
				}

				reader.readAsDataURL(input.files[0]);
			}
		}

		$("#space-photo6").on('change', function(){
			space_image6(this);
		});

		$("#space-upload-btn6").on('click', function() {
		   $("#space-photo6").click();
		});
	// End of Space Image 6

	// Space Image 7
		var space_image7 = function(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function (e) {
					$('#space-img7').attr('src', e.target.result);
				}

				reader.readAsDataURL(input.files[0]);
			}
		}

		$("#space-photo7").on('change', function(){
			space_image7(this);
		});

		$("#space-upload-btn7").on('click', function() {
		   $("#space-photo7").click();
		});
	// End of Space Image 7

	// Space Image 8
		var space_image8 = function(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function (e) {
					$('#space-img8').attr('src', e.target.result);
				}

				reader.readAsDataURL(input.files[0]);
			}
		}

		$("#space-photo8").on('change', function(){
			space_image8(this);
		});

		$("#space-upload-btn8").on('click', function() {
		   $("#space-photo8").click();
		});
	// End of Space Image 8
	</script>
{% endblock %}
