{% extends 'templates/app.twig' %}

{% block main %}
	<form action="{{path_for('space-amenities', {'space_id': space_id})}}" method="post">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<h3><img src="https://png.icons8.com/windows/35/333333/heating-room.png"> EVENT SPACE AMENITIES</h3>
				<hr>
				<div class="form-group">
					<label>Select all the amenities you need and we will provide it for you.</label><br>
					<!-- It must be  -->
					<input type="checkbox" id="air-condition" name="space_amenities[]" class="ui-checkbox amenities" value="Air Condition"/>
					<label for="air-condition">Air Condition</label>&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="checkbox" id="natural-light" name="space_amenities[]" class="ui-checkbox amenities" value="Natural Light"/>
					<label for="natural-light">Natural Light</label><br><br>
					<input type="checkbox" id="stage" name="space_amenities[]" class="ui-checkbox amenities" value="Stage"/>
					<label for="stage">Stage</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="checkbox" id="heat" name="space_amenities[]" class="ui-checkbox amenities" value="Heat"/>
					<label for="heat">Heat</label><br><br>
					<input type="checkbox" id="projector" name="space_amenities[]" class="ui-checkbox amenities" value="Projector"/>
					<label for="projector">Projector</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="checkbox" id="wifi" name="space_amenities[]" class="ui-checkbox amenities" value="Wifi"/>
					<label for="wifi">Wifi</label> <br><br>
					<input type="checkbox" id="sound-system" name="space_amenities[]" class="ui-checkbox amenities" value="Sound System"/>
					<label for="sound-system">Sound System</label>&nbsp;&nbsp;
					<input type="checkbox" id="tv" name="space_amenities[]" class="ui-checkbox amenities" value="TV"/>
					<label for="tv">TV</label><br><br>
					<input type="checkbox" id="no-smoking" name="space_amenities[]" class="ui-checkbox amenities" value="No Smoking"/>
					<label for="no-smoking">No Smoking</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="checkbox" id="smoking-area" name="space_amenities[]" class="ui-checkbox amenities" value="Smoking Area"/>
					<label for="smoking-area">Smoking Area</label><br><br>
					<input type="checkbox" id="rooftop" name="space_amenities[]" class="ui-checkbox amenities" value="Rooftop"/>
					<label for="rooftop">Rooftop</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="checkbox" id="microphone" name="space_amenities[]" class="ui-checkbox amenities" value="Microphone"/>
					<label for="microphone">Microphone</label><br><br>
				</div>
				<button class="btn btn-info btn-custom btn-block" type="submit">Continue</button>
				<br>
				<button class="btn btn-danger btn-custom1 btn-block" type="reset">Reset</button>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="gspace-check-wrapper">
					<img class="img-responsive gspace-img" src="{{base_url()}}/img/gspace_amenities.jpg" alt="Galaspace Reset">
					<p class="text-center">By providing the amenities, the event creator will  able to prepare in advance on what kind of amenities you've provided.</p>
				</div>
			</div>
		</div>
		{{ csrf.field | raw }}
	</form>
{% endblock %}

{% block select_amenities %}
<script>
	$('.amenities').click(function() {
		$('.amenities:checked').each(function() {
			console.log($(this).val());
		})
	});
</script>
{% endblock %}
