{% extends 'templates/app.twig' %}

{% block main %}
	<form action="{{path_for('space-details', {'space_id': space_id})}}" method="post">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<h3><img src="https://png.icons8.com/windows/35/333333/apartment.png"> EVENT SPACE DETAILS AND ACCOMODATION</h3>
				<hr>
				<div class="form-group {{ errors.space_guest ? 'has-error' : '' }}">
					<label for="space_guest">Guest Count</label>
					<input class="form-control input-lg" id="space_guest" name="space_guest" type="number" placeholder="Maximum number of guests"  value="{{ old.space_guest }}"/>
					{% if errors.space_guest %}
						<span class="help-block">{{ errors.space_guest | first }}</span>
					{% endif %}
				</div>
				<div class="form-group {{ errors.space_size ? 'has-error' : '' }}">
					<label for="space_size">Event's Space Size (sq ft.)</label>
					<input class="form-control input-lg" id="space_size" name="space_size" type="number" placeholder="Enter space size" value="{{ old.space_size }}"/>
					{% if errors.space_size %}
						<span class="help-block">{{ errors.space_size | first }}</span>
					{% endif %}
				</div>
				<div class="form-group {{ errors.space_restroom ? 'has-error' : '' }}">
					<label for="space_restroom">Restroom Count</label>
					<input class="form-control input-lg" id="space_restroom" name="space_restroom" type="number" placeholder="Enter restroom count" value="{{ old.space_restroom }}"/>
					{% if errors.space_restroom %}
						<span class="help-block">{{ errors.space_restroom | first }}</span>
					{% endif %}
				</div>

				<div class="form-group {{ errors.space_access ? 'has-error' : '' }}">
					<label>How guests are able to access your event space?</label><br>
					<input type="radio" id="elevator" name="space_access" class="ui-radio" value="Elevator" checked/>
					<label for="elevator">Elevator</label>
					<input type="radio" id="events" name="space_access" class="ui-radio" value="Events"/>
					<label for="events">Events</label>
					<input type="radio" id="sitecar_park" name="space_access" class="ui-radio" value="Sitecar Park"/>
					<label for="sitecar_park">On Site Car Park</label>
					<input type="radio" id="nearbycar_park" name="space_access" class="ui-radio" value="Nearby Car Park"/>
					<label for="nearbycar_park">Nearby Car Park</label>
					{% if errors.space_access %}
						<span class="help-block">{{ errors.space_access | first }}</span>
					{% endif %}
				</div>
				<button class="btn btn-info btn-custom btn-block" type="submit">Continue</button>
				<br>
				<button class="btn btn-danger btn-custom1 btn-block" type="reset">Reset</button>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="gspace-check-wrapper">
					<img class="img-responsive gspace-img" src="{{base_url()}}/img/gspace_type.png" alt="Galaspace Reset">
					<p class="text-center">The event space's details is really important as it may takes an effort for event creator to further the plans successfully.</p>
				</div>
			</div>
		</div>
		{{ csrf.field | raw }}
	</form>
{% endblock %}
