{% extends 'templates/app.twig' %}

{% block main %}
	<form action="{{ path_for('space-description', {'space_id': space_id}) }}" method="post">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<h3><img src="https://png.icons8.com/windows/35/333333/document.png"> SPACE OVERVIEW DESCRIPTION</h3>
				<hr>
				<h3>A brief description of your event space</h3>
				<div class="form-group {{ errors.space_description ? 'has-error' : '' }}">
					<label for="space_description">Space Description</label>
					<textarea class="form-control input-lg" id="space-description" name="space_description" placeholder="Enter your space description" rows="8" cols="80" value="{{ old.space_description}}"></textarea>
					{% if errors.space_description %}
						<span class="help-block">{{ errors.space_description | first }}</span>
					{% endif %}
				</div>

				<h3>Tell event creators about your event space known for</h3>
				<div class="form-group {{ errors.space_known ? 'has-error' : '' }}">
					<input type="radio" id="modern" name="space_known" class="ui-radio" value="modern" checked/>
					<label for="modern">Modern</label>
					<input type="radio" id="classic" name="space_known" class="ui-radio" value="classic"/>
					<label for="classic">Classic</label>
					<input type="radio" id="tall-ceilings" name="space_known" class="ui-radio" value="tall_ceilings"/>
					<label for="tall-ceilings">Tall Ceilings</label><br><br>
					<input type="radio" id="old-school" name="space_known" class="ui-radio" value="old_school"/>
					<label for="old-school">Old School</label>
					<input type="radio" id="cozy" name="space_known" class="ui-radio" value="cozy"/>
					<label for="cozy">Cozy</label>
					<input type="radio" id="classy" name="space_known" class="ui-radio" value="classy"/>
					<label for="classy">Classy</label><br><br>
					<input type="radio" id="trendy" name="space_known" class="ui-radio" value="trendy"/>
					<label for="trendy">Trendy</label>
					{% if errors.space_known %}
						<span class="help-block">{{ errors.space_known | first }}</span>
					{% endif %}
				</div>
				<button class="btn btn-info btn-custom btn-block" type="submit">Continue</button>
				<br>
				<button class="btn btn-danger btn-custom1 btn-block" type="reset">Reset</button>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="gspace-check-wrapper">
					<img class="img-responsive gspace-img" src="{{base_url()}}/img/gspace_notebook.png" alt="Description">
					<p class="text-center">Impress event creator about your event space overview description. This will get event creator a general information of the events before getting to details</p>
				</div>
			</div>
		</div>
		{{ csrf.field | raw }}
	</form>
{% endblock %}
