{% extends 'templates/app.twig' %}

{% block main %}
	<form class="text-justify"  action="{{path_for('space-law', {'space_id': space_id})}}" method="post">
		<div class="row">
          <div class="col-lg-6 col-md-6">
            <h3><img src="https://png.icons8.com/windows/35/333333/law.png"> Your Local Laws and Taxes</h3><hr>
			<h4>Make sure you familiarize yourself with your local laws, as well as Galaspace policy.</h4>
			<p>&bull; Please be aware of your local laws in your jurisdiction before listing on Galaspace</p>
			<p>&bull; Most cities have rules. Hence, it's safe to register a permit or obtain a license before you get the bookings and listing.
            You may also be responsible for collecting and remitting certain taxes.</p>
			<p>&bull; As you are one of subhosts' on Galaspace, you are responsible for your own decisions on bookings and listing.</p>
			<p>&bull; By accepting our Terms and Service and listing your services, you certify that you follow our applicable laws and regulations.</p>
              <button class="btn btn-info btn-custom btn-block submit-review" type="submit">Submit for Review</button>
          </div>
		  <div class="col-lg-6 col-md-6">
			  <div class="gspace-check-wrapper">
				  <img class="img-responsive gspace-img" src="{{base_url()}}/img/gspace_law.png" alt="Galaspace Type">
				  <p class="text-center">It's important to comply with the local laws and follow our terms and conditions.</p>
			  </div>
		  </div>
        </div>
		{{ csrf.field | raw }}
	</form>
{% endblock %}

{% block message_modal %}
	<script>
		$('.submit-review').click(function() {
			swal({
				type: 'success',
				title: 'Space Application Submitted',
				text: 'Thank you for submitting, your request is now pending.',
				confirmButtonText: false,
				timer: 7000,
				onOpen: () => {
					swal.showLoading()
				}
			});
		});
	</script>
{% endblock %}
