{% extends 'templates/app.twig' %}

{% block main %}
	<form action="{{ path_for('space-type', {'user_id': user_id}) }}" method="post" enctype="multipart/form-data">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<h3><img src="https://png.icons8.com/windows/35/333333/apartment.png"> SPACE TYPE</h3>
				<hr>
				<h3>What kind of space do you provide.</h3>
				<div class="form-group">
					<img class="img-responsive menu-img" src="{{base_url()}}/img/placeholder.png" alt="Space Cover Photo"/>
					<img class="fa fa-camera profile-upload-btn" data-toggle="tooltip" title="Upload Space Cover Photo" data-placement="bottom" src="https://png.icons8.com/windows/35/333333/camera.png">
					<input class="profile-photo" type="file" name="space_cover_photo"/>
				</div>
				<div class="form-group {{ errors.space_type ? 'has-error' : '' }}">
					<label for="space_type">Space Type</label>
					<select class="form-control input-lg" id="space_type" name="space_type">
						<option disabled selected>Please select...</option>
						<option value="restaurant">Restaurant</option>
						<option value="office">Office</option>
						<option value="warehouse">Warehouse</option>
						<option value="personal space">Personal Space</option>
						<option value="studio">Studio</option>
						<option value="conference room">Conference Room</option>
					</select>
					{% if errors.space_type %}
						<span class="help-block">{{ errors.space_type | first }}</span>
					{% endif %}
				</div>

				<h3>What type of category of your event space would be suitable for?</h3>
				<div class="form-group {{ errors.event_category ? 'has-error' : '' }}">
					<input type="radio" id="business" name="space_category" class="ui-radio" value="business" checked/>
					<label for="business">Business <i class="gray-text">(Networking,Meeting,Presentation)</i></label><br><br>
					<input type="radio" id="events" name="space_category" class="ui-radio" value="events"/>
					<label for="events">Events <i class="gray-text">(Party,Wedding,Gathering) </i></label><br><br>
					<input type="radio" id="production" name="space_category" class="ui-radio" value="production"/>
					<label for="production">Production <i class="gray-text">(Filming,Photoshoot)</i></label>
					{% if errors.event_category %}
						<span class="help-block">{{ errors.event_category | first }}</span>
					{% endif %}
				</div>
				<button class="btn btn-info btn-custom btn-block" type="submit">Continue</button>
				<br>
				<button class="btn btn-danger btn-custom1 btn-block" type="reset">Reset</button>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="gspace-check-wrapper">
					<img class="img-responsive gspace-img" src="{{base_url()}}/img/gspace_type.png" alt="Galaspace Type">
					<p class="text-center">You can choose which category would suit for your event space. You can always change the event category anytime.</p>
				</div>
			</div>
		</div>
		{{ csrf.field | raw }}
	</form>
{% endblock %}
