{% extends 'templates/app.twig' %}

{% block main %}
	<form action="{{ path_for('space-cpolicy', {'space_id': space_id}) }}" method="post">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<h3><img src="https://png.icons8.com/windows/35/333333/cancel-subscription.png"> CANCELLATION POLICY</h3>
				<hr>
				<p>This cancellation policy enforce to protect hosts and event creators. However, this will suits best depending on how your event space are being setup. If it's the event space for big events, it's highly advisable to go for strict cancellation policy.</p>

				<div class="form-group">
					<input type="radio" id="flexible" name="cancel_type" class="ui-radio" value="flexible" checked/>
					<label for="flexible">Flexible - Full refund 2 days prior to arrival except processing fees</label><br><br>

					<input type="radio" id="moderate" name="cancel_type" class="ui-radio" value="moderate"/>
					<label for="moderate">Moderate - Full 6 days prior to arrival except processing fees</label><br><br>

					<input type="radio" id="strict" name="cancel_type" class="ui-radio" value="strict"/>
					<label for="strict">Strict - 50% Refund until 1 week prior to arrival except processing</label>
				</div>
				<button class="btn btn-info btn-custom btn-block" type="submit">Continue</button>
				<br>
				<button class="btn btn-danger btn-custom1 btn-block" type="reset">Reset</button>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="gspace-check-wrapper">
					<img class="img-responsive gspace-img" src="{{base_url()}}/img/gspace_cancel.png" alt="Galaspace Cancellation">
					<p class="text-center">The cancellation that made by either parties will be confirmed once Galaspace receive the notification.</p>
				</div>
			</div>
		</div>
		{{ csrf.field | raw }}
	</form>
{% endblock %}
