{% extends 'templates/app.twig' %}

{% block main %}
	<form action="{{path_for('space-address', {'space_id': space_id})}}" method="POST" onsubmit="return addrValidation()">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<h3><img src="https://png.icons8.com/windows/35/333333/address.png"> EVENT SPACE ADDRESS</h3>
				<hr>
				<div class="form-group">
					<label>Select the desired location and drag the marker to your exact location on the map.</label>
					&emsp;<input type="radio" onclick="initmapSG()" id="Singapore" name="location" class="ui-radio" value="Singapore"/>
					<label for="Singapore">Singapore</label>
					&emsp;<input type="radio" onclick="initmapMY()" id="Sarawak" name="location" class="ui-radio" value="Sarawak"/>
					<label for="Sarawak">Sarawak</label><br><br>
				</div>
                <div id="map"></div><br>
                <p class="text-center">It is important to fill the address completely to ensure that guests may arrive to destination accurately. Your exact address will be shared with confirmed guests.</p>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="form-group {{ errors.space_address ? 'has-error' : '' }}">
                        <label for="space_address">Unit / Block Number</label>
                        <input class="form-control input-lg" id="space_address" name="space_address" type="text" placeholder="E.g. #01-011"  value="{{ old.space_address }}"/>
                        {% if errors.space_address %}
                            <span class="help-block">{{ errors.space_address | first }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="form-group {{ errors.space_floor ? 'has-error' : '' }}">
                        <label for="space_floor">Floor Level</label>
                        <input class="form-control input-lg" id="space_floor" name="space_floor" type="number" placeholder="E.g. 1"  value="{{ old.space_address }}"/>
                        {% if errors.space_floor %}
                            <span class="help-block">{{ errors.space_floor | first }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="form-group {{ errors.space_location ? 'has-error' : '' }}">
                        <input class="form-control input-lg" id="space_location" name="space_location" placeholder="Please hover the map to your address" type="input" readonly/>
                        {% if errors.space_location  %}
                            <span class="help-block">{{ errors.space_location  | first }}</span>
                        {% endif %}
                    </div>
					<div class="form-group {{ errors.space_place_id ? 'has-error' : '' }}">
						<input class="" id="space_place_id" name="space_place_id" placeholder="Place ID" type="hidden" readonly/>
                        {% if errors.space_place_id  %}
							<span class="help-block">{{ errors.space_place_id  | first }}</span>
                        {% endif %}
					</div>

					<div class="form-group">
						<input class="form-control input-lg" id="space_latitude" name="space_latitude" type="hidden"/>
					</div>
					<div class="form-group">
						<input class="form-control input-lg" id="space_longitude" name="space_longitude" type="hidden"/>
					</div>
                    <div class="form-group">
                        <input class="form-control input-lg" id="space_area" name="space_area" type="hidden"/>
                    </div>
					<button class="btn btn-info btn-custom btn-block" type="submit">Continue</button>
					<br>
					<button class="btn btn-danger btn-custom1 btn-block" type="reset">Reset</button>
                </div>
            </div>
		</div>
		{{ csrf.field | raw }}
	</form>
{% endblock %}

{% block address_map %}
	<script>
		var geocoder;
		var map;
		var infowindow;
		var exact_location;
		var placeID;
		var area;


		function initmapMY() {
			geocoder = new google.maps.Geocoder();
			var myLatlng = new google.maps.LatLng(1.553278, 110.359215);
				var mapOptions = {
					zoom: 12,
					center: myLatlng,
					mapTypeId: google.maps.MapTypeId.ROADMAP
				}
			map = new google.maps.Map(document.getElementById('map'),
										  mapOptions);

			var marker = new google.maps.Marker({
				position: myLatlng,
				map: map,
				draggable:true
			});

			google.maps.event.addListener(marker, 'dragend', function() {
				codeLatLng(marker);
				infowindow.close();
			});
		}

        function initmapSG() {
            geocoder = new google.maps.Geocoder();
            var myLatlng = new google.maps.LatLng(1.3285349, 103.8238249);
            var mapOptions = {
                zoom: 12,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            map = new google.maps.Map(document.getElementById('map'),
                mapOptions);

            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                draggable:true
            });

            google.maps.event.addListener(marker, 'dragend', function() {
                codeLatLng(marker);
                infowindow.close();
            });
        }

		function codeLatLng(marker) {
			var latlng = marker.getPosition();
			geocoder.geocode({'latLng': latlng}, function(results, status) {
			infowindow = new google.maps.InfoWindow();
			if (status == google.maps.GeocoderStatus.OK) {
			  if (results[1]) {
				infowindow.setContent(results[0].formatted_address);
				infowindow.open(map, marker);
				exact_location = results[0].formatted_address;
				placeID = results[0].place_id;
				area = results[0].address_components[3].long_name;
				$('#space_latitude').val(latlng.lat());
				$('#space_longitude').val(latlng.lng());
				$('#space_location').val(exact_location);
			  	$('#space_place_id').val(placeID);
			  	$('#space_area').val(area);
			  } else {
				console.log('No results found!');
			  }
			} else {
			  console.log('Geocoder failed due to: ' + status);
			}
			});
		}

        function addrValidation() {
            var c = document.getElementById('space_location').value;
            var strc = c.toString();

            if (!strc.includes('Sarawak') && !strc.includes('Singapore') && strc != "") {
                swal({
                    type: 'error',
                    title: 'Address Error',
                    text: 'This system only available at Singapore and Sarawak, Malaysia',
                });
                return false;
            }else if (strc === "") {
                swal({
                    type: 'error',
                    title: 'Address Error',
                    text: 'Please pin your address location',
                });
                return false;
			}else{
                return true;
			}
        }
	</script>
{% endblock %}
