{% extends 'templates/app.twig' %}

{% block main %}
	<form action="{{ path_for('service-details', {'service_id': service_id}) }}" method="POST" enctype="multipart/form-data" >
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<h3>Impress the Event Creator about what you good at!</h3>
				<hr>
				<div class="form-group {{ errors.service_detail ? 'has-error' : '' }}">
					<label for="service_detail">Service Detail</label>
                    <textarea class="form-control input-lg" id="service-details" name="service_detail" placeholder="Details About Services" rows="8" cols="80" value="{{ old.service_detail}}"></textarea>
                    {% if errors.service_detail %}
                        <span class="help-block">{{ errors.service_detail | first }}</span>
                    {% endif %}
                </div>
				<div class="form-group {{ errors.service_pricing ? 'has-error' : '' }}">
	                <label for="service_pricing">Pricing Per Hour</label>
	                <input class="form-control input-lg" id="service_pricing" name="service_pricing" type="text" placeholder="Pricing per hour"  value="{{ old.service_pricing }}"/>
	                {% if errors.service_pricing %}
	                    <span class="help-block">{{ errors.service_pricing | first }}</span>
	                {% endif %}
	            </div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6  service-img-container1">
						<img class="img-responsive space-img" id="space-img1" src="{{base_url()}}/img/placeholder.png" alt="Space Image"/>
						<img class="fa fa-camera space-upload-btn" id="space-upload-btn1" data-toggle="tooltip" title="Upload Service Image" data-placement="bottom" src="https://png.icons8.com/windows/35/333333/camera.png">
						<input class="space-photo" id="space-photo1" type="file" name="service_photo[]"/>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 space-img-container2">
						<img class="img-responsive space-img" id="space-img2" src="{{base_url()}}/img/placeholder.png" alt="Space Image"/>
						<img class="fa fa-camera space-upload-btn" id="space-upload-btn2" data-toggle="tooltip" title="Upload Space Image" data-placement="bottom" src="https://png.icons8.com/windows/35/333333/camera.png">
						<input class="space-photo" id="space-photo2" type="file" name="service_photo[]"/>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 space-img-container3">
						<img class="img-responsive space-img" id="space-img3" src="{{base_url()}}/img/placeholder.png" alt="Space Image"/>
						<img class="fa fa-camera space-upload-btn" id="space-upload-btn3" data-toggle="tooltip" title="Upload Space Image" data-placement="bottom" src="https://png.icons8.com/windows/35/333333/camera.png">
						<input class="space-photo" id="space-photo3" type="file" name="service_photo[]"/>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 space-img-container4">
						<img class="img-responsive space-img" id="space-img4" src="{{base_url()}}/img/placeholder.png" alt="Space Image"/>
						<img class="fa fa-camera space-upload-btn" id="space-upload-btn4" data-toggle="tooltip" title="Upload Space Image" data-placement="bottom" src="https://png.icons8.com/windows/35/333333/camera.png">
						<input class="space-photo" id="space-photo4" type="file" name="service_photo[]"/>
					</div>
				</div>
				<a class="green-text add-photo" href="javascript:void(0)"><img src="https://png.icons8.com/windows/35/00a99d/plus-2-math.png"> Add Photo</a>
				<br><br>
				<button class="btn btn-info btn-custom btn-block" type="submit">Continue</button>
				<br>
				<button class="btn btn-danger btn-custom1 btn-block" type="reset">Reset</button>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="gspace-check-wrapper">
					<img class="img-responsive gspace-img" src="https://png.icons8.com/ios/150/1abc9c/light-on.png" alt="Galaspace Reset">
					<p class="text-center"><i>It's best to add informative details about your catering.<br>
					This would get them excited about your delicious food!</i></p>
				</div>
			</div>
		</div>
		{{ csrf.field | raw }}
	</form>
{% endblock %}

{% block space_image_upload %}
	<script>

	$('.space-img-container1').hide();
	$('.space-img-container2').hide();
	$('.space-img-container3').hide();
	$('.space-img-container4').hide();

	var counter = 0;
	$('.add-photo').click(function() {
		counter += 1;

		if (counter == 1) {
			$('.space-img-container1').show();
		} else if (counter == 2) {
			$('.space-img-container2').show();
		} else if (counter == 3) {
			$('.space-img-container3').show();
		} else if (counter == 4) {
			$('.space-img-container4').show();
		} else if (counter > 4) {
			swal({
				type: 'warning',
				title: 'Warning',
				text: 'Can\'t add pictures anymore. Maximum of 4 photos reached!',
				confirmButtonColor: "#00a99d",
			});
			$('#myprofile-submit').html('Update');
		}
	});

	// Space Image 1
		var space_image1 = function(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function (e) {
					$('#space-img1').attr('src', e.target.result);
				}

				reader.readAsDataURL(input.files[0]);
			}
		}

		$("#space-photo1").on('change', function(){
			space_image1(this);
		});

		$("#space-upload-btn1").on('click', function() {
            e.stopPropagation();
		   $("#space-photo1").click();
		});

	// End of Space Image 1

	// Space Image 2
		var space_image2 = function(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function (e) {
					$('#space-img2').attr('src', e.target.result);
				}

				reader.readAsDataURL(input.files[0]);
			}
		}

		$("#space-photo2").on('change', function(){
			space_image2(this);
		});

		$("#space-upload-btn2").on('click', function() {
            e.stopPropagation();
		   $("#space-photo2").click();
		});
	// End of Space Image 2

	// Space Image 3
		var space_image3 = function(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function (e) {
					$('#space-img3').attr('src', e.target.result);
				}

				reader.readAsDataURL(input.files[0]);
			}
		}

		$("#space-photo3").on('change', function(){
			space_image3(this);
		});

		$("#space-upload-btn3").on('click', function() {
            e.stopPropagation();
		   $("#space-photo3").click();
		});
	// End of Space Image 3

	// Space Image 4
		var space_image4 = function(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function (e) {
					$('#space-img4').attr('src', e.target.result);
				}

				reader.readAsDataURL(input.files[0]);
			}
		}

		$("#space-photo4").on('change', function(){
			space_image4(this);
		});

		$("#space-upload-btn4").on('click', function() {
            e.stopPropagation();
		   $("#space-photo4").click();
		});
	// End of Space Image 4
	</script>
{% endblock %}
