{% extends 'templates/app.twig' %}

{% block main %}
	<form action="{{ path_for('service-type', {'user_id': user_id}) }}" method="post" enctype="multipart/form-data">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<h3>Share about your service!</h3>
				<br/>
				<div class="form-group">
					<img class="img-responsive menu-img" src="{{base_url()}}/img/placeholder.png" alt="Service Photo"/>
					<img class="fa fa-camera profile-upload-btn" data-toggle="tooltip" title="Upload Service Picture" data-placement="bottom" src="https://png.icons8.com/windows/35/333333/camera.png">
					<input class="profile-photo" type="file" name="service_photo"/>
				</div>
				<div class="form-group {{ errors.service_name ? 'has-error' : '' }}">
	                <label for="service_name">Service Name</label>
	                <input class="form-control input-lg" id="service-name" name="service_name" type="text" placeholder="Name of your service"  value="{{ old.service_name }}"/>
	                {% if errors.service_name %}
	                    <span class="help-block">{{ errors.service_name | first }}</span>
	                {% endif %}
	            </div>
				<h4>What kind of services do you provide ?</h4>
					<div class="form-group {{ errors.service_type ? 'has-error' : '' }}">
						<input type="radio" id="catering" name="service_type" class="ui-radio" value="Catering"/>
						<label for="catering">Catering</label>
						<input type="radio" id="music" name="service_type" class="ui-radio" value="Music"/>
						<label for="music">Music</label><br><br>
						<input type="radio" id="photography_videography" name="service_type" class="ui-radio" value="Photography/Videography"/>
						<label for="photography_videography">Photography/Videography</label>
						<input type="radio" id="souvenir_decoration" name="service_type" class="ui-radio" value="Souvenir/Decoration"/>
						<label for="souvenir_decoration">Souvenir/Decoration</label>
						{% if errors.service_type %}
							<span class="help-block">{{ errors.service_type | first }}</span>
						{% endif %}
					</div>
					<h4>Service Location</h4>
					<div class="form-group {{ errors.service_pricing ? 'has-error' : '' }}">
						<input type="radio" id="Singapore" name="service_location" class="ui-radio" value="Singapore"/>
						<label for="Singapore">Singapore</label>&emsp;&emsp;
						<input type="radio" id="Sarawak" name="service_location" class="ui-radio" value="Sarawak"/>
						<label for="Sarawak">Sarawak</label><br><br>
						{% if errors.service_location %}
							<span class="help-block">{{ errors.service_location | first }}</span>
						{% endif %}
					</div>
				<button class="btn btn-info btn-custom btn-block" type="submit">Continue</button>
				<br>
				<button class="btn btn-danger btn-custom1 btn-block" type="reset">Reset</button>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="gspace-check-wrapper">
					<img class="img-responsive gspace-img" src="{{base_url()}}/img/gspace_notebook.png" alt="Galaspace Reset">
					<p class="text-center">Share it to event creator what you're good at!</p>
				</div>
			</div>
		</div>
		{{ csrf.field | raw }}
	</form>
{% endblock %}

{% block country_code %}
<script>
	$("#contact_number").intlTelInput({
	});

</script>
{% endblock %}
