{% extends 'templates/app.twig' %}

{% block main %}
	{#<form action="{{ path_for('service-menu', {'catering_id': catering_id}) }}" method="post" enctype="multipart/form-data">#}
		<div class="row">
                <div class="col-lg-6 col-md-6">
                    <h3><img src="https://png.icons8.com/windows/35/333333/service-bell.png"> Service Menu</h3>
                    <hr>
                    <h3>Add photos of your delicious menus</h3>
                    <p><b>Note:</b> You can add up to 4 photos. Your first photo will be used for the main photo.</p>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6  menu-img-container1">
							<div id="menu" class="modal fade" role="dialog">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title">Menu Details</h4>
										</div>
										<div class="modal-body">
											<form class="menu-form" method="POST" enctype="multipart/form-data">
											<div class="row">
												<div class="col-lg-6 col-md-6">
													<div class="form-group {{ errors.menu_name ? 'has-error' : '' }}">
														<label for="menu_name">Menu Name</label>
														<input class="form-control input-lg" id="menu_name" name="menu_name" type="text" placeholder="Enter your menu name"/>
														{% if errors.menu_name %}
															<span class="help-block">{{ errors.menu_name | first }}</span>
														{% endif %}
													</div>
												</div>
												<div class="col-lg-6 col-md-6">
													<div class="form-group {{ errors.menu_price ? 'has-error' : '' }}">
														<label for="menu_price">Menu Price</label>
														<input class="form-control input-lg" id="menu_price" name="menu_price" type="number" step="any" placeholder="Enter the menu price"/>
														{% if errors.menu_price %}
															<span class="help-block">{{ errors.menu_price | first }}</span>
														{% endif %}
													</div>
												</div>
											</div>
											<div class="form-group {{ errors.menu_description ? 'has-error' : '' }}">
												<label for="menu_description">Menu Description</label>
												<textarea class="form-control input-lg" id="menu-description" name="menu_description" placeholder="Enter your menu description" rows="8" cols="80"></textarea>
												{% if errors.menu_description %}
													<span class="help-block">{{ errors.menu_description | first }}</span>
												{% endif %}
											</div>
                                                <p>*The first image on the left side will be the main image of the menu</p>
											<div class="row">
												<div class="col-lg-3 col-md-4 col-sm-6 menu-img-container1">
													<img class="img-responsive menu-img" id="menu-img1" data-toggle="modal" data-target="#menu1" src="{{base_url()}}/img/placeholder.png" alt="Menu Image"/>
													<img class="fa fa-camera menu-upload-btn" id="menu-upload-btn1" data-toggle="tooltip" title="Upload Menu Photo" data-placement="bottom" src="https://png.icons8.com/windows/35/333333/camera.png">
													<input class="menu-photo" id="menu-photo1" type="file" name="menu_photo_1"/>
												</div>
												<div class="col-lg-3 col-md-4 col-sm-6 menu-img-container2">
													<img class="img-responsive menu-img" id="menu-img2" src="{{base_url()}}/img/placeholder.png" alt="Menu Image"/>
													<img class="fa fa-camera menu-upload-btn" id="menu-upload-btn2" data-toggle="tooltip" title="Upload Menu Photo" data-placement="bottom" src="https://png.icons8.com/windows/35/333333/camera.png">
													<input class="menu-photo" id="menu-photo2" type="file" name="menu_photo_2"/>
												</div>
												<div class="col-lg-3 col-md-4 col-sm-6 menu-img-container3">
													<img class="img-responsive menu-img" id="menu-img3" src="{{base_url()}}/img/placeholder.png" alt="Menu Image"/>
													<img class="fa fa-camera menu-upload-btn" id="menu-upload-btn3" data-toggle="tooltip" title="Upload Menu Photo" data-placement="bottom" src="https://png.icons8.com/windows/35/333333/camera.png">
													<input class="menu-photo" id="menu-photo3" type="file" name="menu_photo_3"/>
												</div>
												<div class="col-lg-3 col-md-4 col-sm-6 menu-img-container4">
													<img class="img-responsive menu-img" id="menu-img4" src="{{base_url()}}/img/placeholder.png" alt="Menu Image"/>
													<img class="fa fa-camera menu-upload-btn" id="menu-upload-btn4" data-toggle="tooltip" title="Upload Menu Photo" data-placement="bottom" src="https://png.icons8.com/windows/35/333333/camera.png">
													<input class="menu-photo" id="menu-photo4" type="file" name="menu_photo_4"/>
												</div>
											</div>
											<div class="form-group">
												<input class="hidden-class" type="hidden" data-cateringid="{{ catering_id }}" name="menu_hidden_input" value="menulist">
											</div>
											<button class="btn btn-info btn-custom save-menu" type="submit" id="menu-submit">Save Menu</button>
                                                {{ csrf.field | raw }}
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<a class="green-text" href="#" data-toggle="modal" data-target="#menu">Add Menu</a>
					<br><br>
                    {% for menu in catering_menu %}
					<div class="menu-container" id="{{ menu.menu_id }}">
						<div class="menu">
                            {% if menu.menu_image_1 != "" %}
								<img class="img-responsive catering-food-img1" src="{{ base_url() }}/{{ menu.menu_image_1 }}" alt="Catering Menu">
                            {% else %}{% endif %}
							<div class="menu-photos">

									{% if menu.menu_image_2 != "" %}
								<div>
										<img class="img-responsive catering-food-img2" src="{{ base_url() }}/{{ menu.menu_image_2 }}" alt="Catering Menu">
								</div>
									{% else %}{% endif %}
									{% if menu.menu_image_3 != "" %}
									<div>
										<img class="img-responsive catering-food-img2" src="{{ base_url() }}/{{ menu.menu_image_3 }}" alt="Catering Menu">
									</div>
                                    {% else %}{% endif %}
                                    {% if menu.menu_image_4 != "" %}
										<div>
										<img class="img-responsive catering-food-img2" src="{{ base_url() }}/{{ menu.menu_image_4 }}" alt="Catering Menu">
										</div>
                                    {% else %}{% endif %}
							</div>
							<h2 class="menu-title text-center">{{ menu.menu_name }}</h2>
							<p class="text-center"><b>{{ menu.service_currency }}{{ menu.menu_price }}</b></p>
							<p class="text-justify">{{ menu.menu_description }}</p>
						</div>
					</div>
                    {% endfor %}
					<br><br>
                    <form class="menuform-form" method="POST" enctype="multipart/form-data">
                        <input class="hidden-class" type="hidden" data-serviceid="{{ service_id }}" name="menu_hidden_input" value="menusubmit">
                        <button class="btn btn-info btn-custom btn-block" type="submit" id="menuform-submit">Continue</button>
                        {{ csrf.field | raw }}
                    </form>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="gspace-check-wrapper">
                        <img class="img-responsive gspace-img" src="{{base_url()}}/img/gspace_idea.png" alt="Tip">
                        <p class="text-center">It's best to add information details about your catering. This would get them excited about your delicious food!</p>
                    </div>
                </div>
		</div>
{% endblock %}

{% block space_image_upload %}
	<script>
//		swal({
//			type: 'warning',
//			title: 'Warning',
//			text: 'Can\'t add pictures anymore. Maximum of 2 photos reached!',
//			confirmButtonColor: "#00a99d",
//		});
//		$('#myprofile-submit').html('Update');
		$('.menu-photos').slick({
			dots: true,
			infinite: false,
			speed: 300,
			slidesToShow: 5,
			slidesToScroll: 5,
			responsive: [
				{
					breakpoint: 1366,
					settings: {
						slidesToShow: 5,
						slidesToScroll: 5,
						infinite: true,
						dots: true
					}
				},
				{
					breakpoint: 600,
					settings: {
						slidesToShow: 5,
						slidesToScroll: 5
					}
				},
				{
					breakpoint: 480,
					settings: {
						slidesToShow: 3,
						slidesToScroll: 3
					}
				}
				// You can unslick at a given breakpoint now by adding:
				// settings: "unslick"
				// instead of a settings object
			]
		});

		$('.save-menu').click(function() {
		});
//
//		$('.menu-img-container1').hide();
//		$('.menu-img-container2').hide();
//		$('.menu-img-container3').hide();
//		$('.menu-img-container4').hide();
//		$('.menu-img-container5').hide();
//		$('.menu-img-container6').hide();
//		$('.menu-img-container7').hide();
//		$('.menu-img-container8').hide();
//
//		var counter = 0;
//		$('.add-photo').click(function() {
//			counter += 1;
//
//			if (counter == 1) {
//				$('.menu-img-container1').show();
//			} else if (counter == 2) {
//				$('.menu-img-container2').show();
//			} else if (counter == 3) {
//				$('.menu-img-container3').show();
//			} else if (counter == 4) {
//				$('.menu-img-container4').show();
//			} else if (counter == 5) {
//				$('.menu-img-container5').show();
//			} else if (counter == 6) {
//				$('.menu-img-container6').show();
//			} else if (counter == 7) {
//				$('.menu-img-container7').show();
//			} else if (counter == 8) {
//				$('.menu-img-container8').show();
//			} else if (counter > 8) {
//				swal({
//					type: 'warning',
//					title: 'Warning',
//					text: 'Can\'t add pictures anymore. Maximum of 8 photos reached!',
//					confirmButtonColor: "#00a99d",
//				});
//				$('#myprofile-submit').html('Update');
//			}
//		});


		// Space Image 1
		var menu_image1 = function(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function (e) {
					$('#menu-img1').attr('src', e.target.result);
				}

				reader.readAsDataURL(input.files[0]);
			}
		}

		$("#menu-photo1").on('change', function(){
			menu_image1(this);
		});

		$("#menu-upload-btn1").on('click', function() {
		   $("#menu-photo1").click();
		});

	// End of Space Image 1

	// Space Image 2
		var menu_image2 = function(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function (e) {
					$('#menu-img2').attr('src', e.target.result);
				}

				reader.readAsDataURL(input.files[0]);
			}
		}

		$("#menu-photo2").on('change', function(){
			menu_image2(this);
		});

		$("#menu-upload-btn2").on('click', function() {
		   $("#menu-photo2").click();
		});
	// End of Space Image 2


		// Space Image 3
		var menu_image3 = function(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function (e) {
					$('#menu-img3').attr('src', e.target.result);
				}

				reader.readAsDataURL(input.files[0]);
			}
		}

		$("#menu-photo3").on('change', function(){
			menu_image3(this);
		});

		$("#menu-upload-btn3").on('click', function() {
			$("#menu-photo3").click();
		});
		// End of Space Image 3

		// Space Image 3
		var menu_image4 = function(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function (e) {
					$('#menu-img4').attr('src', e.target.result);
				}

				reader.readAsDataURL(input.files[0]);
			}
		}

		$("#menu-photo4").on('change', function(){
			menu_image4(this);
		});

		$("#menu-upload-btn4").on('click', function() {
			$("#menu-photo4").click();
		});
		// End of Space Image 4
	</script>
{% endblock %}

{% block dashboard_ajax %}
	<script src="{{base_url()}}/js/dashboard_ajax.js"></script>
{% endblock %}
