{% extends 'templates/app.twig' %}

{% block main %}
	<form action="{{ path_for('service-cuisine-type', {'service_id': service_id}) }}" method="post">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<h3>Impress the Event Creator about what you good at!</h3>
				<hr>
                <div class="form-group {{ errors.catering_description ? 'has-error' : '' }}">
                <textarea class="form-control input-lg" id="catering-description" name="catering_description" placeholder="Your catering description" rows="8" cols="80" value="{{ old.catering_description}}"></textarea>
                {% if errors.catering_description %}
                <span class="help-block">{{ errors.catering_description | first }}</span>
                {% endif %}
                </div>
				<div class="form-group {{ errors.service_cuisine_type ? 'has-error' : '' }}">
	                <label for="subhost_cuisine_type">Cuisine Type</label>
	                <input class="form-control input-lg" id="service_cuisine_type" name="service_cuisine_type" type="text" placeholder="Type of Cuisine"  value="{{ old.service_cuisine_type }}"/>
	                {% if errors.service_cuisine_type %}
	                    <span class="help-block">{{ errors.service_cuisine_type | first }}</span>
	                {% endif %}
	            </div>
				<div class="form-group {{ errors.service_halal ? 'has-error' : '' }}">
	                <label for="service_halal">Do you Cater Halal Food ?</label>
					<select class="form-control input-lg" id="service_halal" name="service_halal">
						<option disabled selected>Please select...</option>
						<option value="Yes">Yes</option>
						<option value="No">No</option>
					</select>
	                {% if errors.service_halal %}
	                    <span class="help-block">{{ errors.service_halal | first }}</span>
	                {% endif %}
	            </div>
				<button class="btn btn-info btn-custom btn-block" type="submit">Continue</button>
				<br>
				<button class="btn btn-danger btn-custom1 btn-block" type="reset">Reset</button>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="gspace-check-wrapper">
					<img class="img-responsive gspace-img" src="https://png.icons8.com/ios/150/1abc9c/light-on.png" alt="Galaspace Reset">
					<p class="text-center"><i>It's best to add informative details about your catering.<br>
					This would get them excited about your delicious food!</i></p>
				</div>
			</div>
		</div>
		{{ csrf.field | raw }}
	</form>
{% endblock %}
