{% extends 'templates/app.twig' %}

{% block main %}
	<form action="{{ path_for('service-name', {'service_id': service_id}) }}" method="post">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<h3><img src="https://png.icons8.com/windows/35/333333/autograph.png"> Your Event's Service Name</h3>
				<hr>
				<h3>What kind of service do you provide.</h3>
				<div class="form-group {{ errors.service_name ? 'has-error' : '' }}">
					<label for="service_name">Service Name</label>
					<input class="form-control input-lg" id="service_name" name="service_name" type="text" placeholder="Enter your service name"  value="{{ old.service_name }}"/>
					{% if errors.service_name %}
						<span class="help-block">{{ errors.service_name | first }}</span>
					{% endif %}
				</div>
				<button class="btn btn-info btn-custom btn-block" type="submit">Continue</button>
				<br>
				<button class="btn btn-danger btn-custom1 btn-block" type="reset">Reset</button>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="gspace-check-wrapper">
					<img class="img-responsive gspace-img" src="{{base_url()}}/img/gspace_name.png" alt="Galaspace Name">
					<p class="text-center">Make your event space's catchy, simple and easily to remember!</p>
				</div>
			</div>
		</div>
		{{ csrf.field | raw }}
	</form>
{% endblock %}


