{% extends 'templates/overview_container.twig' %}

{% block main %}

    <div class="col-lg-12">
        <div class="dashboard-content">
            <h3>Service Details</h3>
            <form id="frmVC" method="post" action="{{ path_for('booking-service', {'book_id': book.book_id}) }}">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="book_id">Book ID</label><br>
                            <input class="form-control input-lg" id="book_id" type="text" name="book_id" value="{{ book.book_id }}" readonly>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="bookname">Book Name</label><br>
                            <input class="form-control input-lg" id="bookname" type="text" name="bookname" value="{{ book.book_name }}" disabled>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="service_id">Service ID (click for service detail)</label><br>
                            <span onclick='window.open("{{ base_url() }}/service-overview/{{ book.service_id }}");' >
                                <input class="form-control input-lg" style="cursor:pointer;" id="service_id" type="text" name="service_id" value="{{ book.service_id }}" disabled>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="bookby">Book By (click for user detail)</label><br>
                            <span onclick='window.open("{{ base_url() }}/admin/user-details/{{ book.user_id }}");' >
                                <input class="form-control input-lg" style="cursor: pointer;" id="bookby" type="text" name="bookby" value="{{ book.user_full_name }}" disabled>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="spname">Space Name (click for space detail)</label><br>
                            <span onclick='window.open("{{ base_url() }}/space-overview/{{ book.space_id }}");' >
                                <input class="form-control input-lg" id="spname" style="cursor: pointer;" type="text" name="spname" value="{{ book.service_name }}" disabled>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="svcname">Service Name</label><br>
                            <input class="form-control input-lg" id="svcname" type="text" name="svcname" value="{{ book.service_name }}" disabled>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="eventtype">Service Type</label><br>
                            <input class="form-control input-lg" id="eventtype" type="text" name="eventtype" value="{{ book.service_type }}" disabled>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="eventdate">Service Date</label><br>
                            <input class="form-control input-lg" id="eventdate" type="text" name="eventdate" value="{{ book.svbook_date | date('d-m-Y') }}" disabled>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="eventtimestart">Service Start Time</label><br>
                            <input class="form-control input-lg" id="eventtimestart" type="text" name="eventtimestart" value="{{ book.svbook_time_from }}" disabled>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="eventtimeend">Service End Time</label><br>
                            <input class="form-control input-lg" id="eventtimeend" type="text" name="eventtimeend" value="{{ book.svbook_time_to }}" disabled>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="bookdesc">Book Description @ Messages</label><br>
                            <textarea class="form-control input-lg" rows="5" id="bookdesc" name="bookdesc" disabled>{{ book.svbook_description }}</textarea>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="vendormsg">Your Messages</label><br>
                            <textarea class="form-control input-lg" rows="5" id="vendormsg" placeholder="Your message back to event creator" name="vendormsg">{{ book.spbook_vendor_msg }}</textarea>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="status">Book Status</label><br>
                            {% if book.book_status == "INCOMPLETE" %}
                                <input class="form-control input-lg" id="status" type="text" name="status" value="{{ book.book_status }}" disabled>
                            {% else %}
                                <select class="form-control input-lg" name="book_status">
                                    {% if book.svbook_status == "APPROVED" %}
                                        <option value="APPROVED" selected="selected">APPROVED</option>
                                    {% else %}
                                        <option value="APPROVED">APPROVED</option>
                                    {% endif %}
                                    {% if book.svbook_status == "IN PROGRESS" %}
                                        <option value="IN PROGRESS" selected="selected">IN PROGRESS</option>
                                    {% else %}
                                        <option value="IN PROGRESS">IN PROGRESS</option>
                                    {% endif %}
                                    {% if book.svbook_status == "REJECTED" %}
                                        <option value="REJECTED" selected="selected">REJECTED</option>
                                    {% else %}
                                        <option value="REJECTED">REJECTED</option>
                                    {% endif %}
                                </select>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <button class="form-control input-lg btn btn-success" style="margin-top:24px;" onclick="return spbook_Confirm_Vendor(this);" type="button">Submit</button>
                        </div>
                    </div>
                </div>
                <hr/>
                {% if book.service_type == "Catering" %}
                    <h3>Catering Details</h3>
                <div class="row">
                    {% for cat in catering_booking %}
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="cat_id">Catering ID</label><br>
                            <input class="form-control input-lg" id="cat_id" type="text" name="cat_id" value="{{ cat.catering_id }}" readonly>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="cat_type">Catering Type</label><br>
                            <input class="form-control input-lg" id="cat_type" type="text" name="cat_type" value="{{ cat.catering_type }}" readonly>
                        </div>
                    </div>
                    {% for cM in catMenu %}
                    <hr/>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="menu_id">Menu ID</label><br>
                            <input class="form-control input-lg" id="menu_id" type="text" name="menu_id" value="{{ cM.menu_id }}" readonly>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="menu_name">Menu Name</label><br>
                            <input class="form-control input-lg" id="menu_name" type="text" name="menu_name" value="{{ cM.menu_name }}" readonly>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="menu_desc">Menu Description</label><br>
                            <textarea class="form-control input-lg" id="menu_desc" name="menu_desc" readonly>{{ cM.menu_description }}</textarea>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="menu_price">Menu Price</label><br>
                            <input class="form-control input-lg" id="menu_price" type="text" name="menu_price" value="{{ cM.menu_price }}" readonly>
                        </div>
                    </div>
                    <hr/>
                    {% endfor %}
                    {% endfor %}
                </div>
                {% endif %}
                {{ csrf.field | raw }}
            </form>
        </div>
    </div>
{% endblock %}
