{% extends 'templates/overview_container.twig' %}
{% block main %}
    {#profile swal#}
    {% if cBooking == "false" %}
        <script>
            swal({
                type: 'error',
                title: 'Booking not Cancel',
                text: 'Your booking were not cancel. Please enter correct password',
            });
        </script>
    {% endif %}
<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading" style="background-color:#00A99E;height:55px !important; ">
            <h4 style="color:white;">EVENT MANAGEMENT</h4>
        </div>
        <div class="panel-body">
            <ul style="list-style-type: none;font-size: 20px;margin-left:-25px;">
                <li><u>EVENT DETAILS</u></li>
                {#<li>CONTACT EVENT SPACE PROVIDER</li>#}
                {#<li>CONTACT SUB-HOSTS</li>#}
                {#<li>CONTACT GALASPACE SUPPORT TEAM</li>#}
                {#<li>BROWSE MORE SERVICE</li>#}
                {#<li>BILLINGS</li>#}
                {#<li>DEPOSIT PAYMENT</li>#}
                <li><a href="/booking-summary/{{ bookings.book_id }}">GENERATE INVOICE</a></li>
                <li><a data-toggle="modal" data-target="#cancelEvent" style="color: red;cursor: pointer;">CANCEL THIS EVENT</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="col-lg-8">
    <div class="panel panel-default">
        <div class="panel-heading" style="background-color:#00A99E;height:55px !important; ">
            <div class="col-lg-11 col-md-10 col-sm-11 col-xs-10">
                <h4 style="color:white;">EVENT DETAILS</h4>
            </div>
            <div class="col-lg-1">
                <h4 id="booking-edit-btn"><a href="javascript:void(0);" style="color:white;">Edit</a></h4>
                <h4 id="booking-update-btn"><a href="javascript:void(0);" style="color:white;">Update</a></h4>
            </div>
        </div>
        <div id="booking-overview">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-3 col-sm-3 col-xs-5">
                        <h4>Event Name </h4>
                        <h4>Number of Pax </h4>
                        <h4>Date </h4>
                        <h4>Event Type</h4>
                        <h4>Event Status</h4>
                    </div>
                    {% for spbk in booking_summary %}
                    <div class="col-lg-8 col-sm-8 col-xs-7">
                        <h4>: {{ bookings.book_name  }}</h4>
                        <h4>: {{ spbk.spbook_guest }} </h4>
                        <h4>: {{ spbk.spbook_date | date("d/m/Y") }} </h4>
                        <h4>: {{ spbk.spbook_event_type }} </h4>
                        <h4>: {{ spbk.spbook_status | capitalize }} </h4>
                    </div>
                    {% endfor %}
                </div>
                <hr/>
                <h3><u>EVENT SPACE</u></h3>
                <div class='row'>
                    {{ space_booking | raw }}
                </div>
                <hr/>
                <h3><u>EVENT SERVICES</u></h3>
                <div class="row">
                    {{ catList | raw }}
                </div>
                <div class="row">
                    {{ serviceBooking | raw }}
                </div>
                {% for pv in service_booking if pv.service_type == "Photography/Videography" %}
                <div class="row">
                    <div class="col-lg-3 col-xs-5">
                        <h4>Photographer/Videographer {{ loop.index }} </h4>
                    </div>
                    <div class="col-lg-8 col-xs-7">
                        <h4>: {{ perf.service_name }} </h4>
                    </div>
                </div>
                {% endfor %}
                <hr/>
                <h3><u>Summary</u></h3>
                {{ bookSummary | raw }}
            </div>
            <div class="panel-footer">
                <button class="btn btn-success" style="width:100%;">Check Out</button>
            </div>
        </div>
        <div id="booking-overview-edit">
            <div class="panel-body">
                {% for spbk in booking_summary %}
                <form id="booking-edit" method="post">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="event_name">Event Name</label>
                            <input class="form-control input-lg" id="event_name" type="text" name="event_name" value="{{ bookings.book_name }}" >
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="pax_no">Number of Pax</label>
                            <input class="form-control input-lg" id="pax_no" type="number" name="pax_no" value="{{ spbk.spbook_guest }}">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="event_date">Event Date</label>
                            <input class="form-control input-lg" id="event_date" type="date" name="event_date" readonly value="{{ spbk.spbook_date }}">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="event_type">Event Type</label>
                            <select name="event_type" class="form-control input-lg">
                                {% if spbk.spbook_event_type == "Event" %}
                                    <option value="Event" selected="selected">Event</option>
                                {% else %}
                                    <option value="Event">Event</option>
                                {% endif %}
                                {% if spbk.spbook_event_type == "Production" %}
                                    <option value="Production" selected="selected">Production</option>
                                {% else %}
                                    <option value="Production">Production</option>
                                {% endif %}
                                {% if spbk.spbook_event_type == "Networking" %}
                                    <option value="Networking" selected="selected">Networking</option>
                                {% else %}
                                    <option value="Networking">Networking</option>
                                {% endif %}
                                {% if spbk.spbook_event_type == "Birthday Party" %}
                                    <option value="Birthday Party" selected="selected">Birthday Party</option>
                                {% else %}
                                    <option value="Birthday Party">Birthday Party</option>
                                {% endif %}
                                {% if spbk.spbook_event_type == "Wedding" %}
                                    <option value="Wedding" selected="selected">Wedding</option>
                                {% else %}
                                    <option value="Wedding">Wedding</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <input class="hidden" id="book_id" type="text" name="book_id" value="{{ spbk.book_id }}">
                    {% endfor %}
                </div>
                    {{ csrf.field | raw }}
                </form>
                <hr/>
                <h3><u>EVENT SPACE</u></h3>
                <div class="row">
                    <div class="col-lg-3">
                        <h4>Name of Event Space </h4>
                        <h4>Address </h4>
                    </div>
                    {% for spbk in space_booking %}
                        <div class="col-lg-8">
                            <h4>: {{ spbk.space_name }} </h4>
                            <h4>: {{ spbk.space_address }} </h4>
                        </div>
                    {% endfor %}
                </div>
                <hr/>
                <div class="row">
                    <div class="col-lg-5" style="margin-left:0px;">
                        <h3><u>EVENT SERVICES</u></h3>
                    </div>
                    <div class="col-lg-7 col-lg-push-5" style="float: right;margin-top:10px;">
                        <a href="{{ base_url() }}/service-booking/{{ bookings.book_id }}" style="text-decoration: none;"><h4>Manage</h4></a>
                    </div>
                </div>
                {#<h4>( Catering )</h4>#}
                {% for cat in service_booking if cat.service_type == "Catering" %}
                    <div class="row">
                        <div class="col-lg-3">
                            <h4>Caterer</h4>
                            <h4>Menu </h4>
                        </div>
                        <div class="col-lg-8">
                            <h4>: {{ cat.service_name }} </h4>
                            <h4>: {{ cat.menu_name }} </h4>
                        </div>
                    </div>
                {% endfor %}
                {#<h4>( Performance )</h4>#}
                {% for perf in service_booking if perf.service_type == "Music" %}
                    <div class="row">
                        <div class="col-lg-3">
                            <h4>Performer {{ loop.index }} </h4>
                        </div>
                        <div class="col-lg-8">
                            <h4>: {{ perf.service_name }}</h4>
                        </div>
                    </div>
                {% endfor %}
                {#<h4>( Photography / Videography )</h4>#}
                {% for pv in service_booking if pv.service_type == "Photography/Videography" %}
                    <div class="row">
                        <div class="col-lg-3">
                            <h4>Photographer/Videographer {{ loop.index }} </h4>
                        </div>
                        <div class="col-lg-8">
                            <h4>: {{ perf.service_name }} </h4>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<form action="/booking-cancel" method="get">
    <div id="cancelEvent" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Cancel This Event</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 text-center">
                            <img src="{{ base_url() }}/img/icons/warning.png"/>
                            <h4>Are you sure you want to cancel this event? This action couldn't be undo!</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 text-center">
                            <h4>If you wish to proceed, kindly enter your password</h4>
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control input-lg" id="password" type="password" name="password" placeholder="Enter password">
                                    <div class="input-group-btn">
                                        <button class="btn btn-warning" name="btnDelete" id="btnCancelBooking" style="height:46px;" type="submit">Proceed</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input class="hidden-class" type="hidden" id="bookID" name="book_id" value="{{ bookings.book_id }}">
                            </div>
                            {#<div class="form-group">#}
                            {#<input class="hidden-class" type="hidden" data-bookid="{{ bookings.book_id }}" name="servicemenu_hidden_input" value="deletemenu">#}
                            {#</div>#}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info btn-custom" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    {{ csrf.field | raw }}
</form>
{% endblock %}


