{% extends 'templates/overview_container.twig' %}

{% block main %}

    <div class="col-lg-12">
        <div class="dashboard-content">
            <h3>Space Details</h3>
            <form id="frmVC" method="post" action="{{ path_for('booking-space', {'book_id': book.book_id}) }}">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="book_id">Book ID</label><br>
                            <input class="form-control input-lg" id="book_id" type="text" name="book_id" value="{{ book.book_id }}" readonly>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="spaceid">Space ID</label><br>
                            <input class="form-control input-lg" id="spaceid" type="text" name="spaceid" value="{{ book.space_id }}" disabled>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="bookby">Book By (click for user detail)</label><br>
                            <span onclick='window.open("{{ base_url() }}/admin/user-details/{{ book.user_id }}");' >
                                <input class="form-control input-lg" style="cursor: pointer;" id="bookby" type="text" name="bookby" value="{{ book.user_full_name }}" disabled>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="eventtype">Event Type</label><br>
                            <input class="form-control input-lg" style="cursor: pointer;" id="eventtype" type="text" name="eventtype" value="{{ book.spbook_event_type }}" disabled>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="eventguest">Event Guests</label><br>
                            <input class="form-control input-lg" style="cursor: pointer;" id="eventguest" type="text" name="eventguest" value="{{ book.spbook_guest }}" disabled>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="eventdate">Event Date</label><br>
                            <input class="form-control input-lg" style="cursor: pointer;" id="eventdate" type="text" name="eventdate" value="{{ book.spbook_date | date('d-m-Y') }}" disabled>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="eventtimestart">Event Start Time</label><br>
                            <input class="form-control input-lg" style="cursor: pointer;" id="eventtimestart" type="text" name="eventtimestart" value="{{ book.spbook_time_from }}" disabled>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="eventtimeend">Event End Time</label><br>
                            <input class="form-control input-lg" style="cursor: pointer;" id="eventtimeend" type="text" name="eventtimeend" value="{{ book.spbook_time_to }}" disabled>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="bookdesc">Book Description @ Messages</label><br>
                            <textarea class="form-control input-lg" id="bookdesc" name="bookdesc" disabled>{{ book.spbook_desc_msg }}</textarea>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="vendormsg">Your Messages</label><br>
                            <textarea class="form-control input-lg" id="vendormsg" placeholder="Your message back to event creator" name="vendormsg">{{ book.spbook_vendor_msg }}</textarea>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="status">Book Status</label><br>
                            {% if book.book_status == "INCOMPLETE" %}
                                <input class="form-control input-lg" id="status" type="text" name="status" value="{{ book.book_status }}" disabled>
                            {% else %}
                                <select class="form-control input-lg" name="book_status">
                                    {% if book.spbook_status == "APPROVED" %}
                                        <option value="APPROVED" selected="selected">APPROVED</option>
                                    {% else %}
                                        <option value="APPROVED">APPROVED</option>
                                    {% endif %}
                                    {% if book.spbook_status == "IN PROGRESS" %}
                                        <option value="IN PROGRESS" selected="selected">IN PROGRESS</option>
                                    {% else %}
                                        <option value="IN PROGRESS">IN PROGRESS</option>
                                    {% endif %}
                                    {% if book.spbook_status == "REJECTED" %}
                                        <option value="REJECTED" selected="selected">REJECTED</option>
                                    {% else %}
                                        <option value="REJECTED">REJECTED</option>
                                    {% endif %}
                                </select>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <button class="form-control input-lg btn btn-success" style="margin-top:24px;" onclick="return spbook_Confirm_Vendor(this);" type="button">Submit</button>
                        </div>
                    </div>
                </div>
                <hr/>
                {{ csrf.field | raw }}
            </form>
        </div>
    </div>
{% endblock %}
