<h1>Galaspace Account Confirmation</h1>
<p>Hey {{ user_full_name }}, you're almost ready to enter the world of Galaspace. Simply click the link below to verify your account.</p>
<a href="https://www.galaspace.com/verify-token/{{ user_token }}">Click Here</a>