{% extends 'templates/admin.twig' %}

{% block main %}
<div class="col-lg-2">
    <ul class="list-group">
        <li class="list-group-item"><a href="javascript:void(0)" id="overview-btn">Overview</a></li>
        <li class="list-group-item"><a href="javascript:void(0)" id="users-btn">Users</a></li>
        <li class="list-group-item"><a href="javascript:void(0)" id="spaces-btn">Spaces</a></li>
        <li class="list-group-item"><a href="javascript:void(0)" id="services-btn">Services</a></li>
        <li class="list-group-item"><a href="javascript:void(0)" id="bookings-btn">Bookings</a></li>
        <li class="list-group-item"><a href="javascript:void(0)" id="contacts-btn">Contacts</a></li>
    </ul>
</div>
<div class="col-lg-10">
    <div class="dashboard-content" id="overview">
        <h3>Overview</h3>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-lg-4">
                        <img src="https://img.icons8.com/ios/50/00a99d/groups.png"/>
                    </div>
                    <div class="col-lg-8">
                        <h3>{{ users_dt | length }} Users</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-lg-4">
                        <img src="https://png.icons8.com/windows/50/00a99d/test-passed.png"/>
                    </div>
                    <div class="col-lg-8">
                        <h3>{{ space_dt | length }} Spaces</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-lg-4">
                        <img src="https://png.icons8.com/windows/50/00a99d/restaurant-pickup.png"/>
                    </div>
                    <div class="col-lg-8">
                        <h3>{{ service_dt | length }} Services</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-lg-4">
                        <img src="https://img.icons8.com/wired/50/00a99d/ticket.png"/>
                    </div>
                    <div class="col-lg-8">
                        <h3>{{ booking_dt | length }} Bookings</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-lg-4">
                        <img src="https://img.icons8.com/ios/50/00a99d/geography.png"/>
                    </div>
                    <div class="col-lg-8">
                        <h3>{{ contact | length }} Web Enquiry</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-content" id="users">
        <h3>Users</h3>
        <div class="tbAdmin">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Title</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Type</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users_dt %}
                    <tr onclick='window.location.href = "{{ base_url() }}/admin/user-details/{{ user.user_id }}";'>
                        <td>{{ user.user_id }}</td>
                        <td>{{ user.user_name }}</td>
                        <td>{{ user.user_title }}</td>
                        <td>{{ user.user_full_name }}</td>
                        <td>{{ user.user_email }}</td>
                        <td>{{ user.user_type }}</td>
                        <td>{{ user.user_status }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="dashboard-content" id="spaces">
        <h3>Spaces</h3>
        <div class="tbAdmin">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Type</th>
                    <th>Category</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for space in space_dt %}
                    <tr onclick='window.location.href = "{{ base_url() }}/admin/space-details/{{ space.space_id }}"'>
                        <td>{{ space.space_id }}</td>
                        <td>{{ space.space_name }}</td>
                        <td>{{ space.map_location }}</td>
                        <td>{{ space.space_type }}</td>
                        <td>{{ space.space_category }}</td>
                        <td>{{ space.space_status }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="dashboard-content" id="services">
        <h3>Services</h3>
        <div class="tbAdmin">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for service in service_dt %}
                    <tr onclick='window.location.href = "{{ base_url() }}/admin/service-details/{{ service.service_id }}"'>
                        <td>{{ service.service_id }}</td>
                        <td>{{ service.service_name }}</td>
                        <td>{{ service.service_type }}</td>
                        <td>{{ service.service_status }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="dashboard-content" id="bookings">
        <h3>Contacts</h3>
        <div class="tbAdmin">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for book in booking_dt %}
                    <tr onclick='window.location.href = "{{ base_url() }}/admin/book-details/{{ book.book_id }}"'>
                        <td>{{ book.book_id }}</td>
                        <td>{{ book.book_name }}</td>
                        <td>{{ book.book_status }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="dashboard-content" id="contacts">
        <h3>Web Contacts</h3>
        <div class="tbAdmin">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Message</th>
                </tr>
                </thead>
                <tbody>
                {% for c in contact %}
                    <tr>
                        <td>{{ c.contact_full_name }}</td>
                        <td>{{ c.contact_email }}</td>
                        <td>{{ c.contact_message }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#overview').show();
    $('#users').hide();
    $('#spaces').hide();
    $('#services').hide();
    $('#bookings').hide();
    $('#contacts').hide();
    $('#overview-btn').click(function () {
        $('#overview').show();
        $('#users').hide();
        $('#spaces').hide();
        $('#services').hide();
        $('#bookings').hide();
        $('#contacts').hide();
    });
    $('#users-btn').click(function () {
        $('#overview').hide();
        $('#users').show();
        $('#spaces').hide();
        $('#services').hide();
        $('#bookings').hide();
        $('#contacts').hide();
    });
    $('#spaces-btn').click(function () {
        $('#overview').hide();
        $('#users').hide();
        $('#spaces').show();
        $('#services').hide();
        $('#bookings').hide();
        $('#contacts').hide();
    });
    $('#services-btn').click(function () {
        $('#overview').hide();
        $('#users').hide();
        $('#spaces').hide();
        $('#services').show();
        $('#bookings').hide();
        $('#contacts').hide();
    });
    $('#bookings-btn').click(function () {
        $('#overview').hide();
        $('#users').hide();
        $('#spaces').hide();
        $('#services').hide();
        $('#bookings').show();
        $('#contacts').hide();
    });
    $('#contacts-btn').click(function () {
        $('#overview').hide();
        $('#users').hide();
        $('#spaces').hide();
        $('#services').hide();
        $('#bookings').hide();
        $('#contacts').show();
    });

</script>
{% endblock %}
