{% extends 'templates/admin.twig' %}

{% block main %}

    <div class="col-lg-12">
        <div class="dashboard-content">
            <h3>Service Details</h3>
            <form>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="bookid">Book ID</label><br>
                            <input class="form-control input-lg" id="bookid" type="text" name="bookid" value="{{ book.book_id }}" disabled>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="bookname">Book Name</label><br>
                            <input class="form-control input-lg" id="bookname" type="text" name="bookname" value="{{ book.book_name }}" disabled>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="bookby">Book By (click for user detail)</label><br>
                            <span onclick='window.open("{{ base_url() }}/admin/user-details/{{ book.user_id }}");' >
                                <input class="form-control input-lg" style="cursor: pointer;" id="bookby" type="text" name="bookby" value="{{ book.user_full_name }}" disabled>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="status">Book Status</label><br>
                            {% if book.book_status == "INCOMPLETE" %}
                                <input class="form-control input-lg" id="status" type="text" name="status" value="{{ book.book_status }}" disabled>
                            {% else %}
                                <select class="form-control input-lg" name="status">
                                    {% if book.book_status == "APPROVED" %}
                                        <option value="APPROVED" selected="selected">APPROVED</option>
                                    {% else %}
                                        <option value="APPROVED">APPROVED</option>
                                    {% endif %}
                                    {% if book.book_status == "IN PROGRESS" %}
                                        <option value="IN PROGRESS" selected="selected">IN PROGRESS</option>
                                    {% else %}
                                        <option value="IN PROGRESS">IN PROGRESS</option>
                                    {% endif %}
                                    {% if book.book_status == "REJECTED" %}
                                        <option value="REJECTED" selected="selected">REJECTED</option>
                                    {% else %}
                                        <option value="REJECTED">REJECTED</option>
                                    {% endif %}
                                </select>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <hr/>
                <h3>Space Bookings</h3>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="spbookid">Space Booking ID</label><br>
                            <input class="form-control input-lg" id="spbookid" type="text" name="spbookid" value="{{ spbook.spbook_id }}" disabled>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="spaceid">Space ID (click for space detail)</label><br>
                            <span onclick='window.open("{{ base_url() }}/space-overview/{{ spbook.space_id }}");' >
                                <input class="form-control input-lg" style="cursor: pointer;" id="spaceid" type="text" name="spaceid" value="{{ spbook.space_id }}" disabled>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="spaceetype">Space Event Type</label><br>
                            <input class="form-control input-lg" id="spaceetype" type="text" name="spaceetype" value="{{ spbook.spbook_event_type }}" disabled>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="eventdate">Event Date</label><br>
                            <input class="form-control input-lg" id="eventdate" type="text" name="eventdate" value="{{ spbook.spbook_date }}" disabled>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="eventtime">Event Time</label><br>
                            <input class="form-control input-lg" id="eventtime" type="text" name="eventtime" value="{{ spbook.spbook_time_from }} - {{ spbook.spbook_time_to }}" disabled>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="eventguest">Event Guest</label><br>
                            <input class="form-control input-lg" id="eventguest" type="text" name="eventguest" value="{{ spbook.spbook_guest }}" disabled>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="eventbdesc">Event Book Description Message</label><br>
                            <textarea class="form-control input-lg" disabled>{{ spbook.spbook_desc_msg }}</textarea>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="eventbstatus">Event Book Status</label><br>
                            <input class="form-control input-lg" id="eventbstatus" type="text" name="eventbstatus" value="{{ spbook.spbook_status }}" disabled>
                        </div>
                    </div>
                </div>
                <hr/>
                <h3>Service Bookings</h3>
                <div class="row">
                    <div class="col-lg-12">
                    <div class="panel-group" id="accordion">
                        {% for svbook in svbookings %}
                            <div class="panel panel-default">
                                <div class="panel-heading-service">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}">
                                            {{ svbook.service_name }} by {{ svbook.user_full_name }}</a>
                                    </h4>
                                </div>
                                <div id="collapse{{ loop.index }}" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="col-lg-3"><p>Service Date : {{ svbook.svbook_date }}</p></div>
                                        <div class="col-lg-3"><p>Service Time : {{ svbook.svbook_time_from }} to {{ svbook.svbook_time_to }}</p></div>
                                        <div class="col-lg-3"><p>Service Status : {{ svbook.svbook_status }}</p></div>
                                        <div class="col-lg-3"><p>Service Price : SGD${{ svbook.service_pricing }}</p></div>
                                        {% if svbook.service_catering != "" %}
                                            <h5>Catering Details</h5>
                                            {% for cat in catMenu if cat.svbook_id == svbook.svbook_id %}
                                                <div class="col-lg-3"><ul><li>{{ cat.menu_name }}</li></ul></div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    </div>
                </div>
                <hr/>
                <div class="col-lg-12">
                    <div id="calendar"></div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
