{% extends 'templates/admin.twig' %}

{% block main %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay'
                },
                // defaultDate: '2018-03-12',
                navLinks: true, // can click day/week names to navigate views
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                events: [
                    {% for bk in svbook %}
                    {
                        {#id: {{ bk.svbook_id }},#}
                        title: '{{ bk.user_full_name }}',
                        start: '{{ bk.svbook_date }}T{{ bk.svbook_time_from }}',
                        end: '{{ bk.svbook_date }}T{{ bk.svbook_time_to }}'

                    },
                    {% endfor %}
                    // {
                    //     title: 'Long Event',
                    //     start: '2018-03-07',
                    //     end: '2018-03-10'
                    // },
                    // {
                    //     id: 999,
                    //     title: 'Repeating Event',
                    //     start: '2018-03-09T16:00:00'
                    // },
                    // {
                    //     id: 999,
                    //     title: 'Repeating Event',
                    //     start: '2018-03-16T16:00:00'
                    // },
                    // {
                    //     title: 'Conference',
                    //     start: '2018-03-11',
                    //     end: '2018-03-13'
                    // },
                    // {
                    //     title: 'Meeting',
                    //     start: '2018-03-12T10:30:00',
                    //     end: '2018-03-12T12:30:00'
                    // },
                    // {
                    //     title: 'Lunch',
                    //     start: '2018-03-12T12:00:00'
                    // },
                    // {
                    //     title: 'Meeting',
                    //     start: '2018-03-12T14:30:00'
                    // },
                    // {
                    //     title: 'Happy Hour',
                    //     start: '2018-03-12T17:30:00'
                    // },
                    // {
                    //     title: 'Dinner',
                    //     start: '2018-03-12T20:00:00'
                    // },
                    // {
                    //     title: 'Birthday Party',
                    //     start: '2018-03-13T07:00:00'
                    // },
                    // {
                    //     title: 'Click for Google',
                    //     url: 'http://google.com/',
                    //     start: '2018-03-28'
                    // }
                ]
            });
        });
    </script>
    <div class="col-lg-12">
        <div class="dashboard-content" style="min-height: 1900px !important;">
            <h3>Service Details</h3>
            <form method="post" action="/admin/service-details/{{ service.service_id }}">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="serviceid">Service ID</label><br>
                            <input class="form-control input-lg" id="serviceid" type="text" name="serviceid" value="{{ service.service_id }}" readonly>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="servicename">Space Name</label><br>
                            <input class="form-control input-lg" id="servicename" type="text" name="servicename" value="{{ service.service_name }}" disabled>
                        </div>
                    </div>
                    {#<div class="col-lg-6">#}
                    {#<div class="form-group">#}
                    {#<label for="desc">Space Description</label><br>#}
                    {#<input class="form-control input-lg" id="desc" type="text" name="desc" value="{{ space.space_description }}">#}
                    {#</div>#}
                    {#</div>#}
                    {#<div class="col-lg-6">#}
                    {#<div class="form-group">#}
                    {#<label for="type">Space Type</label><br>#}
                    {#<input class="form-control input-lg" id="type" type="text" name="type" value="{{ space.space_type }}">#}
                    {#</div>#}
                    {#</div>#}
                    {#<div class="col-lg-6">#}
                    {#<div class="form-group">#}
                    {#<label for="category">Space Category</label><br>#}
                    {#<input class="form-control input-lg" id="category" type="text" name="category" value="{{ space.space_category }}">#}
                    {#</div>#}
                    {#</div>#}
                    {#<div class="col-lg-6">#}
                    {#<div class="form-group">#}
                    {#<label for="guest">Space Guest</label><br>#}
                    {#<input class="form-control input-lg" id="guest" type="text" name="guest" value="{{ space.space_guest }}">#}
                    {#</div>#}
                    {#</div>#}
                    {#<div class="col-lg-6">#}
                    {#<div class="form-group">#}
                    {#<label for="size">Space Size</label><br>#}
                    {#<input class="form-control input-lg" id="size" type="text" name="size" value="{{ space.space_size }}">#}
                    {#</div>#}
                    {#</div>#}
                    {#<div class="col-lg-6">#}
                    {#<div class="form-group">#}
                    {#<label for="restroom">Space Restroom</label><br>#}
                    {#<input class="form-control input-lg" id="restroom" type="text" name="restroom" value="{{ space.space_restroom }}">#}
                    {#</div>#}
                    {#</div>#}
                    {#<div class="col-lg-6">#}
                    {#<div class="form-group">#}
                    {#<label for="access">Space Access</label><br>#}
                    {#<input class="form-control input-lg" id="access" type="text" name="access" value="{{ space.space_access }}">#}
                    {#</div>#}
                    {#</div>#}
                    <div class="col-lg-12">
                        <iframe width="100%" height="600" src="{{ base_url() }}/service-overview/{{ service.service_id }}"></iframe>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="status">Service Status</label><br>
                            {% if service.service_status == "INCOMPLETE" %}
                                <input class="form-control input-lg" id="status" type="text" name="status" value="{{ service.service_status }}" disabled>
                            {% else %}
                                <select class="form-control input-lg" name="status">
                                    {% if service.service_status== "APPROVED" %}
                                        <option value="APPROVED" selected="selected">APPROVED</option>
                                    {% else %}
                                        <option value="APPROVED">APPROVED</option>
                                    {% endif %}
                                    {% if service.service_status == "PENDING" %}
                                        <option value="PENDING" selected="selected">PENDING</option>
                                    {% else %}
                                        <option value="PENDING">PENDING</option>
                                    {% endif %}
                                    {% if service.service_status == "REJECTED" %}
                                        <option value="REJECTED" selected="selected">REJECTED</option>
                                    {% else %}
                                        <option value="REJECTED">REJECTED</option>
                                    {% endif %}
                                </select>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <button class="btn btn-success" style="width: 100%;margin-top:24px;">Submit</button>
                    </div>
                </div>
                <hr/>
                <div class="col-lg-12">
                    <div id="calendar"></div>
                </div>
                {{ csrf.field | raw }}
            </form>
        </div>
    </div>
{% endblock %}
