{% extends 'templates/admin.twig' %}

{% block main %}
    {#<div class="row">#}
        {#<div class="col-lg-1">#}
            {#<h1><</h1>#}
        {#</div>#}
    {#</div>#}
    <div class="col-lg-12">
        <div class="dashboard-content">
            <h3>User Details</h3>
            <form>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="userid">User ID</label><br>
                            <input class="form-control input-lg" id="userid" type="text" name="userid" value="{{ user.user_id }}" disabled>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="username">User Name</label><br>
                            <input class="form-control input-lg" id="username" type="text" name="username" value="{{ user.user_name }}" disabled>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="title">Title</label><br>
                            <input class="form-control input-lg" id="title" type="text" name="title" value="{{ user.user_title }}" disabled>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="fname">Full Name</label><br>
                            <input class="form-control input-lg" id="fname" type="text" name="fname" value="{{ user.user_full_name }}" disabled>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="email">Email</label><br>
                            <input class="form-control input-lg" id="email" type="text" name="email" value="{{ user.user_email }}" disabled>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="cnumber">Contact Number</label><br>
                            <input class="form-control input-lg" id="cnumber" type="text" name="cnumber" value="{{ user.user_contact_number }}">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="desc">Description</label><br>
                            <input class="form-control input-lg" id="desc" type="text" name="desc" value="{{ user.user_description }}">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="status">Status</label><br>
                            <select class="form-control input-lg" name="status">
                                {% if user.user_status == "ACTIVE" %}
                                    <option value="ACTIVE" selected="selected">ACTIVE</option>
                                {% else %}
                                    <option value="ACTIVE">ACTIVE</option>
                                {% endif %}
                                {% if user.user_status == "SUSPEND" %}
                                    <option value="SUSPEND" selected="selected">SUSPEND</option>
                                {% else %}
                                    <option value="SUSPENDED">SUSPEND</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
                {% if user.company_id == 1 %}
                    <h3>Company Details</h3>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="companyID">Company ID</label><br>
                                <input class="form-control input-lg" id="companyID" type="text" name="companyID" value="{{ company.company_id }}" disabled>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="companyname">Company Name</label><br>
                                <input class="form-control input-lg" id="companyname" type="text" name="companyname" value="{{ company.company_name }}" disabled>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="companydesc">Company Description</label><br>
                                <input class="form-control input-lg" id="companydesc" type="text" name="companydesc" value="{{ company.company_description }}" disabled>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="companyloc">Company Location</label><br>
                                <input class="form-control input-lg" id="companyloc" type="text" name="companyloc" value="{{ company.company_location }}" disabled>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="companyrad">Company Radius</label><br>
                                <input class="form-control input-lg" id="companyrad" type="text" name="companyrad" value="{{ company.company_radius }}" disabled>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
