<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{ title }}</title>
	<link rel="shortcut icon" href="{{base_url()}}/img/galaspace_logo.jpg">
	<!-- CSSPlugins -->
	<link rel="stylesheet" href="{{base_url()}}/node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{base_url()}}/node_modules/slick-carousel/slick/slick.css">
	<link rel="stylesheet" href="{{base_url()}}/node_modules/slick-carousel/slick/slick-theme.css">
	<link rel="stylesheet" href="{{base_url()}}/node_modules/jquery-toast-plugin/dist/jquery.toast.min.css">
	<link rel="stylesheet" href="{{base_url()}}/node_modules/intl-tel-input/build/css/intlTelInput.css">
	<link rel="stylesheet" href="{{base_url()}}/css/sweetalert2.min.css">
	<link rel="stylesheet" href="{{base_url()}}/css/bootstrap-material-datetimepicker.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Custom CSS -->
	<link rel="stylesheet" href="{{base_url()}}/css/styles.css">

</head>
<body>
	{% include "templates/partials/navbar.twig" %}
	<div class="container">
		{% include 'templates/partials/flash.twig' %}
		{% block main %}
		{% endblock %}
	</div>
	<div style="min-height: 100px;"></div>
	{% include "templates/partials/footer.twig" %}

	<!-- JS Plugins -->
	<script src="{{base_url()}}/node_modules/jquery/dist/jquery.min.js"></script>
	<script src="{{base_url()}}/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="{{base_url()}}/node_modules/slick-carousel/slick/slick.min.js"></script>
	<script src="{{base_url()}}/node_modules/jquery-toast-plugin/dist/jquery.toast.min.js"></script>
	<script src="{{base_url()}}/node_modules/intl-tel-input/build/js/intlTelInput.min.js"></script>
	<script src="{{base_url()}}/node_modules/moment/min/moment.min.js"></script>
	<script src="{{base_url()}}/js/sweetalert2.min.js"></script>
	<script src="{{base_url()}}/js/bootstrap-material-datetimepicker.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlFcRXOQRx6coj7hEBm7BfNF_0UpEr808&callback=initmap" defer></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-124591193-1"></script>

	<!-- Custom JS -->
	<script src="{{base_url()}}/js/script.js"></script>


	{% block address_map %}
	{% endblock %}

	{% block select_amenities %}
	{% endblock %}

	{% block country_code %}
	{% endblock %}

	{% block availability_time %}
	{% endblock %}

	{% block days_closed %}
	{% endblock %}

	{% block message_modal %}
	{% endblock %}

	{% block space_image_upload %}
	{% endblock %}
</body>
</html>
