<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{ title }}</title>
	<link rel="shortcut icon" href="{{base_url()}}/img/logo/galaspace_logo.jpg">
	<!-- CSSPlugins -->

	<link rel="stylesheet" href="{{base_url()}}/node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{base_url()}}/node_modules/jquery-toast-plugin/dist/jquery.toast.min.css">
	<link rel="stylesheet" href="{{base_url()}}/node_modules/intl-tel-input/build/css/intlTelInput.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{base_url()}}/css/starrr.css">
	<link rel="stylesheet" href="{{base_url()}}/css/sweetalert2.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{base_url()}}/css/bootstrap-toggle.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<script src="{{base_url()}}/js/sweetalert2.min.js"></script>
	<!-- Custom CSS -->
	<link rel="stylesheet" href="{{base_url()}}/css/styles.css">
	<style>
		.galaspace-logo {
			width: 70px;
			display: inline !important;
			margin-top:6px;
			margin-left:3px;
		}
		.navbar-brand {
			text-align: left;
		}
	</style>
</head>
<body>
{% include "templates/partials/dashboard_navbar.twig" %}
{% include 'templates/partials/flash.twig' %}
{% block main %}
{% endblock %}
{% include "templates/partials/footer.twig" %}

<!-- JS Plugins -->
<script src="{{base_url()}}/node_modules/jquery/dist/jquery.min.js"></script>
<script src="{{base_url()}}/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{{base_url()}}/node_modules/slick-carousel/slick/slick.min.js"></script>
<script src="{{base_url()}}/node_modules/jquery-toast-plugin/dist/jquery.toast.min.js"></script>
<script src="{{base_url()}}/node_modules/intl-tel-input/build/js/intlTelInput.min.js"></script>
<script src="{{base_url()}}/js/starrr.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLwGEAPhprRtR54kk30bj95fnHp9pawzo&callback=initMap" async defer></script>
<script src="{{base_url()}}/js/jquery.validate.min.js"></script>
<script src="{{base_url()}}/js/additional-methods.min.js"></script>
<script src="{{base_url()}}/js/bootstrap-toggle.min.js"></script>
<!-- Custom JS -->
<script src="{{base_url()}}/js/script.js"></script>
<script src="{{base_url()}}/js/dashboard_ajax.js"></script>

{% block country_code %}
{% endblock %}

{% block dashboard_ajax %}
{% endblock %}
</body>
</html>
