<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="{{base_url()}}/img/galaspace_logo.jpg">
    <!-- CSSPlugins -->

    <script src="{{base_url()}}/js/sweetalert2.min.js"></script>
    <script src="{{base_url()}}/node_modules/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="{{base_url()}}/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{base_url()}}/node_modules/jquery-toast-plugin/dist/jquery.toast.min.css">
    <link rel="stylesheet" href="{{base_url()}}/node_modules/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="{{base_url()}}/node_modules/slick-carousel/slick/slick-theme.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{base_url()}}/css/starrr.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/css/bootstrap-select.css">
    <link href="{{base_url()}}/css/sweetalert2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{base_url()}}/css/bootstrap-material-datetimepicker.css">
    {#<link href="https://code.google.com/apis/fusiontables/docs/samples/style/default.css" rel="stylesheet" type="text/css">#}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    {#<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>#}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{base_url()}}/css/styles.css">
</head>
<body>
{% include "templates/partials/navbar.twig" %}
{% include 'templates/partials/flash.twig' %}
{% block main %}
{% endblock %}

{% include "templates/partials/homepage_footer.twig" %}

<!-- JS Plugins -->

<script src="{{base_url()}}/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{{base_url()}}/node_modules/slick-carousel/slick/slick.min.js"></script>
<script src="{{base_url()}}/node_modules/jquery-toast-plugin/dist/jquery.toast.min.js"></script>
<script src="{{base_url()}}/node_modules/intl-tel-input/build/js/intlTelInput.min.js"></script>
<script src="{{base_url()}}/node_modules/moment/min/moment.min.js"></script>
<script src="{{base_url()}}/js/starrr.js"></script>
<script src="{{base_url()}}/js/script.js"></script>
<script src="{{base_url()}}/js/googleAPI.js"></script>
<script src="{{base_url()}}/js/dashboard_ajax.js"></script>
<script src="{{base_url()}}/js/src.js"></script>
<script src="{{base_url()}}/js/booking.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/js/bootstrap-select.js"></script>
<script src="{{base_url()}}/js/bootstrap-material-datetimepicker.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlFcRXOQRx6coj7hEBm7BfNF_0UpEr808&libraries=places"></script>
{#<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlFcRXOQRx6coj7hEBm7BfNF_0UpEr808&callback=initMap"></script>#}
{#<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlFcRXOQRx6coj7hEBm7BfNF_0UpEr808&callback=initMap" async defer></script>#}
<!-- Custom JS -->

{% block country_code %}
{% endblock %}

{% block edit_overview %}
{% endblock %}

{% block address_map %}
{% endblock %}

{% block availability_time %}
{% endblock %}

{% block days_closed %}
{% endblock %}

{% block space_image_upload %}
{% endblock %}

</body>
</html>
