<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{path_for('home')}}" style="margin-top:-9px;" >
                <img class="img-responsive galaspace-logo" src="{{base_url()}}/img/logo/newgs_logo.png" alt="Galaspace Logo">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{base_url()}}/host-dashboard/{{ user_id }}#profile" data-target="#profile" id="profile">Profile</a></li>
                <li><a href="{{base_url()}}/host-dashboard/{{ user_id }}#history" data-target="#history" id="history">History</a></li>
                <li><a href="{{base_url()}}/host-dashboard/{{ user_id }}#MyListings" data-target="#MyListings" id="mylistings">My Listings</a></li>
                <li><a href="{{base_url()}}/host-dashboard/{{ user_id }}#inbox" id="inbox">Inbox</a></li>
                <li><a href="{{base_url()}}/host-dashboard/{{ user_id }}#settings" id="settings">Settings</a></li>
                <li><a href="{{base_url()}}/host-dashboard/{{ user_id }}#MyBookings" id="mybookings">My Bookings</a></li>
                <li><a href="{{base_url()}}/host-dashboard/{{ user_id }}#security" id="security">Security</a></li>
                {% if auth.check %}
                    <li><a href="{{ path_for('auth.signout') }}"><span>Sign out</span></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>