{% if flash.getMessage('info') %}
	<div class="alert flash-info alert-dismissable fade in">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<img src="https://png.icons8.com/windows/20/ffffff/about.png"> {{ flash.getMessage('info') | first }}
	</div>
{% endif %}

{% if flash.getMessage('success') %}
	<div class="alert flash-success alert-dismissable fade in">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<img src="https://png.icons8.com/windows/20/ffffff/ok-hand.png"> {{ flash.getMessage('success') | first }}
	</div>
{% endif %}

{% if flash.getMessage('warning') %}
	<div class="alert flash-warning alert-dismissable fade in">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<img src="https://png.icons8.com/windows/20/333333/error.png"> {{ flash.getMessage('warning') | first }}
	</div>
{% endif %}

{% if flash.getMessage('error') %}
	<div class="alert flash-error alert-dismissable fade in">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<img src="https://png.icons8.com/windows/20/ffffff/box-important.png"> {{ flash.getMessage('error') | first }}
	</div>
{% endif %}
