<footer>
	<div class="fc-cntr">
		<div class="col-lg-4 foot-col">
			<div class="foot-title"> Legal </div>
            <ul>
            <a href="{{base_url()}}/privacy-policy"><li> Privacy Policy </li></a>
            <a href="{{base_url()}}/terms"><li> Terms and Conditions </li></a>
            <a href="{{base_url()}}/cancellation-policy"><li> Cancellation Policy </li></a>
            </ul>
		</div>
		<div class="col-lg-4 foot-col">
			<div class="foot-title"> Company </div>
			<ul>
				<a href="{{base_url()}}/careers"><li>Careers</li></a>
				<a href="{{base_url()}}/about-us"><li>About Us</li></a>
				<a href="{{base_url()}}/press"><li>Press </li></a>
			</ul>
		</div>
		<div class="col-lg-4 foot-col">
			<div class="foot-title"> Galaspace </div>
			<ul>
				<a href="https://newsroom.galaspace.com/"><li>News room</li></a>
				<a href="{{base_url()}}/contact"><li>Contact Us</li></a>
				<a href="{{base_url()}}/faq"><li>Help Centre</li></a>
			</ul>
		</div>
	</div>
</footer>
<div class="foot-rights">
	<div class="sm-title"> Follow Us </div>
	<div class="sm">
		<a href="https://www.facebook.com/galaspaceOfficial/" target="_blank"><div class="s-icon fb"></div></a>
		<a href="https://twitter.com/galaspace" target="_blank"><div class="s-icon twtr"></div></a>
		<a href="https://www.instagram.com/galaspace.sg/" target="_blank"><div class="s-icon insta"></div> </a>
		<a href="https://www.linkedin.com/company/galaspace" target="_blank"><div class="s-icon lkin"> </div></a>
	</div>
	<div class="foot-rights-message">
		&copy; Galaspace <span class="current_year"></span>. All Rights Reserved.
	</div>
</div>