<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{path_for('home')}}">
            <img class="img-responsive galaspace-logo" src="{{ base_url() }}/img/logo/newgs_logo.png" alt="Galaspace Logo">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                {% if auth.check %}
                {% else %}
                {#<li><a href="#/signup"><span>Sign Up</span></a></li>#}
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if auth.check %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {% if user_avatar == "" %}
                                <img src="{{ base_url() }}/img/user2.png" class="img-circle avatar"> {{ user_full_name }} <b class="caret"></b></a>
                            {% else %}
                                <img src="{{ base_url() }}{{ user_avatar }}" class="img-circle avatar"> {{ user_full_name }} <b class="caret"></b></a>
                            {% endif %}
                        <ul class="dropdown-menu">
                            {% if user_admin == "" %}
                            <li><a href="{{ path_for('host-dashboard', {'user_id': user_id}) }}"><span>My Dashboard</span></a></li>
                            {% else %}
                            <li><a href="{{ base_url() }}/admin/dashboard/{{ user_id }}"><span>Admin Dashboard</span></a></li>
                            {% endif %}
                            <li class="divider"></li>
                            <li><a href="{{ path_for('auth.signout') }}"><span>Sign-out</span></a></li>
                        </ul>
                </li>
                {% else %}
                <li><a href="{{base_url()}}/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a data-toggle="modal" data-target="#loginModal" style="cursor: pointer;"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <!-- Login Modal -->
    <div id="loginModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title ">Sign In</h4>
                </div>
                <div class="modal-body">
                    <form id="loginFrm" name="loginFrm" method="POST">
                        <div class="form-group {{ errors.username ? 'has-error' : '' }}">
                            <label for="username">Username</label>
                            <div class="input-group">
                            <span class="input-group-addon">
                                <img src="https://png.icons8.com/windows/20/333333/gender-neutral-user.png">
                            </span>
                                <input class="form-control input-lg" id="username" type="text" name="username" placeholder="Enter username" value="{{ old.username }}">
                            </div>
                            {% if errors.username %}
                                <span class="help-block">{{ errors.username | first }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group {{ errors.password ? 'has-error' : '' }}">
                            <label for="password">Password</label>
                            <div class="input-group">
                            <span class="input-group-addon">
                                <img src="https://png.icons8.com/windows/20/333333/password.png">
                            </span>
                                <input class="form-control input-lg" id="password" type="password" name="password" placeholder="Enter password">
                            </div>
                            {% if errors.password %}
                                <span class="help-block">{{ errors.password | first }}</span>
                            {% endif %}
                        </div>
                        <button class="btn btn-info btn-custom btn-block" id="signin-btn" type="button">Sign In</button>
                        <h4 class="text-center"><a href="{{base_url()}}/reset-password">Forgot Password?</a></h4>
                        <br/>
                        <h4 class="text-center">Not a member yet? <a href="{{base_url()}}/signup">Sign Up</a></h4>
                        {{ csrf.field | raw }}
                    </form>
                    <div class="dtLoad text-center"><img src="{{ base_url() }}/img/icons/Spinner-1s-200px.gif"/></div>
                </div>
            </div>
        </div>
    </div>
</nav>